[2012-03-30 18:31] aureliojargas opened #1 "zzdicesperanto: palavras acentuadas não funcionam"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=1

Reported by project member aureliojargas, Dec 22, 2010

[code]

Meu sistema é UTF-8.

[2012-03-30 18:31] aureliojargas opened #2 "zzchecamd5: não funciona no Mac (comando md5 e não md5sum)"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=2

Reported by project member aureliojargas, Dec 22, 2010

A função usa o comando md5sum do Linux, mas no Mac o comando é md5 (/sbin/md5), e a saída é diferente:

[code]

Sugiro usar a forma cat | md5 para já ter a saída limpa.

Pode fazer algo assim:

[code]

[2012-03-30 18:31] aureliojargas opened #3 "zzferiado: não funciona no BSD (sed s/.../\n/)"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=3

Reported by project member aureliojargas, Dec 22, 2010

Usar o \n dentro do s/// do sed para quebrar linhas só funciona o GNU sed. Para ser mais portável, deve-se usar uma quebra de linha literal.

de:

[code]

para:

[code]

Ou usar outro comando para inserir esta quebra de linha.

[2012-03-30 18:31] aureliojargas opened #4 "zzjquery: não funciona no BSD ou fora do GNU sed"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=4

Reported by project member aureliojargas, Dec 22, 2010

Opção -u é uma extensão do GNU sed, não presente em outros seds.

Os metacaracteres \? e | não funcionam no sed do BSD.

Uma alternativa para o \? é o {0,1}

Já o | não tem equivalente, tem que fazer duas pesquisas diferentes.

[2012-03-30 18:31] aureliojargas opened #5 "zzajuda mostra funções desligadas quando em --tudo-em-um"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=5

Reported by project member aureliojargas, Dec 22, 2010

Quando usando as funções no modo --tudo-em-um, as funções listadas em $ZZOFF são desativadas com um unset. Porém, neste ponto o texto de ajuda já foi composto pela função _extrai_ajuda(), com todas as funções disponíveis, ignorando $ZOFF.

Para o usuário, fic

[2012-03-30 18:32] #5 closed, assigned to nobody

[2012-03-30 18:32] aureliojargas opened #6 "zzloteria2: jogos internacionais na opção loteca"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=6

Reported by project member itamarnet, Dec 28, 2010

Partidas internacionais ondem não existe a indicação de país ou estado falha na exibição do placar, mas a indicação da coluna vencedora corresponde a realidade.

O problema pode ser observado entres os concursos 417 a 420

O problemas foi observado no linux
Siste

[2012-03-30 18:32] aureliojargas opened #7 "zznatal não funcionando"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=7

Reported by project member kenzo.okamura, Dec 28, 2010

O site utilizado mudou e o endereço não é mais válido.

[2012-03-30 18:32] aureliojargas opened #8 "Instaladores para zsh e tcsh quebrados"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=8

Reported by project member kenzo.okamura, Dec 28, 2010

Utilizando as opções --tcshrc e --zshrc em zzzz não gera o comportamento esperado.

Uma mudança pequena no texto que lista as funções (zzzz) fez com que a geração dos arquivos ficasse incorreta.

[2012-03-30 18:32] #8 closed, assigned to nobody

[2012-03-30 18:32] aureliojargas opened #9 "zzhora: Modo interativo (sugestão)"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=9

Reported by hugosenari, Jan 26, 2011

Permitir que zzhora e zzdata funcionem em modo "interativo" similar ao que acontece com o bc se só for digitado bc preferencialmente usando o ultimo resultado para o próximo calculo

[2012-03-30 19:36] aureliojargas opened #10 "zztradutor: passar um arquivo como argumento"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=10

Reported by brusso, Mar 1, 2011

Tentei utilizar a cunção zztradutor para traduzir um arquivo texto porém não consegui ;-(

Tem alguma maneira de fazer isso?

[code]

Se não existir essa possibilidade seria interessante criar.

[2012-03-30 19:37] aureliojargas opened #11 "zzdata2: função testa_bissexto inexistente"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=11

Reported by project member itamarnet, Mar 7, 2011

Dentro da zzdata2 há algumas chamadas a função "zztool testa_bissexto".
Mas não encontrei a função dentro do core funcoeszz.
Função antiga que foi removida ou é uma função nova a ser implementada?

[2012-03-30 19:41] aureliojargas opened #12 "Função nome aleatório"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=12

Reported by brusso, Mar 18, 2011

No site abaixo, você informa a quantidade de carateres e ele gera uma palavra um tanto quanto diferente, e que pode ser utilizada em diversos lugares, como por exemplo nomes de servidores.

http://pedromenezes.com/geradorDeNomes/?n=10

[2012-03-30 19:43] aureliojargas opened #13 "zzipinternet: o site mudou, quebrando a função, solução na descrição"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=13

Reported by mrprompt, Jun 18, 2011

O atual serviço de entrega de IP foi movido, ou seja, a página não funciona mais, resolvi reescrevendo a mesma, mas utilizando outra página, o fonte está abaixo:

[code]

[2012-03-30 19:43] #13 closed, assigned to nobody

[2012-03-30 19:44] aureliojargas opened #14 "zzbrasileirao: Não funciona no BSD (erro no awk)"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=14

Reported by project member aureliojargas, Jul 17, 2011

[code]

Usando a versão de hoje (r584). Não manjo nada de awk, mas parece ser problema de compatibilidade, provavelmente foi usado algo que só funciona no GNU awk.

[2012-03-30 19:45] #14 closed, assigned to nobody

[2012-03-30 19:46] aureliojargas opened #15 "zzcalculaip: patch para mascara default baseado na RFC 1918"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=15

Reported by jonerworm, Jul 19, 2011

Este patch baseado na revisão r529 provê máscara default para redes privadas, conforme RFC 1918:

[code]

[2012-03-30 19:48] aureliojargas opened #16 "Patch for /trunk/zz/zzdetransp"
Issue copied from Google Code http://code.google.com/p/funcoeszz/issues/detail?id=16

Reported by netoab, Today (83 minutes ago)

O site do detran mudou, não funciona este método de consulta

[2012-03-31 04:41] marcellmartini opened #17 "zzcalcula: syntax error"
quando executo o zzcalcula da seguinte forma ocorre erro de syntax:

$ zzseq 5 | zzcalcula --soma
(standard_in) 1: syntax error

[2012-04-04 17:49] aureliojargas opened #19 "zztv: erro no sed: expected context address"
A sintaxe +1 no endereçamento do sed não é portável, é exclusiva da versão GNU e falha em sistemas BSD:

[code]

[2012-04-04 17:59] #7 closed, assigned to nobody

[2012-04-04 18:12] aureliojargas opened #20 "zzmat: cadastrar testes automáticos"
Tem que cadastrar a zzmat na suíte de testes, para garantir seu funcionamento e a precisão dos resultados.

Dá uma olhada em /testador/run, que tem instruções nos cabeçalhos.

Basta criar um arquivo /testador/mat. Pode pegar a /testador/calcula como ponto de partida e cadastrar tantos testes quantos necessários.

[2012-04-04 19:06] #17 closed, assigned to nobody

[2012-04-05 01:01] #19 closed, assigned to nobody

[2012-04-05 11:01] #9 closed, assigned to nobody

[2012-04-05 19:32] #11 closed, assigned to nobody

[2012-04-06 18:11] #20 closed, assigned to itamarnet

[2012-06-12 04:52] infoslack opened #22 "Função zzipinternet não retorna ip"
Em vez de trazer o ip, o retorno é a seguinte msg:

  File moved-http://www.whatismyip.com/faq/automation.asp

[2012-06-12 12:15] robsonpeixoto opened #23 "[zzbrasileirao] falha no sed e dificuldade de leitura"
No MAC OS X Lion estou tendo o seguinte erro:

$ zzbrasileirao
Série A
sed: 1: "/^ *[0-9]+ *$/{N;N;s/\ ...": bad flag in substitute command: '}'

 Libertadores  Sul-Americana  Rebaixamento

Em Sul-Americana, o background azul dificulta a leitura

[2012-06-12 13:54] #22 closed, assigned to nobody

[2012-06-15 02:47] #23 closed, assigned to nobody

[2013-02-23 21:32] aureliojargas opened #24 "zzromanos dá erro no BSD (sed -r, tac, <(...) )"
[code]

Só dá erro quando chamada sem argumentos. Senão, funciona normalmente:

[code]

[2013-02-24 00:12] #4 closed, assigned to nobody

[2013-02-24 00:35] #2 closed, assigned to nobody

[2013-02-24 00:43] aureliojargas opened #25 "zznarrativa não funciona no Mac"
O comando pra tocar WAV é afplay.

[2013-02-24 00:52] #25 closed, assigned to nobody

[2013-02-24 12:29] aureliojargas opened #26 "zzstr2hexa: está interpretando \t e \n"
[code]

E deveria ser

[code]

Pois são dois caracteres. O printf está interpretando o `\t`como Tab. Uma saída é usar o `echo -n`, mas ele não é portável. Pesquisar se o `echo` builtin do Bash traz a opção `-n` desde sempre.

[2013-02-24 14:17] aureliojargas opened #27 "zznome: erro no resultado com acentos"
[code]

O acento aparece corretamente, mas o sed não gostou do que viu :)

Salvei o dump do site em questão antes de ser passado pro sed, e descobriu que a codificação dele é pra lá de bizarra:

[code]

Desconfio que ele pega as info de várias fontes, e algumas delas devem estar em latin1 e outras em UTF-8, ou mesmo outra codificação mais estranha.

Como a saída está correta e dificilmente o site

[2013-02-24 14:20] #27 closed, assigned to nobody

[2013-02-24 23:41] aureliojargas opened #28 "zztweets quebrada"
[code]

[2013-02-24 23:43] aureliojargas opened #29 "zzquebramd5 parou de funcionar?"
[code]

Se não quebra o 1234, tem algo errado :)

[2013-02-24 23:45] aureliojargas opened #30 "zzpiada quebrou"
[code]

[2013-02-24 23:46] aureliojargas opened #31 "zzletrademusica quebrou"
prompt$ zzletrademusica i will survive

prompt$

[2013-02-24 23:46] aureliojargas opened #32 "zzglobo quebrou"
prompt$ zzglobo

prompt$

[2013-02-24 23:47] aureliojargas opened #33 "zzdetransp quebrou"
[code]

[2013-02-24 23:49] aureliojargas opened #34 "zzcinemais quebrou"
prompt$ zzcinemais Uberaba
Uberaba-SP:

prompt$

[2013-02-24 23:53] aureliojargas opened #35 "zzmaiores: a linha "total" não deve aparecer"
[code]

A linha "total" não era pra aparecer. Teste feito no Mac (Mountain Lion).

[2013-02-24 23:55] aureliojargas opened #36 "Resolver o impasse das funções zz*2"
prompt$ ls zz*2.sh
zzdicportugues2.sh zzloteria2.sh

Avaliar o que fazer com estas versões alternativas. Torná-las oficiais, fazer um merge de algumas partes ou descartar de vez.

[2013-02-25 00:00] aureliojargas opened #37 "zzwhoisbr: remover?"
Quando esta função foi criada, em 2001, o banco de dados do Registro.br não era integrado ao banco de dados mundial, então o comando `whois` tradicional não funcionava para domínios brasileiros.

Hoje isso mudou, e o `whois` mostra domínios brasileiros, ficando a zzwhoisbr sem função. Se ninguém se opor, vou desativá-la.

[2013-02-25 00:04] #33 closed, assigned to nobody

[2013-02-25 00:10] #16 closed, assigned to nobody

[2013-02-25 17:59] #15 closed, assigned to nobody

[2013-02-25 18:58] aureliojargas opened #38 "zzpalpite: onde o LANG=en é necessário?"
Tentei alterar a zzpalpite para que ela seja mais amigável ao usuário, aceitando os nomes de loterias acentuados e em maiúsculas também.

Basta trocar:

[code]

por:

[code]

Porém, com a alteração da variável LANG já no início da função, o sed perde o suporte aos caracteres acentuados :/

[code]

Comentando a linha do LANG resolve o problema e _aparentemente_ a função continua funcionando normalm

[2013-02-25 19:22] aureliojargas opened #39 "zzhora: -r com resultado negativo, está 1 dia atrasado"
[code]

Deveria ser **ontem** e **anteontem**, respectivamente.

[2013-02-25 19:52] aureliojargas opened #40 "Criar a zzurlencode e zzurldecode"
É comum nas ZZ receber um texto do usuário e precisar codificá-lo numa URL para enviar ao site em questão, como por exemplos as funções de tradução e dicionário.

Hoje temos a variável `$ZZSEDURL` que faz uma conversão bem básica:

[code]

Mas era bom ter a versão completa, que codifica tudo o que precisar ser codificado.

Já temos a `zzstr2hexa`, que já é mais que meio caminho andado, pois o URL

[2013-02-25 20:20] aureliojargas opened #41 "zzdicportugues: não funciona com palavras acentuadas"
[code]

O site é iso-8859-1.

Algumas tentativas que fiz e não deram certo:

[code]

[2013-02-25 20:53] #30 closed, assigned to nobody

[2013-02-25 20:57] aureliojargas opened #42 "zznoticiaslinux: Viva o Linux à vezes vem zipado"
Em alguns sistemas as notícias vêm gzipadas, tendo que abrir com `gzip -d`. Reportado por Rodrigo Azevedo.

Eu não consigo reproduzir este bug, aqui sempre funcionou normal. Mais alguém com este problema?

[code]

[2013-02-25 21:25] aureliojargas opened #43 "zztrocapalavra: criar a opção -r para ser recursiva"
Ver código da opção -r na zzarrumanome que vai ser praticamente igual.

[2013-02-25 22:49] aureliojargas opened #44 "Ferramenta para detectar código não-portável"
Uma ferramenta que aponte quais funções estão usando código não-portável: sed -r, grep -q, arrays, e toda a selva descrita aqui: https://github.com/aureliojargas/funcoeszz/wiki/Portabilidade

Isso já deve ter pronto em algum lugar. Fazer uma pesquisa para tentar encontrar.

A ferramenta checkbashisms que está na pasta util já é um começo, mas checa apenas comandos do próprio Bash. E geralmente os

[2013-02-26 12:14] #38 closed, assigned to itamarnet

[2013-02-26 16:19] #31 closed, assigned to nobody

[2013-02-26 17:07] aureliojargas opened #47 "Cadastrar TODAS as funções no testador"
O testador informa rapidamente quando uma função está quebrada.

O testador te avisa caso suas mudanças tenham afetado o resultado da função.

O testador garante que sua função funciona 100%.

O testador é seu amigo!

O ideal é que todas as funções, sem exceção, tenham testes cadastrados no testador, para ser fácil identificar quando uma função quebrar ou mudar de comportamento. O ideal é que nenh

[2013-02-26 19:24] #26 closed, assigned to nobody

[2013-02-26 19:28] aureliojargas opened #48 "zzanatel está quebrada"
[code]

[2013-02-26 23:49] #24 closed, assigned to nobody

[2013-02-27 14:57] aureliojargas opened #50 "zzdebgen quebrou (404)"
[code]

[2013-02-27 15:06] aureliojargas opened #51 "zzcorrida: saída incorreta no BSD (Mac)"
[code]

Não parei pra olhar ainda, mas estou desconfiado deste sed:

[code]

O ou | não funciona no sed do BSD. Tem que fazer duas regexes diferentes.

[2013-02-27 15:23] #51 closed, assigned to nobody

[2013-02-27 15:34] aureliojargas opened #52 "zzcorrida: moto2 e moto3: saída incorreta no BSD (Mac)"
[code]

O problema desconfio que é este sed:

[code]

No sed do BSD, o comando `b` não pode ter um `;` logo em seguida, tem que ser uma quebra de linha somente, se bem me lembro. Vou tentar arrumar.

[2013-02-27 15:49] #52 closed, assigned to nobody

[2013-02-27 15:52] aureliojargas opened #53 "zzdefine quebrou"
[code]

Não mostra erro, mas também não mostra o resultado.

[2013-02-27 15:58] aureliojargas opened #54 "zzdicesperanto quebrou (404)"
[code]

[2013-02-27 16:07] aureliojargas opened #55 "zzenglish deve respeitar $ZZCOR"
A zzenglish tem um esquema bacana de destacar em cores alguns trechos da saída.

Porém, ela faz isso sempre, independente do estado da variável `$ZZCOR`. Ela precisa respeitá-la, pois quando o usuário desliga esta variável, ele não quer cores na saída. Isso pode ser por gosto pessoal ou para usar a saída da função em algum script.

Aparentemente está fácil resolver, basta separar os comandos sed r

[2013-02-27 17:52] #3 closed, assigned to nobody

[2013-02-27 18:38] aureliojargas opened #56 "zzmat com erros no testador"
Itamar, aí na tua máquina a zzmat está passando 100% no testador?

Aqui na minha está dando erros:

[code]

Provavelmente é problema de compatibilidade. Mas quero ter certeza que aí do teu lado está tudo OK antes de começar a fuçar nela. Dá medo :)

Executei na mão alguns dos comandos, pra ver o que acontece:

[code]

Essa última do paste deve ser simples de arrumar. Vou dar uma olhada.

[2013-02-27 19:28] #56 closed, assigned to itamarnet

[2013-02-27 22:21] aureliojargas opened #57 "zztradutor: sed incompatível com BSD (1~2)"
[code]

Não usar o endereçamento com `~`. Ver solução alternativa para este caso.

[2013-02-27 22:31] aureliojargas opened #58 "zztradutor: usar zztool texto_em_iso no lugar do iconv"
[code]

Note que esta ferramenta só chama o iconv se o terminal do usuário for mesmo UTF. Porque se o terminal for ISO, não se deve fazer a conversão. A zztradutor hoje converte pra UTF sempre, o que é um bug para quem usa ISO.

No lugar de:

[code]

fica:

[code]

Tem outro iconv no código, e depois pode remover as variáveis locais também.

[2013-02-27 22:37] aureliojargas opened #59 "zzcinemais: usar zztool texto_em_iso no lugar do iconv"
A zztool texto_em_iso só chama o iconv se o terminal do usuário for mesmo UTF. Porque se o terminal for ISO, não se deve fazer a conversão.

Ver mais detalhes no issue #58.

[2013-02-27 23:03] aureliojargas opened #60 "zzdelicious quebrou"
$ zzdelicious mike
$

O usuário mike existe (https://delicious.com/mike), mas a função não retornou nada.

[2013-02-28 02:27] #37 closed, assigned to nobody

[2013-02-28 03:22] #28 closed, assigned to nobody

[2013-02-28 12:28] aureliojargas opened #61 "Suportar zzporcento 1234 +20% (e -20%)"
Hoje a zzporcento só aceita uma porcentagem sem sinal no segundo parâmetro:

[code]

Que tal aceitar também `+` e `-`, e já dar direto o resultado que normalmente hoje aparece na primeira e terceira linhas?

[code]

Os cálculos já estão feitos, é só uma questão de detectar o sinal e modificar a saída.

Se alguém estiver procurando uma tarefa relativamente fácil pra brincar de programar nas ZZ, ess

[2013-02-28 13:03] aureliojargas opened #62 "Ideia: zzdiasuteis sem argumentos mostrar mês atual"
Hoje:

[code]

Proposta:

[code]

Implementação simples para obter o primeiro e último dia do mês atual:

[code]

Pode chamar a própria zzdiasuteis dentro dela mesma, pra evitar um monte de IFs.

[2013-02-28 13:21] #62 closed, assigned to nobody

[2013-02-28 13:54] aureliojargas opened #63 "zznumero para formatar números"
É uma necessidade constante formatar números dentro das funções. Seria bom uma função auxiliar pra isso.

Por exemplo, a zzporcento para números grandes retorna `1234567,89`, mas seria melhor retornar formatado, com os pontos: `1.234.567,89`

E vice-versa, pegar este número com os pontos e vírgulas transformá-lo num float: `1234567.89`.

Outra possibilidade é adicionar o símbolo de dinheiro (e lim

[2013-02-28 14:07] #61 closed, assigned to nobody

[2013-02-28 16:12] #32 closed, assigned to nobody

[2013-02-28 16:35] aureliojargas opened #64 "zzeuro quebrou (site desatualizado)"
Há dois problemas, o primeiro é que não está mostrando a cotação Euro x Real:

[code]

E o segundo é que estes valores estão parados no tempo, o site de origem parou de ser atualizado: http://cotacoes.agronegocios-e.com.br/

A zzmoeda poderia ser um substituto, mas ela traz apenas a cotação Euro x Dólar:

[code]

Então por enquanto vou desativar esta função até acharmos um site substituto.

[2013-02-28 17:42] aureliojargas opened #65 "zzfeed: ler feeds no formato RDF"
[code]

Não funciona. Fazer funcionar.

[2013-02-28 17:50] aureliojargas opened #66 "Funções de notícias: usar zzfeed (ou zzxml)"
Eliminar o que puder dos filtros manuais em sed e usar `zzfeed` sempre que possível. Como ela ainda não suporta o formato RDF (veja issue #65), talvez a saída é usar a `zzxml` mesmo.

Para os feeds que não incluem a data no título, tente extrair ambas as tags de título e data, e depois formatar. Hoje a zzxml não suporta a extração de duas tags simultâneas. Acabei de abrir o issue #67 pra isso.

O

[2013-02-28 17:52] aureliojargas opened #67 "zzxml: extrair múltiplas tags ao mesmo tempo"
[code]

Seria legal se isso funcionasse, para extrair ao mesmo tempo as tags `title` e `dc:date`.

Isso ajudaria a resolver o issue #66.

[2013-02-28 18:04] aureliojargas opened #68 "zzfeed: suportar arquivos locais (ou só STDIN)"
Seria útil para as funções de notícias. Às vezes é preciso converter a codificação antes de fazer o parsing do XML, aí seria bom que a zzxml aceitasse o feed via STDIN.

[code]

[2013-03-01 19:21] douglasjose opened #69 "zzecho -p não pisca no iTerm"
A opção -p não funciona no iTerm. No Terminal funciona normalmente.

[2013-03-01 19:56] aureliojargas opened #70 "zzzz --zshrc precisa levar o PATH em conta"
Atualmente este comando apenas adiciona as linhas no `~/.zshrc`, mas não informa o usuário que o arquivo funcoeszz deve estar no $PATH, senão não vai funcionar.

Aparece o erro:

[code]

Ou o usuário coloca a pasta do script funcoeszz no seu $PATH, ou devemos criar o arquivo de aliases `~/.zzzshrc` já com o caminho completo.

A primeira opção dá ao usuário a flexibilidade de mover o arquivo das ZZ

[2013-03-01 21:13] #69 closed, assigned to nobody

[2013-03-03 00:40] #57 closed, assigned to nobody

[2013-03-03 00:41] #58 closed, assigned to nobody

[2013-03-04 21:14] #55 closed, assigned to nobody

[2013-03-04 22:00] #12 closed, assigned to nobody

[2013-03-04 22:38] aureliojargas opened #72 "zzbolsas: sugestões de melhorias na saída"
[code]
1. remover o trecho "Exibir gráfico interativo".
2. colocar uma linha de título pra saber o que é cada coluna.
3. talvez remover algumas colunas que não sejam importantes.
4. o nome da moeda aparece duas vezes: USD/BRL ... USD/BRL

[code]
1. Remover o `N/D` da linha de título da tabela (basta trocar por três espaços em branco).
2. Reduzir o espaçamento entre a 1ª e 2ª colunas.

[2013-03-07 00:17] #63 closed, assigned to nobody

[2013-03-12 14:58] aureliojargas opened #74 "sugestão de função nova: zzfinanciamento"
Sugestão do Carlos Alvsan: "Hoje precisei calcular rapidamente um valor de financiamento, abri o opencalc e demorou pra rodar e tal, na mesma hora pensei, vou ver se já não tem pronto nas funcoeszz, e verifiquei que não tem, existe planos para adicionar estes cálculos?"

O que tem hoje é a zzporcento,  zzcalcula e zzmat. Usando-as em conjunto você consegue alguma ajuda pros cálculos.

Mas acho que

[2013-03-12 15:15] aureliojargas opened #75 "Criar a zzaleatorio, para substituir o $RANDOM"
A `$RANDOM` não é 100% portável. É exclusivo do Bash, não funciona em outros shells. Por enquanto nossa meta é ser Bash-only, então não há problema.

A lista de funções que a utilizam hoje.

[code]

Não há pressa, mas no futuro podemos seria bom ter uma solução portável pra gerar números aleatórios.

Eu imagino o uso assim: `zzaleatorio [número-inicial] número-final`.

Exemplos:

[code]

Bem simpl

[2013-03-13 18:14] #74 closed, assigned to nobody

[2013-03-15 10:12] #72 closed, assigned to itamarnet

[2013-03-23 14:13] aureliojargas opened #78 "zzlorem: erro se argumento não numérico"
[code]

Faltou a verificação do argumento, que deve ser numérico (e positivo).

Eu não vou estragar a sua diversão dando o código pronto, ok? :) Mas dou uma dica: já tem uma função prontinha para fazer esta verificação.

Como esta função somente recebe um único argumento, e a mensagem de uso já explica que deve ser um número, você pode tanto mostrar a mensagem de erro padrão (zztool -e) ou mostrar

[2013-03-23 19:16] aureliojargas opened #79 "Esquema padronizado para cache local"
Várias funções guardam uma cópia local dos dados para tornar mais rápida a execução, não precisando baixar da internet toda vez.

Hoje isso é feito de maneira relativamente padronizada. Vide zzramones para o caso simples de só baixar o cache se necessário. Vide zzhowto para o caso mais avançado de suportar a opção --atualiza para forçar a limpeza do cache.

Talvez poderíamos bolar algo mais padron

[2013-03-23 20:52] aureliojargas opened #80 "zzquimica: fazer cache"
Já que o site consultado é sempre o mesmo.

[2013-03-24 03:46] #80 closed, assigned to nobody

[2013-03-24 03:50] #75 closed, assigned to nobody

[2013-03-25 10:20] itamarnet opened #81 "Alterar zzfreshmeat para zzfreecode"
Já não seria hora de mudar o nome da zzfreshmeat para zzfreecode.
Para quem é mais antigo, lembra que o site tinha esse nome, mas acho que a nova denominação faz mais sentido, e acredito que a função poderia acompanhar o novo nome.

O que acha? Vale a pena a mudança? ( Referência: https://github.com/aureliojargas/funcoeszz/blob/master/zz/zzfreshmeat.sh )

[2013-03-25 18:41] itamarnet opened #82 "Ampliar o leque de comentários da zzlimpalixo"
Ola Aurelio,
olha eu de novo dando mais pitacos!

Já pensou em ampliar o leque de opções dos comentários disponíveis que são retirados no zzlimpalixo?

Atualmente pelo que vi apenas retira os comentários do vim, além do tradicional '#', e ainda assim quando estão no começo da linha.
Seria interessante também retirar comentários que não fossem no início da linha apenas.

E ampliar para os comentári

[2013-03-26 12:42] ykaruss opened #83 "zztwitter"
Tweeta oq foi escrito no parametro.

ex: zztwitter nick:senha Olá mundo!!

ou pode haver um gerenciamento interno para isso, tipo
zztwitter {login ou -l [login senha] } {timeline 50 [mostra os ultimos 50 itens da sua timeline]} {ver @aureliozz [mostra os ultimos 50 (ou um valor default "10") do user @aureliozz]}

espero ter ajudado... só não ajudo na programação pq sou muito noob com isso :(

[2013-03-26 17:28] aureliojargas opened #84 "Fazer a zzspoleto"
Similar à zzsubway já existente, podemos fazer a do Spoleto, que por sinal tem bem mais opções de ingredientes! A relação entre os ingredientes parece ser mais complexa, mas talvez possamos usar o mesmo algoritmo do Subway.

A Letícia Santos me enviou a lista completa das possibilidades:

[code]

[2013-05-11 11:36] itamarnet opened #86 "Fazer a zzmariadb"
Similar a recém criada zzpgsql, produzir uma função que possa retornar a listagem de comandos usada no banco de dados MariaDB.
No momento a listagem existente é pequena na língua portuguesa, então acho prudente aguardar até que esteja mais completa.
Ou posso optar por deixar essa listagem seja exibida em inglês, como é na zzpgsql.
Obs.: A listagem da zzpgsql só não é em português, devido a traduçã

[2013-06-03 14:40] kemelzaidan opened #87 "zzpronuncia parece não estar funcionando"
a função zzpronuncia parece não estar funcionando mais. Digitar qualquer palavra (inclusive o exemplo apple) retorna "palavra não encontrada"

[2013-06-03 22:40] #87 closed, assigned to nobody

[2013-06-05 12:19] itamarnet opened #88 "zzcapitalize desconsiderar espaços iniciais com a opção -1"
Hoje a função zzcapitalize quando usada com a opção -1, deixa em maiúscula apenas a primeira letra de cada linha.
Entretanto se a linha começar com um espaçamento qualquer, a primeira letra após esse espaço não é convertida para maiúscula.

Acredito que algumas pequenas modificações na variável primeira, que contém as instruções sed, possa resolver essa questão.

Mas é um comportamento desejado nã

[2013-06-05 20:59] #88 closed, assigned to aureliojargas

[2013-06-15 15:01] #83 closed, assigned to nobody

[2013-06-17 17:37] itamarnet opened #89 "zzfatorar: Usar o comando factor"
Hoje visitando o site do Dicas-L ( http://www.dicas-l.com.br/arquivo/factor:calculo_do_fatorial_de_um_numero.php ), fiquei conhecendo o comando factor. Apesar do artigo enganar-se ao falar de fatorial, na verdade trata da decomposição em fatores primos do número fornecido. No zzfatorar, eu uso um arquivo que me lista os números primos para essa mesma finalidade, que faço em cache após baixar do si

[2013-06-17 22:45] #89 closed, assigned to nobody

[2013-07-03 04:39] #86 closed, assigned to itamarnet

[2013-07-03 13:39] #78 closed, assigned to nobody

[2013-07-07 04:50] alexandre-mbm opened #97 "nany zzsecurity"
Crio esta *issue* para dizer-lhes que estou trabalhando em um *branch* "trabalhos-de-nany". Comecei pelo mais fácil: sanando a nany para a ``zzsecurity``.

Nesse momento, estou terminando de sanar a nany para ``zzpais`` — #98. Não me apressarei em fazer a *pull request*. Quero sanar a nany para mais coisa, antes. Para cada sanação de função eu faço um commit no branch "trabalhos-da-nany".

Quero s

[2013-07-07 04:53] alexandre-mbm opened #98 "nany zzpais"
Continuando o que comecei com a _issue_ #97, estou trabalhando na sanação da nany com a `zzpais`.

[2013-07-07 05:32] alexandre-mbm opened #99 "nany zzenviaemail"
**Funções com número inválido no campo Versão: (deve ser decimal)**
zz/zzenviaemail.sh: # Versão: 20091010

O _pull request_ #92 resolveu esta _issue_ antes das intenções manifestas na _issue_ #97. É por isso que o _commit_ que fecha esta _issue_ não consta no _branch_ `trabalhos-de-nany`. Ele está no _branch_ `zzenviaemail`: 5f0995619599ec6f7f4ed66ff1a3bdc14a7ea7ae.

[2013-07-07 06:05] alexandre-mbm opened #100 "nany zzoperadora"
**Funções que falta a quebra de linha na última linha**
zz/zzoperadora.sh

Coisa pequena, mas é _commit_ no _branch_ `trabalhos-de-nany`. Fiz-lo. Ver _issue_ #97. O _pull request_ GERAL vem aí!

[2013-07-07 06:57] alexandre-mbm opened #101 "play é reclamado por "zzzz --teste". Dependência de zznarrativa?"
[code]

[code]

No **Ubuntu 12.04.2 LTS** realmente não há `afplay`. Mas instalar o pacote `mpg123` não instala o comando **`play`** que o `zzzz --teste`. O erro no terminal pela falta de `play` sugere a instalação do pacote `sox`:

[code]

Assim, `zzzz --teste` deixa de reclamar falta de `play`. Quanto à `zznarrativa`, deve ser ser investigado.

[2013-07-07 13:30] alexandre-mbm opened #103 "nany zzpalpite"
**Funções com cabeçalho >78 colunas**
zz/zzpalpite.sh: # Uso: zzpalpite [quina|megasena|duplasena|lotomania|lotofacil|federal|timemania|loteca]

[2013-07-09 23:40] frankjuniorr opened #104 "Sugestão de função nova: zzmonitor"
Olá pessoal,

Tive uma ideia hj, de uma nova zz, que seria um monitor do sistema. Eu não sei se se encaixa na filosofia das funcoeszz, mas enfim, resolvi dá essa sugestão.
Eu fiz um esboço do código bem rapidão no trabalho, com um exemplo, de como seria +/- isso, que pode ser acessado aqui:
https://github.com/frankjuniorr/MeusScripts/blob/master/monitor.sh

De cara esse código já tem um monte de m

[2013-07-23 15:41] #99 closed, assigned to nobody

[2013-07-23 15:44] #100 closed, assigned to nobody

[2013-07-23 19:05] #101 closed, assigned to nobody

[2013-07-23 20:56] aureliojargas opened #105 "doc: guia de zztool para desenvolvedores"
@alexandre-mbm comentou em issue #79 :

Algo que seria muito útil para novatos nas ZZ seria uma documentação mostrando exemplos dos usos mais comuns das ferramentas internas da zztool ( https://github.com/aureliojargas/funcoeszz/blob/master/funcoeszz#L110 ). Testar se o argumento informado pelo usuário é um número, testar se o arquivo existe, as facilidades da `multi_stdin`, conversão iso/utf, ess

[2013-07-23 22:44] aureliojargas opened #106 "zzdatafmt: bug em alguns tokens"
[code]

O resultado deveria ser `fevfev`.

O problema foi os comandos sed adicionados para alguns tokens, no formato:

[code]

Onde o `printf` original não imprimia uma quebra de linha. O sed, porém, **sempre** imprime uma quebra de linha no final.

Estes são os commits que adicionaram os comandos sed: 6e46d9534ac6bc630554d0628a5878c8893f7582 e 815a0b0534c4bb111a48d055adfd56fd17496427.

Vou arruma

[2013-07-23 23:04] #106 closed, assigned to aureliojargas

[2013-07-23 23:16] aureliojargas opened #107 "zzdatafmt: não reconhece mais data de entrada no formato AAAA-MM-DD"
[code]

Bug introduzido no commit 6e46d9534ac6bc630554d0628a5878c8893f7582.

@itamarnet Lembrar de sempre rodar o testador antes de fazer os commits que alteram o funcionamento da função, ok? :)

Pode deixar que este eu arrumo agora.

[2013-07-24 00:14] #107 closed, assigned to aureliojargas

[2013-07-24 15:26] aureliojargas opened #108 "zznumero --texto não está no formato padrão"
Primeiro, um problema de formatação, há um espaço em branco no início do texto de resultado. Lembrando que a saída das ZZ deve ser sempre direta, sem espaços em branco ou linhas em branco desnecessários ao redor do resultado:

[code]

Outro problema deste exemplo: "um mil" deixou de ser usado, acho que deveria ser somente "mil". Já "um milhão", trilhão, etc continua com "um".

Hoje a zznumero está

[2013-07-24 15:41] aureliojargas opened #109 "zznumero com saída sem o sufixo "inteiros""
Para usar a saída da zznumero em outras funções, como a zzdatafmt, geralmente o sufixo padrão "inteiros" é indesejado.

Eu posso escolher outro sufixo com a opção -s, mas não posso escolher um sufixo vazio, ou seja, não usar nenhum sufixo:

[code]

Talvez, o melhor fosse somente usar o sufixo padrão "inteiros" quando o número tiver casas decimais.

Para números inteiros, na grande maioria dos usos

[2013-07-24 17:32] aureliojargas opened #110 "zznumero --texto com 1, 0 e -1"
[code]

1 — Está sobrando um "e" no início
0 — Deveria retornar "zero"
-1 — Está sobrando um "e" no início, deveria ser "inteiro" no singular

[2013-07-24 18:41] aureliojargas opened #111 "zznumero não aceita números com pontos nos milhares"
[code]

[2013-07-24 19:10] aureliojargas opened #112 "zznumero e casas decimais, qual o padrão?"
Hoje a zznumero está, por padrão, formatando o número como duas casas decimais:

[code]

É preciso usar a opção -f para obter a precisão máxima:

[code]

Eu acho mais simples e mais previsível, se deixar a previsão máxima como padrão, e se o usuário quiser só duas casas, informa a precisão desejada com o `-f 2`. Assim podemos excluir esse argumento especial '-' da opção -f, simplificando as coisas

[2013-07-28 03:55] itamarnet opened #113 "zzdatafmt: Saída textual em francês de Agosto"
Comigo o testator acusa erro quando executa esse teste:
zzdatafmt --fr -f MMM 01/08/2000
que deveria retornar "Aoû", mas retorna um caracter estranho no lugar do "û".
Tentei algumas maneiras de contornar o problema, mas falharam.
Isso acontece no seu computador? Alguma sugestão?

[2013-07-28 04:18] #112 closed, assigned to itamarnet

[2013-07-28 04:22] #110 closed, assigned to itamarnet

[2013-07-28 04:24] #109 closed, assigned to itamarnet

[2013-08-02 21:06] aureliojargas opened #114 "zzmat: eq2g com espaços em branco no início"
[code]

Fazer remover para economizar os bytes do planeta ;)

[2013-08-02 22:29] #114 closed, assigned to itamarnet

[2013-08-03 02:45] #111 closed, assigned to itamarnet

[2013-08-05 05:58] igorsantos07 opened #115 "Sugestão: zzconversor"
Seria legal ter um acesso rápido ao conversor de medidas mágico do Google: por exemplo, quando digitamos ["1400ft in km" e ele retorna "0.42672km"](https://www.google.ca/search?client=opera&q=1400ft+in+km&sourceid=opera&ie=utf-8&oe=utf-8&channel=suggest)

[2013-08-05 22:18] aureliojargas opened #116 "ZZ a la carte não está listado no site"
http://funcoeszz.net/a-la-carte/

O link ainda funciona, mas não há menção a ele no site das ZZ.

Note que o a la carte também precisa ser atualizado para a versão nova 13.2 das ZZ.

[2013-08-05 23:29] aureliojargas opened #117 "Colocar (ou hospedar?) site das ZZ no GitHub"
Hoje o site das ZZ (http://funcoeszz.net) é um bando de arquivos do http://txt2tags.org e alguns scripts, aqui numa pasta de minha máquina, que converto pra HTML e envio via `rsync` pra minha conta no DreamHost. O site depende exclusivamente de mim para ser atualizado.

Vejo duas soluções:

1. Colocar os fontes do site aqui no GitHub e qualquer um poderá editar os fontes txt2tags e editá-lo. A atu

[2013-08-06 14:37] aureliojargas opened #118 "Migrar testador para o formato novo"
Criei um software testador de linhas de comando (ainda não lançado, ainda sem nome) e vou migrar todos os testes do testador atual das ZZ para o formato utilizado neste software novo, que é bem mais simples.

A ideia é que qualquer um possa criar arquivos de teste, já que basta copiar e colar direto da linha de comando. Exemplo de arquivo de testes:

[code]

Só isso. O testador se encarrega de exe

[2013-08-07 14:50] itamarnet opened #119 "Uso do bc: Números com mais de 68 dígitos, geram 'escape'."
Por acaso o bc, que é usado em várias funções dentro das ZZ, tem um comportamento de escapar números com mais de 68 dígitos no BSD?

Para ilustrar:
$ zzmat fat 52
80658175170943878571660636856403766975289505440883277824000000000000

$ zzmat fat 53
42748832840600255642980137533893996496903437883668137246720000000000\
00

$ seq 1 102 | paste -s -d\* | bc
961446671503512660926865558697259548455355905

[2013-08-07 20:33] aureliojargas opened #120 "zzbraille: sed: 1: "/^[?]/p": RE error: illegal byte sequence"
[code]

Nos comentários do issue #113 , o @itamarnet pediu para testar a zzbraille para uma mudança recente.

Mas eu acho que esse erro é em outra parte do código. Agora estou sem tempo de investigar isso, então vou deixar o issue.

[2013-08-08 16:21] #120 closed, assigned to nobody

[2013-08-10 13:40] #113 closed, assigned to nobody

[2013-08-13 11:46] #119 closed, assigned to aureliojargas

[2013-08-22 22:23] #118 closed, assigned to aureliojargas

[2013-08-23 01:28] aureliojargas opened #121 "Amenizar a quebradeira que o testador novo mostrou"
Agora que a migração para o testador novo foi finalizada (veja #118 ), temos uma nova tarefa grande pela frente.

Ao rodar o testador, agora várias funções que antes estavam OK aparecem quebradas. Os motivos basicamente são dois:

1) **Brancos**

No processo de migração, eu removi os espaços em branco inúteis dos resultados esperados. Seja espaços em branco no início ou fim das linhas, seja linhas

[2013-08-27 16:22] aureliojargas opened #122 "O core deve ser portável"
O core das Funções ZZ (arquivo funcoeszz) precisa ser portável. Fazer uma auditoria completa e resolver qualquer problema de portabilidade que exista. Mencionar este issue nos commits, para acompanhamento.

**Motivo:** O testador novo (clitest) usa `/bin/sh` e pode não funcionar em alguns ambientes caso usemos comandos não portáveis no core. Isso acontece porque o script `testador/run` usa a opção

[2013-09-16 11:21] itamarnet opened #123 "zzxml --tidy: Não elimina as linhas em branco"
Quando faz-se uso da opção --tidy, as tags são colocadas uma por linha.
Um efeito colateral é o surgimento de linhas em branco, especialmente quando se tem tags justapostas originalmente.

Na linha 95 há um comando usando o sed que eliminaria esse efeito, mas observando o conteúdo dos arquivos zzxml.in.xml e zzxml.out.xml na diretório testador, isso não acontece.
Todavia olhando o código em si, de

[2013-09-17 23:35] #67 closed, assigned to nobody

[2013-09-17 23:55] #123 closed, assigned to aureliojargas

[2013-09-26 13:39] #82 closed, assigned to aureliojargas

[2013-09-30 11:42] itamarnet opened #124 "zzxml: Bug com a opção --ident"
Ao contrário do imaginado o bug não aparece apenas com tag `<a>`, mas com todas as tags com atributo href, src e type que podem conter nos seus valores o caractere '/'.

Ainda pesquisando se pode haver outro atributo com o mesmo problema, mas de toda forma acredito que um sed antes e outro depois do ponto onde se aplica o filtro resolve o problema.

[2013-10-01 15:44] #124 closed, assigned to itamarnet

[2013-10-01 22:15] itamarnet opened #125 "zzxml: Limitações com --tag e --notag"
Com tags aninhadas iguais o comportamento das opções --tag e --notag não corresponde ao esperado.

Esse tipo de problema deve aparecer principalmente em arquivos html com o uso de tags table, ul, ol:

[code]

No exemplo mostrado se usar o opção --tag ul, vai considerar a abertura da linha 1 com o fechamento na linha 7, e não com o fechamento da linha 10 que seria o correto.

[2013-11-05 13:19] #59 closed, assigned to nobody

[2013-11-05 13:19] #34 closed, assigned to nobody

[2013-11-05 13:20] #1 closed, assigned to nobody

[2013-11-13 10:27] itamarnet opened #126 "Nova variável auxiliar no core da Funções ZZ"
Que tal incluir a variável ZZAWK, como uma variável auxiliar no core das Funcoes ZZ?

O objetivo é substituir todas as ocorrências da chamada do comando awk.

Assim poderia garantir portabilidade da versão do awk em uso, seguindo os padrões POSIX, para isso a variável seria declarada dessa forma: ZZAWK= 'awk -W posix'.

O awk tem várias implementações, a saber: awk, awka, bwk, nawk, mawk, jawk, qt

[2013-11-13 15:20] #98 closed, assigned to nobody

[2013-11-13 15:32] #103 closed, assigned to nobody

[2013-11-13 16:08] #108 closed, assigned to itamarnet

[2013-11-13 22:54] itamarnet opened #127 "Mensagem de erro opcional na zztool"
Dentro do core das Funções ZZ, na função zztool para as opções "arquivo_vago" e "arquivo_legivel", colocar a mensagem de erro como opcional, assim como nos demais testes, trocando respectivamente:
[code]
por:
[code]

[2013-11-13 23:34] #65 closed, assigned to nobody

[2013-11-14 00:09] #68 closed, assigned to nobody

[2013-12-04 12:08] itamarnet opened #128 "Portabilidade para "zztool eco""
Levando em conta a portabilidade sugerida nas páginas do wiki, acredito ser interessante mudar essas duas chamadas dentro da função `zztool eco`
de:

[code]

para:

[code]

Referenciando a issue #122

[2013-12-23 21:52] guxtavo opened #129 ""zzzz --teste" nao testa mpg123"
[gfigueir@gux ~]$ zzzz --teste
Procurando o comando awk...   OK
Procurando o comando bc...    OK
Procurando o comando cat...   OK
Procurando o comando chmod... OK
Procurando o comando clear... OK
Procurando o comando cp...    OK
Procurando o comando cpp...   Comando opcional 'cpp' não encontrado
Procurando o comando cut...   OK
Procurando o comando diff...  OK
Procurando o comando du...    OK
Proc

[2014-01-08 03:07] fcrespo82 opened #130 "zzoperadora com resultado incorreto"
Se entro no site e realizo a busca vem um resultado, pelo curl vem outro.

Exemplo: meu celular aparece como tim no site e no zzoperadora como vivo...

[2014-01-08 14:22] schragge opened #131 "zzaleatorio: od called with wrong option"
(Sorry, I don't speak Portuguese)

[code]

and

[code]

should probably be

[code]

which is the same as

[code]

and converts two bytes to an unsigned short integer in the range 0..65535.

As it stands now, _od -N2 -i_ outputs integers in the range -32768..32767. Negative values would fail the test zztool testa_numero approx. half the time. If you are unlucky, you'll get a negative value twice in

[2014-03-12 14:31] #129 closed, assigned to nobody

[2014-03-13 12:26] #131 closed, assigned to nobody

[2014-03-14 04:36] #40 closed, assigned to nobody

[2014-03-15 20:24] #10 closed, assigned to nobody

[2014-03-16 20:39] #125 closed, assigned to itamarnet

[2014-03-23 17:23] tarciozemel opened #132 ""zzsetup""
Sou novo no mundo Linux e acabei de conhecer as **Funções ZZ**. Achei tudo fantástico, parabéns a todos que participaram e participam do projeto!

Ao instalar, fui testar o `zzdolar` e me voltou um erro porque não tinha o **lynx** instalado. Foi só instalar e rodar novamente que ficou tudo bem. Mas isso me fez pensar no seguinte: não seria interessante haver algo como um `zzsetup` (ou algo do tipo

[2014-03-23 20:59] #132 closed, assigned to nobody

[2014-03-23 21:02] tarciozemel opened #133 ""zzbtc" e "zzltc""
Sugestão: funções `zzbtc` e `zzltc`, para mostrar a cotação de **Bitcoin** e **Litecoin**, respectivamente - de repente com parâmetros para mostrar em Real, Dólar e outros.

[2014-03-24 21:35] #133 closed, assigned to nobody

[2014-03-30 13:52] #126 closed, assigned to nobody

[2014-04-06 15:12] #6 closed, assigned to itamarnet

[2014-04-12 11:54] itamarnet opened #138 "Refazer zzjquery"
O site consultado pela zzjquery mudou tanto o endereço como estrutura.
No momento usando a cópia feita do site de quando a zz era funcional, todavia é necessário reescreve-la pois há novas funcionalidades que o novo site tem, e não é contemplada nessa cópia da antiga.

[2014-04-18 13:37] itamarnet opened #139 "zzxml: Filtrar tags por atributos"
A zzxml evoluiu consideravelmente, mas ainda peca em alguns itens que acredito que podem ser melhorados.
Uma melhoria interessante é a possibilidade de usar as opções --tag --notag --untag junto com um filtro de atributos, algo similar como acontece na biblioteca jQuery.
E a forma poderia ser assim:

[code]

A priori penso apenas em usar esses atributos sempre associados a uma tag, mas pode-se con

[2014-04-18 18:43] aureliojargas opened #140 "Novo esquema de metadata"
Isso não é uma proposta nem uma decisão. É apenas um registro de uma ideia legal que conheci hoje e que talvez possamos usar no futuro:

https://github.com/erichs/composure

É um projeto similar às ZZ, no sentido de criar uma espécie de framework para facilitar a criação de coleções de funções no shell.

Em vez de usar comentários para fazer a metadata de cada função (descrição, nome do autor, ver

[2014-04-19 16:39] #138 closed, assigned to nobody

[2014-06-08 06:22] igorsantos07 opened #141 "zzwhoisbr exibe informação de ajuda no final do conteúdo"
[code]

[2014-06-08 06:24] #141 closed, assigned to nobody

[2014-08-24 15:04] itamarnet opened #142 "zzcriptomoeda: Cotações divergentes em fontes variadas."
O site original de consulta do bitcoin (www.bitinvest.com.br) na função, deixou de informar cotações da moeda litecoin.
Ao procurar alternativas para suprir esse recurso, constatei em vários sites cotações diferentes da moeda bitcoin para o Real, a saber: www.basebit.com.br, www.mercadobitcoin.com.br, http://bitcoinhoje.com, http://www.brascoins.com.

Portanto me limitei apenas a corrigir a não ex

[2014-08-27 19:14] itamarnet opened #143 "Desativar zzfreshmeat"
O site freshmeat (freecode) está congelado desde 18/06/2014, não recebendo qualquer atualização que segundo os donos foi causado pela baixa procura.

Talvez seja o caso de aposentarmos essa função, para não incorrer no erro de retornar projetos inexistentes, inativos ou desatualizados.

[2014-09-03 13:12] #143 closed, assigned to nobody

[2014-09-03 18:58] pvital opened #145 "zzsigla: não retorna resultados"
Reportado por Douglas Jose via lista de discussão [1].

zzsigla não retorna resultados:
$ zzsigla IMHO
$

[1] http://miud.in/1FJH

[2014-10-08 21:11] #145 closed, assigned to nobody

[2014-10-12 13:20] itamarnet opened #148 "zzglobo não funciona, url fora!"
A url da zzglobo não fornece mais nenhum retorno, e acredito que esteja assim desde a reformulação do portal do Terra.
Não encontrei uma nova url para substitui-la, mas considerando o contexto planejo desativá-la, visto que a zztv pode substituir a função como um todo.
Se acaso alguém encontrar um link que possa ser usado para esse fim, a zzglobo permanece, caso contrário o desfecho será sua desco

[2014-10-25 10:06] #148 closed, assigned to nobody

[2014-10-25 18:21] #81 closed, assigned to aureliojargas

[2014-11-29 22:52] IgorIsaiasBanlian opened #149 "Função para mensurar a velocidade da Internet via speedtest.net"
Existe um programa/script em Python que faz exatamente isso:

=> https://raw.github.com/sivel/speedtest-cli/master/speedtest_cli.py

Ele roda via linha de comando, você pode passar ou não parâmetros opcionais para ele (como selecionar o local do servidor de destino, por exemplo), ele exibe os resultados de ping, taxa de download e taxa de upload de uma forma amigável, e me parece que não tem nada

[2014-12-11 01:01] #35 closed, assigned to nobody

[2014-12-11 01:07] #79 closed, assigned to nobody

[2014-12-11 01:10] #128 closed, assigned to aureliojargas

[2014-12-12 22:25] ghost opened #150 "Erro ao rodar zzgeoip"
[~/funcoeszz/zz]$ zzgeoip
awk: /tmp/zz.xml.0_tag: line 5: regular expression compile failed (bad class -- [], [^] or [)
^<td[^><]*[^
awk: /tmp/zz.xml.0_tag: line 5: syntax error at or near <
awk: /tmp/zz.xml.0_tag: line 5: runaway regular expression /) { tag[td ...

[2014-12-12 22:41] ghost opened #151 "Erro ao rodar zzlinuxnews"
[~/funcoeszz/zz]$ zzlinuxnews
- FreshMeat (http://freshmeat.net/?format=atom):
- SlashDot (http://rss.slashdot.org/Slashdot/slashdot):
  awk: /tmp/zz.xml.7_tag: line 5: awk: /tmp/zz.xml.8_tag: line 5: regular expression compile failed (bad class -- [], [^] or [)
  ^<item[^><]_[^
  awk: /tmp/zz.xml.8_tag: line 5: syntax error at or near <
  awk: /tmp/zz.xml.8_tag: line 5: runaway regular expression

[2014-12-12 23:26] ghost opened #152 "Saída do zzcalculaip"
Caros, não sou muito bom em redes, mas para um ip 192.168.1.10 por exemplo a rede deve ser 192.168.1.0 não? Segue a saída do zzcalculaip:

[~/funcoeszz/zz]$ zzcalculaip 192.168.1.23
End. IP  : 192.168.1.23
Mascara  : 255.255.0.0 = 16
Rede     : 192.168.0.0 / 16
Broadcast: 192.168.255.255

[2014-12-12 23:47] #152 closed, assigned to nobody

[2014-12-13 00:42] #151 closed, assigned to nobody

[2014-12-13 00:43] #150 closed, assigned to nobody

[2014-12-16 10:30] rennanzera opened #153 "Formatação de cpf/cnpj utilizando as funçoes zzcpf e zzcnpj"
Sugiro que, além de validar um cpf e cnpj, as funções zzcpf e zzcnpj possam formatar, quando válido, um cpf 00000000000 para 00.000.000-00, da mesma forma para o cnpj. Basta colocar uma opção -f para o comando, que irá passar a saída pelo sed, com as regex a seguir.

cpf: sed 's:\(...\)\(...\)\(...\)\(.*\):\1.\2.\3-\4:'
cnpj antigo: sed 's:\(...\)\(...\)\(...\)\(....\)\(.*\):\1.\2.\3/\4-\5:'
cnpj

[2014-12-30 18:18] ghost opened #154 "Função para listar quantidade de vezes de um número sorteado na mega-sena"
Oi. Eu fiz um script aqui para listar quantas vezes um número foi sorteado na mega-sena. Minha pergunta é se acham que vale a pena criar uma função zz assim. Abaixo segue o código que ele tem hoje. Se acharem que vale a pena, que seria interessante, posso ler o coding style para ver como acrescentar ele ao Funções ZZ.

wget http://www1.caixa.gov.br/loterias/_arquivos/loterias/D_megase.zip && unzip

[2015-01-17 04:37] kemelzaidan opened #155 "zzdolar parou de funcionar"
zzdolar parou de funcionar. Parece ter sido uma mudança na página de source.

versão: 13.2

[2015-01-23 09:01] aureliojargas commented on #155
Fixed by #156

[2015-01-23 09:01] #155 closed

[2015-01-23 09:06] aureliojargas commented on #35
Confirmo que resolveu aqui no Mac :+1:

[2015-01-23 09:14] aureliojargas commented on #154
@ghtp25 Dica: Primeiro faça a função funcionar corretamente, só depois se preocupe com o coding style. Você já pode iniciar o Pull Request com uma versão inicial dela, que vamos te auxiliando e nos commits seguintes você vai ajeitando até ficar 100% e daí fazemos o merge.

[2015-01-23 09:16] aureliojargas commented on #81
Para referência quanto à desativação da zzfreshmeat, veja #143

[2015-01-23 09:18] aureliojargas commented on #148
Desativada nos commits e31240c e 44e4888

[2015-01-23 09:24] aureliojargas opened #157 "zzsigla quebrou novamente"
Parece que o site http://www.acronymfinder.com foi remodelado.

Alguém arrisca tentar recuperá-la?

[2015-01-23 09:28] aureliojargas commented on #141
Não se preocupe @igorsantos07, você não é um caso isolado. Mesmo sabendo dessa mudança, eu esqueci e tentei usar a zzwhoisbr algumas vezes :)

[2015-01-23 10:59] aureliojargas opened #158 "zzsenha: opção -u/--uniq para não usar letras repetidas"
Historicamente, a zzsenha gerava senhas sem caracteres repetidos. Recentemente ela foi alterada para mostrar caracteres repetidos (vide PR #147).

Porém, seria interessante ter ambas as possibilidades.

Sugiro mesclar o código anterior com o atual e ter uma opção `-u` e `--uniq` para forçar o uso de letras não repetidas. O comportamento padrão continua sendo o atual de mostrar repetidos.

[2015-01-23 18:00] kemelzaidan commented on #54
Dica: usar https://translate.google.com

[2015-01-23 18:07] kemelzaidan opened #159 "zzloteria quebrou"
zzloteria parou de funcionar... :cry:

[2015-01-23 19:05] itamarnet commented on #159
Consulte a zzloteria2 e veja se ela te atende.

Já tive uma conversa com @oreio a muito tempo sobre esse assunto, e mais recentemente (2013) com o Gustavo no grupo de discussão zztabtab ( https://br.groups.yahoo.com/neo/groups/zztabtab/conversations/messages/1031 ), e tem ligação com o lynx, que é usado no "$ZZWWWDUMP".

O zzloteria2 testa a existência do links, dando preferência a ele para usar c

[2015-01-24 12:18] itamarnet opened #160 "zzmoeda quebrada"
Assim como aconteceu com a zzdolar, essa função não mais responde.
O site ao qual se referenciava redireciona ao site de economia do terra, de onde a zzdolar deixou de funcionar.

Mas há outras funções como "zzcotacao",  "zzbolsas moedas" e "zzbolsas taxas_cruzadas", que trazem cotações com uma listagem apenas de algumas moedas principais num formato diferente.

É o caso de arrumar essa funçao? Ou

[2015-01-29 20:04] kemelzaidan commented on #159
Também não funciona. Pelo que eu percebi do link que vc enviou, é pela falta de suporte a javascript no lynxs e outros browsers cli. Não conheço muito, mas o [elinks](http://elinks.or.cz/) parece ter suporte a javascript. Não sei se é solução, porém...

Abaixo o erro:

[code]

[2015-01-29 23:37] itamarnet commented on #159
Realmente não funcionaria mesmo, pois provavelmente não tem instalado o links ou elinks, se acaso tivesse usaria-o no lugar do lynx, mas na falta o comportamento é igual o zzloteria.
Tente instalar o links e veja se o problemas persiste, normalmente instalando o elinks ou o links2, costuma gerar um link simbólico usando links.
Mas não é o caso de javascript, mas de redirecionamento de quadros, que

[2015-01-31 15:36] itamarnet opened #161 "zzcbn quebrada"
A zzcbn não retorna mais nenhum comentário, e nem os aúdios.
Aparentemente mudanças na estrutura do site, e mudança de comentaristas quebraram a função.
Já em processo de correção.

[2015-01-31 21:09] pvital commented on #157
Corrigido! Pull request com o fix em instantes.

[2015-01-31 21:11] pvital commented on #157
Fix em https://github.com/funcoeszz/funcoeszz/pull/162

[2015-01-31 22:22] pvital commented on #158
Feito. Pull request em https://github.com/funcoeszz/funcoeszz/pull/163

[2015-01-31 22:26] pvital commented on #54
Wow! Esperanto havas Google Translate!
:-P

@aureliojargas se você desativou a função dá pra fechar este issue, não?

[2015-02-01 09:57] aureliojargas commented on #159
É, mesmo erro aqui no Mac, usando lynx:

[code]

[2015-02-01 10:14] aureliojargas commented on #159
Achei este outro link: http://www.caixa.gov.br/wap/r_megasena.asp

Traz o resultado num formato diferente, me animei, mas dá o mesmo problema pelo lynx :/

[2015-02-01 10:15] aureliojargas commented on #159
Mais um, em XML, mesmo problema: http://www1.caixa.gov.br/rss/asp/geraXML_rss_loterias.asp?canal=megasena

É legal que eles disponibilizam o resultado de várias maneiras, mas poderia ter uma direta, sem frescura que quebra o lynx :/

[2015-02-01 10:30] aureliojargas commented on #159
Tentei, sem sucesso, usar o `curl` como alternativa. Tentei também mudar o User Agent pra simular acesso de um navegador normal, pensando que poderia ser algum tipo de bloqueio específico pra ferramentas de linha de comando, mas não é:

[code]

Estranho que parece que está tudo normal e o retorno foi um documento vazio.

[2015-02-01 10:58] #29 closed

[2015-02-01 10:58] #48 closed

[2015-02-01 10:58] #50 closed

[2015-02-01 10:58] #53 closed

[2015-02-01 10:58] #54 closed

[2015-02-01 10:58] #60 closed

[2015-02-01 10:58] #64 closed

[2015-02-01 11:00] aureliojargas commented on #54
@pvital tem razão, não tem porque deixar abertos os issues das funções já desativadas.

[2015-02-01 11:04] aureliojargas commented on #159
Em último caso, tem esse serviço alternativo: http://servicos.albertino.eti.br/Loteria.asmx?op=GetLotoFacil_UltimoConcurso_JSON

Pelo que vi o cara mantém os resultados atualizados. Há saídas em outros formatos, como XML. Mas o melhor é consultar direto a fonte, a Caixa.

Por falar nisso, uma `zzjson` não seria uma má ideia :)

[2015-02-01 11:30] aureliojargas opened #164 "Criar a zzjson"
Hoje o JSON é bastante utlizado, e é preferido no lugar do XML em muitos casos.

Assim como já temos a [zzxml](https://github.com/funcoeszz/funcoeszz/blob/master/zz/zzxml.sh), seria interessante também termos a zzjson, para extrair dados de uma string JSON, util ao consumirmos webservices.

Sugiro usar a notação com o ponto para identificar chaves aninhadas. Exemplos:

[code]

Ou seja, informa o n

[2015-02-01 23:14] kemelzaidan commented on #159
Tem uma ferramenta bem legal que talvez possa ser usada com o funçõeszz que
é o jq https://stedolan.github.io/jq/
É um processador de json em linha de commando. Talvez seja a solução para
utilizar apis ao invés de páginas web e se livrar desses problemas de
alteração na página, contudo, seria uma dependência a mais para o programa.

Kemel Zaidan - @kemelzaidan
http://about.me/kemel

Eu prefiro rec

[2015-02-01 23:34] kemelzaidan commented on #159
Tb encontrei essa página que tb tem uma api: http://developers.agenciaideias.com.br/loterias

[2015-02-02 15:38] pvital commented on #164
+1 pra idéia! Vai me ajudar em vários casos que tenho que debugar manualmente algum retorno. :-D

[2015-02-02 22:48] pvital commented on #157
V2 em https://github.com/funcoeszz/funcoeszz/pull/165 após feedback do @aureliojargas

[2015-02-05 03:57] kemelzaidan commented on #164
Não sei se ajuda, mas existe um parser que não é em bash, mas é em linha de comando. Ele poderia entrar como uma dependência  da funcaozz, pois é bem completo e simples: https://stedolan.github.io/jq/

[2015-02-07 11:20] aureliojargas commented on #157
Corrigido no PR #165

[2015-02-07 11:20] #157 closed

[2015-02-11 09:01] aureliojargas commented on #158
PR aceito, valeu! :+1:

[2015-02-11 09:01] #158 closed

[2015-02-11 09:15] aureliojargas commented on #153
Ué, o GitHub ficou louco. Só agora que vi essa festa de assigned/unassigned mês passado. Eu não fiz nada :)

[2015-02-11 13:09] aureliojargas commented on #153
Feito, vide commits relacionados para mais detalhes.

[2015-02-11 13:09] #153 closed

[2015-02-16 17:29] itamarnet commented on #161
Corrigida no commit: 76236e5c0af1ac1dfb3ae16592aefb55085ca56a

[2015-02-16 17:29] #161 closed

[2015-02-21 23:13] itamarnet opened #169 "zzcinemais e zzcinemark15h: Resultados irregulares"
A lista de filmes apresentadas por ambas zzs tem apresentados dados irregulares.
Nem todas as cidades retornam resultados.
No caso da zzcinemais, algumas das salas Cinemais foram transferidas Cinépolis.
No caso do zzcinemark15h, que enfatiza o horário de 15h para uma sessão mais barata, parece não corresponder a uma realidade atual, visto que algumas promoções tem dias e horários diferentes.
Possí

[2015-02-24 10:27] aureliojargas commented on #169
Se a das 15h não traz resultados confiáveis/úteis, eu a desativaria.

O resto eu não sei. Também não adianta termos muito trabalho para manter algumas funções, não compensa. Fique à vontade para reformar ou desativar.

[2015-02-24 12:27] itamarnet commented on #169
Estou pensando em mudar o enfoque, ao invés de ser apenas 15h, trazer a programação completa.

A noite vou ver se fica bom dessa forma, mas já temos por conta disso, além dessa, mais 3 zzs que tratam de programação de cinema, a saber:  zzcinemais, zzcinepolis, zzcineuci.

Eu preferiria que todas estivessem em uma zz única, por exemplo: zzcinema, mas as particularidades de cada site faz ser uma tar

[2015-02-25 11:32] itamarnet commented on #160
Função foi desativada.
Site deixou de funcionar e não foi possível encontrar outro com as mesmas funcionalidades e nem mesmo próximas.
Referência commit 9673870f6952d4021feafa1779369d98d6cf755c

[2015-02-25 11:32] #160 closed

[2015-02-25 14:29] itamarnet commented on #169
Solução adotada:
 - zzcinemark15k renomeada para zzcinemark, trazendo programação mais ampla da programação, veja commit 01d87d1a0480bf4681299a1848a6a509e036a55a
 - zzcinemais refeita para ajuste ao site, veja commit a54bb670d0126695b26afcfd0bf00d5e93604546
 - zzcinepolis criada para suprir as mudanças que ocorreram na zzcinemais commit cb2423789d75ee76f6480597d61590c86bc94381

[2015-02-25 14:29] #169 closed

[2015-03-03 14:17] aureliojargas opened #170 "zzfutebol quebrada no BSD (awk)"
Aqui no meu Mac (que usa o awk do BSD, que é diferente daquele do Linux), a função não retorna nada:

[code]

* O lynx baixou os dados do site, tudo certo.
* A variável `$listajogos` está vazia, então o awk não "grepou" nada.

Testei aqui e meu awk suporta `\t`, `+` e `[:alpha:]` nas regex, então não seria este o problema. Também não usa o ou `|` nas regex, que poderia ser outra fonte de problema

[2015-03-03 14:30] aureliojargas commented on #170
Brinquei um pouco aqui com o arquivo baixado (guardei em `foo.txt`) e pelo que entendi, se grepar as linhas com datas e as linhas com `_____`, o resultado virá na ordem correta de `data + times`, em duas linhas.

[code]

Em sed, eu juntaria os pares de linhas, sempre iniciando com a linha que começa com uma data:

[code]

Daí pra frente seria uma questão de formatar o resultado, mas as informações

[2015-03-03 14:41] aureliojargas commented on #169
:+1:

[2015-03-03 14:44] itamarnet commented on #170
Aurelio, agora estou longe do meu micro, mas como sugestão na função original tenta isso na linha 42:

``` if(imprimir==1){ ``` no lugar de ``` if(imprimir){ ```

[2015-03-03 18:36] itamarnet opened #171 "Redirecionar mensagens de erro e avisos."
As inúmeras funções existentes podem ser usadas isoladamente, sem depender de outra função.

Contudo há um número consideráveis de funções que dependem de outras funções para seu bom funcionamento, tanto que há no cabeçalho um campo específico para isso: "Requisitos:"

Sob esse ótica e também na possibilidade de alguma função ser usada dentro de outro Script, quero sugerir que todas as informações

[2015-03-04 00:00] itamarnet commented on #170
Aproveitando um pouco da sua idéia, mais um pitacos meus, refiz o código misturando sed, awk e grep.
Acho que esse deve funcionar também no MAC ou qq outro BSD.
Referência commit dbf33a2aca263df5604859e7f184c48837ca0166

[2015-03-04 09:54] aureliojargas commented on #170
Show, agora está funcionando, valeu @itamarnet!

Só achei um probleminha:

[code]

Cortei algumas linhas da saída, mas veja como há duas linhas ali que "encavalaram", mostrando duas datas na mesma linha.

No teu também acontece isso?

[2015-03-04 10:22] itamarnet commented on #170
Realmente não sei se isso acontece, mesmo porque não previ isso.
A noite em casa verifico, e corrijo.

[2015-03-04 11:27] aureliojargas opened #172 "Função nova para limpar os brancos do resultado"
Um erro muito comum de encontrar, principalmente em funções que pesquisam na internet, são os espaços inúteis no resultado

* Linhas em branco no início
* Linhas em branco no final
* Espaços no início da linha
* Espaços no fim da linha

Para ajudar as funções a se manterem dentro do [Coding Style](https://github.com/funcoeszz/funcoeszz/wiki/Coding-Style), podemos criar uma função que se encarrega

[2015-03-04 11:43] itamarnet commented on #172
A idéia é boa e acredito que já tenhamos algumas funções que já façam parte do trabalho.
Temos:
 - zztool trim, zztool ltrim e zztool rtrim
 - zzlblank
 - zzlimpalixo

Aproveitando a combinação dessas ferramentas já disponíveis, ou ao menos com base nelas, seja viável e até relativamente fácil criar uma nova função com esse objetivo.

Que tal zzlimpablank ou zztrim? :)

[2015-03-04 22:43] itamarnet commented on #170
Aurelio aqui não acontece, a saída sai perfeita. Deve ser alguma nova incompatibilidade, mas que aqui não consigo decifrar.
Pode me mandar a saída desse comando?
[code]

Assim posso analisar melhor o que difere.

[2015-03-05 08:36] itamarnet commented on #172
Lancei uma nova função com o nome zzvtrim (a9dce5a8da351028e084df100e7966ad82d9da4b).
Não sou muito criativo, então ainda fica em aberto o nome e se quiser mudamos depois.

Veja se funciona direito ai contigo, e como sempre não resisti em usar uma boa dose de AWK.

Se tudo correr bem ai sim fechamos esse issue.

[2015-03-05 10:14] aureliojargas commented on #170
Segue saída, resumida:

[code]

Realmente ele não vem com a linha dos times, naquele horário específico.

Deixa eu ver os dados originais como estão:

[code]

Olha só! O `___ X ___` não é padrão, às vezes vem sem espaço e às vezes vem sem X! Por isso a linha dos times não foi grepada...

[2015-03-05 10:25] aureliojargas commented on #172
Nossa, já fez? Isso é que é eficiência! :) E ainda está lotada de opções!

Espero que não fique chateado, mas essa função eu queria discutir o conceito, pra que o foco fique bem definido. A função que você fez é trim + squeeze + expand-tab, mas acho que deveria fazer somente trim.

O nome poderia ser `zztrim` mesmo, para cuidar tanto do trim vertical quanto horizontal.

O trim no meio acho que não

[2015-03-05 10:38] itamarnet commented on #170
Cara que inusitado!
Isso parece ser alguma diferença no comportamento do lynx entre Linux e BSD.
Testei em casa em 3 máquinas diferentes com Slackware, Ubuntu e Mint, e em todas as respostas foram tranquilas.
Vou pensar melhor em como contornar esse problema, e depois pedirei que teste de novo!

E tentar identificar que comportamento é esse que muda entre os 2 sistemas.

[2015-03-05 10:52] aureliojargas commented on #170
Opa, fiz a correção no 82773a7174b168c21b44e071cd96df2b58cbb6f3, vê aí na tua ficou legal.

[2015-03-05 10:58] aureliojargas commented on #171
Concordo!

Porém, esta como é uma mudança grande e estrutural, recomendo fazer somente depois de lançada a versão 2015, senão não vamos terminar nunca :)

[2015-03-05 11:02] aureliojargas commented on #170
Nesse caso, independente do problema bizarro que causou a diferença, o que fiz foi normalizar os dados, transformando todas as variações em `___ X ___`, assim o algoritmo no awk não precisa se preocupar com isso.

No final, também normalizei a saída, que aqui aparecia de maneira variada, tipo:

[code]

Agora é sempre igual, com somente um espaço ao redor do x. Se quiser mudar pra dois espaços, est

[2015-03-05 11:12] itamarnet commented on #172
Que isso! Ficar chateado jamais.

Eu justamente deixei em aberto tanto o nome quanto o conteúdo para termos um rumo inicial. e qualquer consideração é proveitosa, mesmo que precise mudar tudo.

Quanto ao comportamento padrão atualmente elimina no topo, no final, à direita.
Espaços à esquerda por padrão são mantidos, pois temos 2 cenários no caso de apaga-los:
 - Elimina-se todos à esquerda ( -ll )

[2015-03-05 11:16] itamarnet commented on #170
Perfeito!
Vi o código e acho que funciona sim.
Infelizmente onde estou não dá pra testar, mas em casa verifico.
Valeu!

[2015-03-05 14:22] joridos commented on #164
:+1:  Massa, seria uma boa.

[2015-03-05 14:24] joridos opened #173 "zzcsv"
Talvez seria uma boa, podemos ler um CSV com: `column -s, -t < teste.csv | less -#2 -N -S`, mas seria legal termos uma função ZZ para isso, oque acham?

[2015-03-05 15:07] itamarnet commented on #173
Assim como no caso de uma possível zzjson, também é uma excelente idéia!

O CSV tem peculiaridades inusitadas, onde o separador de campos pode variar entre ponto-e-vírgula ( ; ) e vírgula ( , ) principalmente no caso brasileiro.

Mas se o arquivo tiver origem externa, em muitos casos usa-se a vírgula ( , ) apenas.

E há casos nas quais os campos podem ser ou não delimitados por aspas.

E precisare

[2015-03-05 15:44] aureliojargas commented on #172
Essa questão do trim à esquerda mantendo o layout já foi muito bem resolvida pela zzlblank, não? Aí sobra pra zztrim o trim normal, de sempre apagar tudo. Se o cara quiser ambos, basta usar ambas funções:

[code]

Fiz o commit 929400174220d14eab9ebfe83b850df265c3b166 com uma versão inicial da zztrim, fazendo apenas as 4 operações originais de corte: cima, baixo, esquerda, direita. Sem espertezas,

[2015-03-05 16:00] itamarnet commented on #172
Ficou legal Aurelio.

Cara era apenas um comentário solto, podia ter deixado o ``` -H ``` e o ``` -V ```, é uma frescura sem justificativa lógica. hehe!

A função ficou massa, simples, direta e funcional.

Se puder faça as honras de apagar a nati-morta "zzvtrim" e seus arquivos de teste.

Valeu!

[2015-03-05 19:39] faustovaz commented on #170
E ai pessoa,
cheguei bem tarde na conversa. Fiz um teste com uma imagem do freebsd no virtualbox e a função, com as alterações que você fizeram, rodou normalmente.

[2015-03-05 21:53] itamarnet commented on #170
Aqui ficou perfeito.......!!
Ótimo!!!

[2015-03-05 21:53] #170 closed

[2015-03-05 23:28] itamarnet commented on #172
Aurelio

Antes de apagar os testadores da zzvtrim, testa a zztrim com o arquivo zzvtrim.in.txt, sem argumento.

Aqui em minha máquina os espaços à esquerda não são removidos em algumas linhas.

Acontece o mesmo contigo?

[2015-03-06 08:57] pvital commented on #164
@aureliojargas pode assinalar essa tarefa pra mim. Vou começar a ver isso neste final de semana.

[2015-03-06 09:38] aureliojargas commented on #172
Putz, é mesmo! :(

Vou arrumar, ainda bem que você pegou essa!

[2015-03-06 10:20] aureliojargas commented on #172
Beleza, resolvido! Aproveitei e renomeei teu arquivos de testes pra zztrim.in.txt e tou usando ele também. Deveria ter feito isso desde o início...

[2015-03-06 19:02] aureliojargas commented on #172
E já que não há restrições, então vou adicionar `-H` e `-V` :)

[2015-03-06 19:44] #172 closed

[2015-03-07 21:08] itamarnet opened #175 "Trocar 'zztool [rl]?trim' por zztrim."
Com a chegada da zztrim as "zztool trim", "zztool rtrim" e "zztool ltrim" perderam o sentido, visto que fica uma redundância de função.
A troca das ocorrências dessas zztool pela nova função faz mais sentido e com ganhos adicionais.

[2015-03-07 21:49] itamarnet commented on #175
Feito. Commit 984cf5669b26958d9f570c4ffd0568f7eddd6ddd

[2015-03-07 21:49] #175 closed

[2015-03-07 22:20] henriquemoody opened #177 "Considerar a utilização do Travis"
Reparei que os testes estão quebrados, acho que seria uma boa idéia usar uma ferramenta de continuous integration  para evitar que isso aconteça.

O [Travis](https://travis-ci.org/) é gratuito e se integra perfeitamente com o GitHub.

[2015-03-08 01:00] itamarnet commented on #171
Aurelio

Lamento, mas eu já tinha feito quase tudo quande li essa mensagem.
Apenas conclui alguns poucos que faltavam.
Mas fiz os testes aqui e tudo funcionou conforme esperado. Os erros e acertos antes das modificações se mantiveram.
Só falta redirecionar as mensagens de erro quando tem a opção '-e' selecionada nas ferramentas da zztool.

[2015-03-08 11:20] itamarnet commented on #171
Feito nos commits:
 - 14d8bbf810fb013d7f6fd6d334118904682a83bc
 - 6b01d13694dc28f55fdf21d93781c2fc68c56a02
 - c70df8b1b9fa288927309099f41548d60e8190c2

[2015-03-08 13:55] itamarnet opened #178 "zzloteria: Erro em concursos antigos."
Resultados de concursos antigos não respondem mais para as seguintes loterias:
 - quina
 - megasena
 - lotomania
 - lotofacil

[2015-03-09 10:46] itamarnet commented on #178
Não consegui uma alternativa no portal da caixa para os resultados antigos das loterias citadas.
Os últimos resultados funcionam perfeitamente, e as outras loterias não citadas continuam funcionando do modo antigo.
Especulo que o site da Caixa esteja numa fase de transição, e que em breve as demais loterias também deixem de funcionar na pesquisa de concursos anteriores.
Há duas possíveis saídas:

[2015-03-09 19:19] itamarnet commented on #177
Não cheguei a analisar profundamente o travis, (talvez o @aureliojargas  quem sabe!) mas os testes estão justamente ai para corrigir as funcoeszzz.
Na verdade os resultados do testes são os esperados e as funçoes é que deveriam fornecer as respostas no formato esperado, então as quebras são um alerta que alguma correção é que deve ser feita na função geradora.
Com certeza há casos em que os testes

[2015-03-10 10:01] aureliojargas commented on #175
@itamarnet vi que você trocou ocorrências de `zztool trim` por `zztrim` em vez de `zztrim -H`.

Lembra que a `zztrim` por padrão também faz o trim vertical. Isso não afeta o comportamento das funções alteradas?

[2015-03-10 10:05] aureliojargas commented on #164
@kemelzaidan procuramos evitar ao máximo a dependência de ferramentas externas, pois as ZZ rodam em Linux, Mac, Cygwin, entre outros, então o preferível é que sempre a solução seja ou 100% bash ou que dependa de ferramentas presentes por padrão na maioria das plataformas.

[2015-03-10 10:07] aureliojargas commented on #164
@pvital show, manda bala! Acho que vai ser bem divertido fazer essa :)

Não esquece de fazer um arquivo de testes bem generoso, pra cobrir bem as pegadinhas.

[2015-03-10 10:10] aureliojargas commented on #173
Confirmo que o comando `column` existe no BSD e tem as opções `-s` e `-t`.

Diferente do JSON, que é um formato bem simples e restrito, o CSV tem estas peculiaridades que o @itamarnet citou, além de aceitar valores multilinha dentro das aspas :/

Creio que um parser pra CSV fique complexo e fuja do escopo das ZZ. Só se tentar talvez algo bem simplificado como a `zzxml`, que não é um parser complet

[2015-03-10 10:22] itamarnet commented on #175
Não afeta a funcionalidade.
Aliás até melhora nas que foram aplicadas, pois o trim vertical é até desejável.
E se houver necessidade, o que nos testes comigo não mostrou ser o caso, altero o código para adequar, mas o uso do zztrim será mantido.

[2015-03-10 10:22] aureliojargas commented on #178
Eu acredito que a imensa maioria dos usuários só quer saber o resultado mais recente, pra ver se ganhou ou não. Por mim pode desativar os anteriores sem problema.

[2015-03-10 10:25] aureliojargas commented on #175
:+1:

[2015-03-10 10:36] itamarnet commented on #178
Cara por falar nisso e a zzloteria?
Eu continuo tendo problemas com retorno dela, e vi que há mais casos de gente reclamando conforme issue #159.
Tentei algumas alternativas usando configurações diferentes tanto com o curl, w3m, wget e lynx e nada funcionou.
Apenas com o links, que é usado na zzloteria2, tive retorno.
E na sua máquina, alguma novidade? Alguma perspectiva nova?

[2015-03-10 17:29] henriquemoody commented on #177
Sim, @itamarnet, o que eu quiz  dizer com _testes quebrados_ é que eles não estão passando.
Provavelmente o que houve foi que as funções mudaram de comportamento mas os testes não foram atualizados, utilizar uma ferramenta de continuous integration evita que esse tipo de problema aconteça, pois sempre que os testes _quebrarem_ (começar a não passar mais) significa que algo, não esperado mudou.

Eu

[2015-03-11 09:22] aureliojargas commented on #177
@henriquemoody está na minha lista de tarefas aprender sobre e usar CI em meus projetos. Como você já tem experiência com o Travis, o que precisa ser feito para as ZZ utilizarem ele?

[2015-03-11 09:24] aureliojargas commented on #178
Aqui não funciona nenhuma :(

[2015-03-11 10:26] aureliojargas commented on #159
@itamarnet como a Caixa está cada vez mais fechando o cerco aos robôs, de repente a solução será escolhermos um site alternativo :/

[2015-03-11 10:38] itamarnet commented on #171
Está certo @aureliojargas , realmente vc já havia comentado, mas como eu estava com quase 90% da mudança feita, resolvi concluir.

Mas ainda acho que o ganho com o redirecionamento das mensagens de erro valeu o esforço.

Hoje a noite eu faço a verificação, testo e providencio as alterações em todas as funções afetadas.
Existem algumas que não foram usadas a ferramenta "zztool erro".
E a construção

[2015-03-11 11:08] itamarnet commented on #159
@aureliojargas Parece ser um caminho inevitável.
Mas os links alternativos, por exemplo, que passou nos comentários anteriores, nenhum funcionou!
Mal sinal :/

Cheguei a fazer testes baixando os arquivos zipados, e extraindo os arquivos "htm".
São fáceis de trabalhar, sem frescuras e individualmente nem são tão pesados, mas são cumulativos.
E como já comentei no issue #178, essa é uma opção que nã

[2015-03-11 12:07] aureliojargas commented on #171
Ah sim, essa mudança é muito bem-vinda e torna as funções mais alinhadas com os padrões do Unix. Só não era a hora certa de se fazer isso, pois em fechamento de release devemos estabilizar o software. Logo após o release seria a hora ideal para essa mudança. Eu deveria ter sido mais enfático na minha resposta inicial. Mas enfim, agora já foi, a gente resolve :)

[2015-03-11 13:25] henriquemoody commented on #177
Após criar um cadastro no Travis com a conta do GitHub, é só ir em _Accounts_, clicar em _funcoeszz_ e habilitar o repositório (provavelmente será esse o link: https://travis-ci.org/profile/funcoeszz).

Pra dar pra vocês um background de como o Travis funciona: 1 build pode ter vários jobs, cada job é uma VM com o sistema operacional de sua escolha (Linux, sendo o Ubuntu o padrão, ou o OSX; Window

[2015-03-11 13:40] henriquemoody commented on #177
PS.: O que determina que o build teve sucesso é o exit code do(s) comando(s) executado na chave `script` do arquivo `.travis.yml` de todos os jobs.

[2015-03-11 14:32] aureliojargas commented on #177
Muito obrigado pelas informações @henriquemoody! Legal que dá pra testar em sistemas diferentes, isso será muito útil pra pegar problemas de portabilidade.

No momento estamos tentando fechar um release novo, então não dá pra ver isso agora. Mas depois do release, quero ver se implementamos o tal do Travis. Vou deixar esse issue aqui aberto para continuarmos o papo quando formos implementar.

[2015-03-11 15:10] aureliojargas commented on #171
Tava aqui pensando, talvez seria bom criar um `zztool uso -e funcao`. Essa opção `-e` serviria pra mandar a mensagem de uso pra STDERR, evitando ter que fazer isso em cada função.

[code]

Ficaria:

[code]

Que tal?

Pena que não dá pra centralizar o `return 1` também...

[2015-03-11 16:08] itamarnet commented on #171
Boa pedida!
É só mudar de:

[code]
para:
[code]

Quer que eu faça essa mudança? Ou prefere testar antes?
Eu tenho certeza que funciona, mas só mais tarde terei a comprovação.

Se assim for, apenas retiro ``` /dev/stderr ``` que foram inclusas.

O return 1 é uma pena, mas acho que não há outra forma mesmo.

[2015-03-11 16:17] itamarnet commented on #177
:+1:

[2015-03-12 00:06] aureliojargas commented on #171
Show! :+1:

Tinha esquecido que já temos o `$erro` pronto, na mão. Massa!

Já que você vai mexer nisso, pode mandar bala. Depois temos que adicionar mais testes pra essas mensagens de erro com stderr.

Ah, só não esquece do `test` depois do `if` ;)

[2015-03-12 00:42] itamarnet commented on #171
Essa é boa!! Até tu esqueceu!!!
Pode deixar que não esqueço. É que na hora que escrevi foi apenas pra ilustrar onde seria o mais adequado alterar, e estava em meio a correria do "trampo"

[2015-03-12 00:44] itamarnet commented on #177
Puxa agora que entendi melhor a concepção do Travis.
Realmente é uma baita ferramenta e pode economizar muito de nossas dores de cabeça.
Valeu @henriquemoody! Grande sacada.

[2015-03-12 02:11] itamarnet commented on #171
Perfeito aqui também!
Usar ``` >&2 ``` no lugar ``` /dev/stderr ``` eliminou os erros. Desde o problema da codificação até ao fenômeno de cortar 2 caracteres iniciais da mensagem de erro.
Não entendi o motivo que gerou o problema, mas a solução foi eficaz.

[2015-03-12 02:11] #171 closed

[2015-03-12 04:45] itamarnet opened #179 "zzascii: caracteres UTF-8 saindo escapados no Ubuntu e Mint."
As seguintes construções para obtenção de caracteres UTF-8, no Ubuntu e Mint falham durante os testes apenas.
Em seu lugar aparece codificado em sua forma hexadecimal.
[code]
[code]
[code]
Obs.: A versão do Mint é baseado no Ubuntu
Mas funcionam perfeitamente no Slackware, CentOS e Debian.

Mas o antigo formato, baseado em awk, funciona em todas as distribuições
[code]

Desconfio que tenha relação

[2015-03-12 10:19] aureliojargas commented on #171
Corrigido nos commits dfe4b090e677f887f34464048f2d26138bc844f0 e be12f721cfcb4b2a999bbd66ab7d8648f29b92c7

[2015-03-12 11:21] aureliojargas commented on #179
No BSD, o awk não funciona, pois ele não entende os caracteres multibyte do UTF-8 (qualquer char cujo decimal é maior que 128)

[code]

[2015-03-12 11:42] itamarnet commented on #179
Se não funciona, não podemos considerar como opção.

Todavia acho que talvez esse issue não caiba aqui, visto que o uso normal não é afetado.
Acredito que esteja mais ligado ao clitest quando roda no Ubuntu ou seus derivados.

Infelizmente estou limitado nas opções para testar em outras distros no momento, e não sei se posso dar um feedback melhor do que esse. :(

[2015-03-12 11:50] aureliojargas opened #180 "printf e UTF-8"
A codificação UTF-8 é multibyte, ou seja, cada caractere pode ser composto por um ou mais bytes.

* A letra `a` é composta por **um** byte
* A letra `á` é composta por **dois** bytes
* O símbolo `♥` é composto por **três** bytes

Confira:

[code]

Quando você usa o `printf` para alinhar colunas, definindo uma largura fixa, as coisas não funcionam como se espera, pois o `printf %<número>s` conta **

[2015-03-12 11:58] aureliojargas commented on #180
Uma solução alternativa que funciona para alguns casos, é separar os campos por tabs e usar o expand para trocar os tabs por espaços. Isso é feito na [zzestado](https://github.com/funcoeszz/funcoeszz/blob/master/zz/zzestado.sh) e funciona no BSD.

[code]

Exemplo de execução:

[code]

[2015-03-12 12:42] aureliojargas commented on #180
No BSD, o `awk` sofre do mesmo problema:

[code]

[2015-03-12 12:48] aureliojargas commented on #180
No BSD, algumas ferramentas acertam a contagem de caracteres.

[code]

[2015-03-12 12:58] aureliojargas commented on #180
Dentro do universo ZZ, acredito que a [zzpad](https://github.com/funcoeszz/funcoeszz/blob/master/zz/zzpad.sh) seja a função ideal para concentrar os esforços de imprimir com o padding correto, incluindo UTF-8. Se conseguirmos arrumá-la, as outras funções que hoje usam `printf`para alinhamento poderiam passar a usá-la.

Mas tem que arrumar, pois hoje ela sofre do mesmo problema:

[code]

[2015-03-12 13:01] aureliojargas commented on #180
Consegui um exemplo funcional em sed:

[code]

[2015-03-12 13:14] aureliojargas commented on #180
Mais um teste, a contagem de caracteres do bash `${#var}` funcionou corretamente:

[code]

[2015-03-12 13:59] aureliojargas commented on #180
@itamarnet desculpe remover o teu awk da `zzpad`, mas com o sed agora ela funciona corretamente com UTF-8. Pelo menos aqui na minha máquina. Confirma que na tua ficou OK também?

[code]

Agora, a `zzpad` pode substituir o `printf` para o alinhamento de colunas na saída.

E mais, como ao usar uma subshell a quebra de linha no final é removida, podemos usar esta função diretamente, várias vezes, num

[2015-03-12 14:17] itamarnet commented on #180
Grande @aureliojargas não precisa se desculpar.
O uso do awk atendia uma necessidade menos ampla e foi uma solução encontrada num momento.
Ter uma melhora usando o sed não é algo para lamentar, mas a comemorar devido a ampliação da capacidade.
Se eu dominasse o sed da mesma maneira que você teria feito antes, mas não é o caso. Ao menos o que foi feito antes serviu como um ponto de partida da idéia

[2015-03-12 23:12] itamarnet commented on #180
Com relação ao wc -m, também não sei se é portável, mas parece que sim.
Tomo por base esse link, e apenas alguns sabores é que não suportam essa opção.
http://www.unix.com/man-page/posix/1p/wc/

Acho que podemos considerar que abrange tudo dentro do universo de ação.
Me referencio em especial a ele, pela possibilidade do retorno do tamanho da string de forma limpa e correta.
E é esse número que po

[2015-03-13 00:39] itamarnet commented on #180
Essa nova versão do zzpad funcionou perfeitamente.
Teste realizado em várias distros e máquinas.
Show! :+1:

[2015-03-13 10:51] aureliojargas commented on #171
Somente para concluir, vou fazer um resumo do problema.

O problema de usar `> /dev/stderr` em vez de `>&2` foi discutido e investigado nos comentários do commit 0b804cc0a0c33c79ed6486781d54560d749f943d. Em resumo:

[code]

Este problema acontece somente ao executar os testes com o [clitest](https://github.com/aureliojargas/clitest), no uso normal da função ele não ocorre. Os testes que falhavam s

[2015-03-13 11:42] aureliojargas opened #181 "zzpad: repensar opções de linha de comando"
Hoje a zzpad é assim:

[code]

Ou seja, você informa:
* onde quer que o padding aconteça: direita, esquerda, ambos (default=direita) **[opcional]**
* qual o tamanho total da string resultante
* qual a string de preenchimento (default=espaço) **[opcional]**
* o texto orignal a ser preenchido **[opcional se via STDIN]**

O problema são os argumentos opcionais. Nem todas as combinações funcionam.

[c

[2015-03-13 12:55] itamarnet commented on #181
Apoiado.
Realmente não tinha percebido essa "brecha", mas faz todo o sentido evitando esse "dilema".
:+1:

[2015-03-14 20:31] aureliojargas opened #182 "Arrumar funções com saída desalinhada quando tem acentuação"
Conforme analisado no issue #180, usar o `printf` para formatar a saída em colunas é problemático com caracteres acentuados (UTF-8).

Chegamos a uma solução portável com a `zzpad`. Então agora temos que atualizar as funções que hoje usam `printf` (ou `awk`) para saída em colunas, para que passem a usar a `zzpad`. Exemplo:

[code]

Algumas funções que estão com este problema:

* zzfutebol
* zzpais

[2015-03-14 20:33] aureliojargas commented on #181
A opção `-x` foi adicionada no commit 0cbc8f6cc508684dadcad22836c99d7e8d1b5fb5

@itamarnet Nas próximas lembre de mencionar o número do issue (com a # na frente) na mensagem de commit, pra que o commit apareça aqui automaticamente.

[2015-03-14 20:33] #181 closed

[2015-03-16 00:38] itamarnet commented on #182
@aureliojargas fiz um teste de conceito com zzfutebol.
Aqui funcionou perfeitamente, apenas um pouco mais lento, mas obtive os mesmo resultados.
Não vou propagar em outras funções por enquanto, mas tendo um retorno positivo podemos considerar a estratégia para implementar nas demais.
Confere em 27376efbec9f5581aee2bf79387d550d7e112997

[2015-03-17 23:39] aureliojargas opened #183 "zzpad: o que fazer se transbordar?"
Este assunto apareceu nos comentários do commit 27376efbec9f5581aee2bf79387d550d7e112997.

A `zzpad`serve para deixar um texto no tamanho N, preenchendo o que falta com a string X.

* E se o texto for maior que N?
* E se X for maior que N?
* E se texto+X for maior que N?

Qual o comportamento esperado nestes casos?

[code]

Ou devemos mostrar um erro para o usuário em cada um destes casos inespera

[2015-03-17 23:47] aureliojargas opened #184 "zzalinhar: Erro no awk: qtde = split(linha[i], campos, " >>> ", <<< espacos)"
[code]

Acredito que o problema foi introduzido no commit 3365cd358af7e6ca711759c84a2fe6cb94984987

[2015-03-18 00:15] aureliojargas commented on #179
Consegui reproduzir o erro. O problema é que o printf do dash não tem suporte ao `\x` para mostrar um caractere em hexadecimal. Trecho da man page:

[code]

Ou seja, ele só aceita octal mesmo... :(

Quando você executa a função no prompt, está usando o teu shell padrão, bash. Já o clitest usa o `/bin/sh`, que no Debian aponta pra `/bin/dash`, por isso a diferença.

* A solução fácil é forçar o cli

[2015-03-18 04:10] itamarnet commented on #184
Verificar se essa solução atende.
O modo anterior é uma "feature" que se aplica ao gawk, e nem todos os sabores de awk suportam.
Referência commit c0cc4ad573fd2a0daddc037eeee6c4bb013c68c4

[2015-03-18 04:58] itamarnet commented on #182
@aureliojargas Fiz a mesma modificação nas funçoes zzquimica e zzestado.
Há de novo o fato de ficar um pouco mais lerdo, mas funcionou bem.
Referência commit e15ff676da3336211120fb71b4a2705ffcbf6c39

[2015-03-18 10:39] aureliojargas commented on #184
Resolveu, show!
:+1:

[2015-03-18 10:39] #184 closed

[2015-03-18 10:41] aureliojargas opened #185 "zzcolunar com teste falhando"
[code]

Fiquei em dúvida se o correto é o comportamento atual ou o teste.

[2015-03-18 10:50] aureliojargas commented on #179
Feito no commit a623602. Agora usa octal em vez de hexa. @itamarnet pode testar pra ver se ficou ok?

[2015-03-18 10:54] itamarnet commented on #185
A bem da verdade a mudança recente no zzalinhar  no commit c0cc4ad573fd2a0daddc037eeee6c4bb013c68c4 gerou essa diferença.

E você tem razão nessa dúvida, pois o comportamento atual está mais correto.
Agora há uma distribuição mais uniforme dos espaços no meio do texto, e que no estado anterior não ocorria.

Esqueci de alterar esse teste em particular, mas no commit citado do zzalinhar, cheguei a a

[2015-03-18 23:55] itamarnet opened #186 "zzquimica: teste falhando."
O último teste de zzquimica falhou.
Mas não creio que seja a função, apenas a chamada do teste.

Trocando  ``` cut -c 1-26 ``` por ``` sed 's/^\(.\{26\}\).*/\1/' ``` na linha do comando funcionou.

Confere no seu caso?

[2015-03-18 23:59] itamarnet commented on #185
Testador atualizado.
Saída atual é a correta.
Commit 97d4e9ab3d87cdcb4a178c1bc48492aaa91bc464

[2015-03-18 23:59] #185 closed

[2015-03-19 08:30] itamarnet commented on #179
Agora ficou beleza @aureliojargas .
Sem problemas agora :+1:

[2015-03-19 08:30] #179 closed

[2015-03-19 09:36] aureliojargas commented on #185
Ok, agora testes 100% :+1:

[2015-03-19 09:41] #186 closed

[2015-03-19 09:42] aureliojargas commented on #186
Por falar nisso, você pode colocar um comentário no issue #180 repetindo os testes que fiz lá com cut, awk, wc, sed, echo pra deixar registrado a diferença de comportamento entre sistemas? Depois aquele issue pode virar uma wiki, pra que esse conhecimento não se perca.

[2015-03-19 10:03] aureliojargas commented on #182
:+1:

Estou rodando todos os testes aqui pra ver se aparece mais alguma função desalinhada.

[2015-03-19 10:32] itamarnet commented on #182
Eu suponho que a zzlibertadores e a zzbrasileirao terão o mesmo problema.
Na minha máquia está "ok", mas como usa ainda "printf" a possibilidade de ser candidata a ter o problema é grande.
São duas que acredito que precisem ser readequadas, mas ainda não fiz ajustes pois a demora com o uso do zzpad requer uma atenção especial.
Mas acho que há mais além dessas.

[2015-03-19 11:01] itamarnet commented on #186
Ok @aureliojargas, farei hoje a noite, assim posso colocar exemplos de fato.
Onde estou agora o problema não se repete, então pode ter relação também com a versão do cut ou do shell.

[2015-03-19 23:21] itamarnet commented on #180
Infelizmente no GNU Linux o cut não tem a mesma agilidade que no BSD:
[code]

O ``` wc -m ``` conta corretamente, e o ``` sed ``` mantém a coerência com no BSD.
Isso justifica a mudança feita no commit f13a655c7892d95eb642c547dbda8cb70bb37ab5

[2015-03-20 00:46] aureliojargas commented on #186
:+1:

[2015-03-20 00:47] aureliojargas commented on #180
Como está o `locale` dessa máquina?

[2015-03-20 06:28] oznek commented on #70
Olha eu ressucitando bug antigo! :) Tinha visto ele quando vocês abriram, mas não tinha conseguido mergulhar nele ainda.

Quando eu fiz esse esquema para o zsh, eu o fiz copiando do tcsh que já existia. Não era uma opção muito boa, mas funcionava. O problema principal para mim era quando o script era atualizado, aí era preciso regerar os aliases.

Parei hoje para pensar um pouco, e queria que para

[2015-03-20 08:15] itamarnet commented on #180
Ops.: esqueci de informar.
Locale: ``` pt_BR.UTF-8 ```

[2015-03-20 09:18] aureliojargas commented on #180
Que estranho... As ferramentas GNU em geral são mais avançadas, eram pra suportar melhor o UTF-8. Eu estava tendo problemas também num Debian, até que conferi e o locale não estava definido corretamente em todas as variáveis. Foi só arrumar e daí funcionou.

Dá uma olhada como ficou:

[code]

Eu estou desconfiado que possa estar faltando alguma coisa no teu locale.

[2015-03-21 00:10] itamarnet commented on #180
Pois é Aurélio, deve ser algo que eu ainda não percebi.
Varie a configuração do locale, e o cut sempre teve o mesmo problema.
veja minha última saída do locale.
[code]
Mesmo com LC_ALL=pt_BR.utf8, o problema manteve-se
E antes no lugar do "utf8" estava "UTF-8" e o comportamento não mudou.
Estou sem idéias! Alguma sugestão?

[2015-03-21 10:34] aureliojargas opened #187 "zzdistro: testes falhando"
[code]

O espaço entre as colunas encolheu. Deve ter sido por causa das mudanças recentes na `zzcolunar` ou `zzalinhar`.

Fica a pergunta: a saída atual da função é a desejada? Ou devemos ajustar a função para permanecer a saída anterior?

[2015-03-21 10:37] aureliojargas opened #188 "zzdicportugues2: testes falhando"
A saída está vindo com lixo no final.

[code]

[2015-03-21 10:41] aureliojargas opened #189 "zzdatafmt: identificador ANO com erro no BSD"
[code]

Curioso que o erro acontece somente com alguns anos específicos: 1000 e 1900. Os demais estão OK, como: 1990, 1999, 2000, 2001, 2010.

[2015-03-21 10:52] aureliojargas commented on #117
Feito em fev/2015. O site agora já está no GitHub e o repositório oficial é o https://github.com/funcoeszz/funcoeszz.github.io

[2015-03-21 10:52] #117 closed

[2015-03-21 10:54] aureliojargas commented on #116
O a la carte é uma ideia bacana, mas que não é usado e tem um custo de manutenção. Na prática, todos baixam o arquivão e pronto. Deixa sem mesmo.

[2015-03-21 10:54] #116 closed

[2015-03-21 11:03] aureliojargas commented on #97
Este é um issue antigo, de 2013. Atualmente todas as funções estão passando pela nanny.

[2015-03-21 11:03] #97 closed

[2015-03-21 11:09] aureliojargas commented on #127
Concordo @itamarnet, já temos um mecanismo padrão e estas funções estão fora dele.

Porém, ao fazer esta mudança, no mesmo commit todas as funções que hoje usam estas duas `zztool` devem ser também atualizadas para usar a opção `-e`, mantendo o comportamento atual de mostrar a mensagem padrão em todas elas.

Se alguma dessas função precisar omitir a mensagem de erro padrão, que isso seja feito em

[2015-03-21 11:25] aureliojargas opened #190 "zzmariadb: brancos e lixos no resultado"
É preciso remover trechos indesejados que estão aparecendo no resultado, conforme aponta a saída do testador:

[code]

[2015-03-21 11:31] aureliojargas opened #191 "zzfeed: erro no awk (às vezes...)"
Preparado para um bug bizarro? Lá vai:

[code]

Fazendo execuções repetidas da mesma linha de comando, ora funciona, ora não.

@itamarnet  Isso acontece na tua máquina também ou é a minha que está encapetada? :)

[2015-03-21 11:33] aureliojargas opened #192 "zznoticiaslinux y: quebrada"
Pelo menos aqui na minha máquina, não retorna resultados:

[code]

[2015-03-21 11:36] aureliojargas opened #193 "zzwikipedia: mostrando lixo na saída"
[code]

As linhas iniciadas por `+` no diff indicam texto que não deveria aparecer na saída.

[2015-03-21 11:42] aureliojargas opened #194 "zzurlencode: erro em caracteres UTF-8"
[code]

@itamarnet na sua máquina está ok esta função ou será que é problema exclusivo no BSD?

No issue #180 pode ter alguma informação útil pra investigar este caso.

[2015-03-21 11:53] aureliojargas opened #195 "zzcriptomoeda: erro no sed"
[code]

Não olhei os fontes, mas provavelmente é falta de um `; `

[2015-03-21 12:54] aureliojargas opened #196 "zzxml: saída em formato diferente"
@itamarnet Você fez bastante mudanças na `zzxml`, que eu acabei não acompanhando.

O que percebi agora, é que o formato de saída mudou. Antes, cada linha do resultado era uma tag completa, agora cada tag vem sozinha na linha, com seu conteúdo na próxima linha:

[code]

Essa mudança de formato quebrou as funções que já usavam a `zzxml` e esperavam os resultados no formato anterior. Qual foi o motiv

[2015-03-21 13:13] aureliojargas opened #197 "zzfeed: converter para UTF-8 os feeds ISO-8859-1"
Atualmente, a `zzfeed` suporta feeds codificados em UTF-8, mas dá erro quando um feed ainda usa a codificação antiga ISO-8859-1.

[code]

Por causa dessa limitação, as funções de notícias, como a `zznoticiaslinux`, não podem usar a `zzfeed` e precisam fazer o parsing do feed manualmente, convertendo para UTF-8 usando a `zztool texto_em_iso`:

[code]

Veja o issue #66 para uma lista com as funções

[2015-03-21 15:05] aureliojargas commented on #197
Estou preparando duas funções novas, `zzencoding` e `zzutf8` que vão resolver este problema (e outros).

[2015-03-21 22:11] itamarnet commented on #191
Caracas!! Sua máquina deve estar possuída.
Testei aqui até mesmo dentro de um loop e não aconteceu isso.
Sinceramente nem sei o que dizer.
Hoje estive bem enrolado em outros projetos, mas vou montar uma máquina virtual com FreeBSD e repetir esse testes.
Mas no momento nem sei o que especular.

[2015-03-21 23:19] itamarnet commented on #190
Corrigido no commit 017ed3b349a66f2c6976d019c0e76a620cf73315

[2015-03-21 23:19] #190 closed

[2015-03-21 23:29] itamarnet commented on #195
Acertou em cheio camarada!
Corrigido commit 93ee088f97ba095d742019fcae97909dbd664af4

[2015-03-21 23:29] #195 closed

[2015-03-21 23:42] itamarnet commented on #194
@aureliojargas na minha máquina funciona perfeitamente.
Mas o erro deve ser mais um capítulo das incompatibilidades entre Unix e BSD.
Notadamente é o fgrep que falha, para oferecer o retorno do caracteres que devem ou não serem convertidos.
Acho que esse terá que ser um caso novamente para o sed resolver.

Como vou instalar um  FreeBSD numa VM, investigo melhor depois nessa condição.

[2015-03-22 00:49] itamarnet commented on #193
Solucionado no commit b73d964830bf42624bde42723ddf9ccfcfccf224

[2015-03-22 00:49] #193 closed

[2015-03-22 01:19] itamarnet commented on #192
Nem aqui na minha máquina, mas acho que o feed não existe mais.
No browser aparece o "rss", mas com última informação de 30/jun/2014.
Talvez seja o caso de não mais considerar o Yahoo.

[2015-03-22 01:33] itamarnet commented on #189
Esse é mais um caso que só vou conseguir analisar dentro do ambiente virtualizado com FreeBSD.
Esses exemplos funcionam normal comigo.
Pelo erro, está no momento de especificar a semana quando desmembra as partes da data.

Mas desconfio desse trecho:
[code]

Talvez se mudar para:
[code]

deve resolver, visto que retorna a resposta certa, apenas exibindo uma mensagem de erro indesejada.

[2015-03-22 01:43] itamarnet commented on #188
Um comentário mal posicionado depois de um sed no final deve ser a razão do problema.
Aqui em minha máqui não consegui reproduzir o erro e os testes aqui funcionam.
Verifique por favor se funciona em sua máquina.
Commit 1975fdb6a34e3972922fab85f8e4226e6694e418

[2015-03-22 02:05] itamarnet commented on #187
Sim foi devido as mudanças feitas em ambas, mas acho que a nova saída é a mais coerente.
Havia muitos espaços além do que achava necessário.
Talvez numa versão posterior possa configurar um caracter separado das colunas.
No momento solução feita no commit 91aa7bf9937186dfe5b289ab61d132c0e2038a99

[2015-03-22 02:05] #187 closed

[2015-03-22 02:19] itamarnet opened #198 "zzcriptomoeda: Mudar da nome para zzcoin"
Via twitter já tive um retorno do autor original "Tárcio Zemel", que não se opõe a mudança de nome.
A grande maioria das moedas listadas, assim como as principais tem "coin" no nome.
Apesar do nome atual ser mais abrangente, me parece mais verborrágico, e um nome como "zzcoin" parece mais direto, mais intuitivo.
Deixo a questão da mudança para "zzcoin" como uma sugestão a ser apreciada.

[2015-03-22 09:29] aureliojargas commented on #190
:+1:

[code]

[2015-03-22 09:31] aureliojargas commented on #195
:+1:

[code]

[2015-03-22 09:33] aureliojargas commented on #193
:+1:

[code]

[2015-03-22 09:35] aureliojargas commented on #187
:+1:

[code]

Quanto à ideia de fazer uma opção nova pra configurar o separador acho massa, porém deixemos para depois do release pra evitar trazer mais trabalho e possíveis problemas neste momento, ok?

[2015-03-22 09:38] aureliojargas commented on #188
Infelizmente não era isso, continua igual. Depois dou uma investigada nesse.

[2015-03-22 09:46] aureliojargas commented on #189
Na mosca! :tada: :+1:

[code]

[2015-03-22 09:46] #189 closed

[2015-03-22 09:57] aureliojargas commented on #198
Concordo! Função renomeada nos commits já mencionados.

[2015-03-22 09:57] #198 closed

[2015-03-22 10:07] aureliojargas commented on #192
Apoiado. Vou desativar o Yahoo.

[2015-03-22 10:09] #192 closed

[2015-03-22 10:28] aureliojargas commented on #180
É... Está tudo certo com teu locale também. Agora lascou :)

Então deve ser isso mesmo. Algumas ferramentas do Linux ainda estão quebradas no UTF-8 e temos que contornar :/

[2015-03-22 10:30] itamarnet commented on #188
@aureliojargas Fiz outra mudança.
Dessa vez tirei a função 'tolower' do awk, que deve ser a raiz do problema.
Mais um item a ser considerado na portabilidade se funcionar.
Verifica ai na sua máquina.
Commit 14881451e9f32424ee5ba64c96d567a27731ee29

[2015-03-22 10:34] aureliojargas commented on #188
Ainda não, mesma saída :/

[2015-03-22 10:43] itamarnet commented on #188
Cara então não sei.
Pode colar a saída do comando?
[code]
Quem sabe possa ter uma pista assim.

[2015-03-22 10:43] aureliojargas commented on #188
Lá no começo dela, essa alteração resolveu pra mim:

[code]

Olha só:

[code]

[2015-03-22 10:45] aureliojargas commented on #188
Isso acontece porque dependendo da ferramenta suportar ou não UTF-8, o `.` da regex vai casar **um** ou **meio** caractere :/  Aí em ferramentas não UTF-8, pra casar um `á` tem que fazer `..`, pois são dois bytes.

[2015-03-22 10:47] itamarnet commented on #188
Opa isso é uma baita pista.
De novo as voltas com a questão do UTF-8.
E se substituir por "Definição de" funciona ainda?

[2015-03-22 10:48] aureliojargas commented on #188
Sim, continua funcionando.

[2015-03-22 10:50] aureliojargas commented on #188
Podia aproveitar e já dar um trim total na saída curta dela nela, não?

[2015-03-22 10:52] aureliojargas commented on #188
Lá no meio tem mais um:

[code]

[2015-03-22 10:55] itamarnet commented on #188
Tem mais um detalhe na linha 60 que preciso verificar.
Onde está:
[code]

Mude para:
[code]

E invoque depois:
[code]

Funfa?

[2015-03-22 10:59] aureliojargas commented on #194
Putz, o problema é mais embaixo:

[code]

Esse `read` que é pra ler um caractere por vez, adivinha... Quando é UTF-8 lê meio caractere (um byte) e por isso dá o erro lá na frente no `fgrep`.

[2015-03-22 11:03] aureliojargas commented on #188
Funfa. Só confere se é essa mesmo a saída correta:

[code]

[2015-03-22 11:08] itamarnet commented on #188
Beleza :+1:
Vou ampliar o uso do zztrim e atualizar o testador.

[2015-03-22 11:19] itamarnet commented on #188
Resolvido.
Commit c23cca1d7bfe27e031ae66f4402cffd843b09d94

[2015-03-22 11:19] #188 closed

[2015-03-22 11:27] aureliojargas commented on #188
Show! :+1:

[code]

[2015-03-22 11:30] aureliojargas commented on #36
@itamarnet na zzdicportugues2 está faltando testes com verbos e as sub-opções de conjugação, você pode colocá-los? Quando o testador dela estiver completo e passando 100% aqui e aí, podemos tornar esta a função oficial.

[2015-03-22 11:34] itamarnet commented on #194
Já tem uma idéia do que fazer?
Eu pensei em usar um " for " usando " seq ", " wc -m " e " sed ".
Todavia o que eu fiz aqui não rolou, sempre dava erro.

[2015-03-22 11:36] itamarnet commented on #36
Putz, tem razão!
Me foquei tanto no problema das palavras com acento que a zzdicportugues não cobria que nem pensei nisso.
Pode deixar, vou ampliar a gama de teste.

[2015-03-22 12:08] itamarnet commented on #36
Novos testes cobrindo definição e conjugação verbal.
commit 8b17db2733d66e7c16f78ce38cfe0913fec6caa7

[2015-03-22 13:12] itamarnet commented on #194
@aureliojargas Tenta isso:
[code]

Aqui continua funcionando com essa modificação.

[2015-03-23 10:01] aureliojargas commented on #36
OK! zzdicportugues2 virou a oficial nos seguintes commits: 2bf6dd728f1a78a02299f224ee8bf764d0b71a35 e 6a59f0a1a78e7bc361c9a6d89c32163bd93cf882.

Parabéns pelo trabalho @itamarnet!

[2015-03-23 10:07] aureliojargas commented on #191
O problema na verdade aparece na `zzfeed`, que é usada pela `zznoticiaslinux`. Mesma coisa, de várias execuções seguidas, uma ou outra dá erro, aleatoriamente:

[code]

Note que a mensagem de erro é relativa aos arquivos temporários da `zzxml`. Eu ainda não parei para estudar todas as mudanças que você fez nela, mas eu desconfio que o problema está ali.

[2015-03-23 10:10] aureliojargas commented on #36
Sobre `zzloteria` e `zzloteria2`, ainda temos problemas em ambas. Há mais detalhes no issue #159.

[2015-03-23 10:53] #197 closed

[2015-03-23 10:59] itamarnet commented on #191
Quando rodar da próxima vez me envie o conteúdo desse desse arquivo temporário.
Assim posso tentar reproduzir o erro ou identificar o que acontece.
Ainda não consegui reproduzir esse erro em especial, então estou sem um horizonte

[2015-03-23 14:08] aureliojargas commented on #41
A zzdicportugues2, que suporta acentuação, virou a função oficial. Veja detalhes no issue #36

[2015-03-23 14:08] #41 closed

[2015-03-23 14:32] aureliojargas commented on #66
OK, conferi todas as funções de notícias. O que sobrou com filtro manual são aqueles sites que realmente não há feed para consumir. Que pena :(

Podemos considerar este issue concluído.

[2015-03-23 14:32] #66 closed

[2015-03-24 06:36] itamarnet commented on #178
Optei por corrigir algumas pequenas falhas de filtro e usar o arquivo zipado para concursos anteriores.
Deixei apenas com a opção de uso o ``` links ``` ao invés do ``` lynx ```, que é utilizado na variável ``` $ZZWWDUMP ``` e em outras.
Se não tiver no sistema, sai com mensagem sugestionando a instalação.
Andei pesquisando as opções de links alternativos nos comentários feitos no issue #159, mas

[2015-03-24 09:55] aureliojargas commented on #178
@itamarnet nossa, estou vendo o diff aqui, foi uma reforma geral! Você pode atualizar os testes para contemplar também as opções de concursos anteriores para todas as loterias? Nestes testes o resultado será sempre igual, não? Aí não precisa filtrar com o sed. Enquanto isso vou ver como instalar o links aqui.

[2015-03-24 10:09] aureliojargas commented on #178
Ah, nos testes atuais, tem que lembrar de colocar o `;` antes do `}` no sed, igual no issue #195.

[code]

[2015-03-24 10:23] aureliojargas commented on #182
Pois é, essas 3 são difíceis de testar a saída, pois varia muito.

Executando agora na mão, confirmo que estão desalinhadas:

[code]

Quem manda não usar sed :P

[2015-03-24 10:33] itamarnet commented on #182
Opa, esteja a vontade se quiser mudar tudo pra ``` sed ```.
Mas já estou vendo já as mudanças com o uso do ``` zzpad ```, mas a demora é incômoda quando pega uma lista um pouco mais longa.
Mas qualquer alternativa que possa oferecer nesse momento é bem vinda, mesmo que precise mudar tudo.

[2015-03-24 10:34] aureliojargas opened #199 "zzbrasileirao: sem $ZZCOR, não deve mostrar caracteres especiais"
Na `zzbrasileirao` há trechos como:

[code]

A ideia deste código é respeitar a `$ZZCOR` e não mostrar a saída colorida quando ela estiver desligada. Visualmente funciona, porém, a função continua emitindo os caracteres de controle `\033[m` no resultado.

Isso não é o desejado. Se `$ZZCOR` estiver desligada, é porque o usuário (ou o script) que está executando a função precisa do resultado puro, s

[2015-03-24 10:36] aureliojargas commented on #182
Pra esses casos de funções com saída mais complexa, talvez devêssemos mudar de postura e programar de um jeito mais "conservador". Em vez de querer fazer tudo de uma vez com sed/awk como normalmente fazendo (e fica muito rápido!), talvez seja melhor ir lendo linha a linha, guardando em variáveis, e mostrando o resultado no final. Fica mais lento, mas de repente fica mais fácil de manter. É uma ide

[2015-03-24 10:37] itamarnet commented on #178
De novo esqueci!
Mas também fui me meter a querer fazer um ``` sed ``` tão comprido!
Isso é uma área de domínio sua e estou ousando a fazer um ``` sed ``` tão longo.
Eu ia fazer testes com os concursos anteriores, mas quando vi já era 3:00h da "madruga", e a "patroa" não ficou feliz com isso, então tive que parar. Acho que nesse contexto você me entende. :)

[2015-03-24 10:44] aureliojargas commented on #178
Claro, sem problema :)

Não tem pressa, a hora que puder atualize, que daí eu testo aqui pra ver se bateu. E se bater, já tornamos ela oficial e encerra de vez essa novela das `zz*2`.

[2015-03-24 11:04] itamarnet commented on #199
Esse trecho está "OK", pois só vai abrir com caracteres de controle se estiver habilitada a saída colorida.

Mas a preocupação procede nesses pontos, onde o fechamento e abertura independe disso, e sempre vai ter:
[code]
[code]
[code]
Isso é fácil corrigir.
E se já houver tabela a consultar no site, vejo se precisa de retrabalho o restante do código

[2015-03-24 14:31] aureliojargas commented on #199
Ok. Esse issue não está no milestone do próximo release, então se puder esperar antes de mexer, será melhor pra evitarmos trazer bugs novos.

[2015-03-24 14:32] aureliojargas commented on #182
Ah, esse issue não está no milestone do próximo release, então é melhor esperar pra mexer depois do lançamento e assim evitarmos trazer bugs novos.

[2015-03-24 14:37] aureliojargas commented on #194
O testador rodou 100%? Porque acho que não vai funcionar se tiver quebra de linha no texto original.

[2015-03-24 14:58] itamarnet commented on #194
O testador funcionou perfeito.
Mas você levantou uma questão interessante, e com base nos últimos acontecimentos, não descarto que o testador aqui na máquina tenha falhado em detectar essa circunstância.
Acho que ainda não é a solução ideal.

[2015-03-25 02:21] itamarnet commented on #196
@aureliojargas Desculpe a demora em responder, mas essa mudança é um efeito colateral quando foi colocada a possibilidade de selecionar múltiplas tags pela ``` zzxml ```.

Nesse caso é como se a opção ``` --tidy ``` fosse um pré-requisito para o uso da opção ``` --tag ```.
Revendo meus alfarrábios, acabei optando por isso por causa da permissividade que a estrutura de arquivos ``` XML ``` oferecem

[2015-03-25 08:47] itamarnet commented on #194
Tem razão @aureliojargas , isso não funciona mesmo.
Infelizmente, com quebra de linha não funciona, e espaços literais na string se perdem.
" De novo a prancheta de desenho! "

[2015-03-25 09:24] aureliojargas commented on #178
Rodei os testes aqui.

Deu problema de alinhamento na duplasena (printf + ª). Talvez só trocar `1ª` por `1a` pra ser rápido, ou usar logo a `zzpad`.

[code]

[2015-03-25 09:25] aureliojargas commented on #178
A data da timemania (e somente dela), veio sem o zero no mês:

[code]

[2015-03-25 09:30] aureliojargas commented on #178
quina, megasena, lotofacil e lotomania deu erro no `mv`:

[code]

[2015-03-25 09:32] aureliojargas commented on #178
Fora estes problemas, os demais testes passaram! Estamos chegando lá :)

[2015-03-25 10:02] aureliojargas opened #200 "zzdicportugues: lixo na saída: "mais sinônimos""
Eita, esse não estava aparecendo dias atrás, o site deve ter mudado:

[code]

[2015-03-25 10:33] itamarnet commented on #178
Vamos por parte:
 - Essa da data no timemania foi bem inesperada, mas pelo que me lembro não é difícil, apenas usar como mais um requisito a ``` zzdata ``` ou ``` zzdatafmt ```, mas é bom considerar que pode acontecer com outras loterias, visto que comigo todos os testes tiveram sucesso.
 - Considerei usar o ``` zzpad ```, mas temi que poderia ser mais uma fonte de problema, e pelo visto foi justa

[2015-03-25 10:37] itamarnet commented on #200
Esse é um problema recorrente.
Infelizmente com fontes externas estamos suscetíveis a esses imprevistos e mudanças repentinas. :/

[2015-03-25 11:13] aureliojargas opened #201 "zzurlencode, zzurldecode: comportamento incorreto para UTF-8"
* Para caracteres ASCII (`<128`), está tudo certo, o mapeamento é `a` — `%61`.
* Para caracteres UTF-8 (`>=128`), está errado.

Atualmente, `á` vira `%E1`, que é uma conversão direta do valor decimal (`225`) para hexadecimal (`E1`).

Porém, como já discutido no issue #180 e aplicado na zzascii no commit ec5e5a5, caracteres UTF-8 são multibyte e isso deve ser levado em conta na conversão.

[code]

[2015-03-25 11:37] aureliojargas opened #202 "zzurlencode, zzurldecode: espaço deve virar + ou %20?"
[code]

[code]

[code]

A diferença acontece porque há regras diferentes para escapar um texto para ser usado numa URL ou na parte query string (após a `?`) da URL.

Provavelmente precisaremos de uma opção de linha de comando para contemplar ambos. Há outras diferenças também, como não escapar a `/` se for pra uma URL, mas escapar se for query string.

A documentação do Python esclarece alguns pon

[2015-03-25 12:09] itamarnet commented on #202
A solução passa necessariamente pela separação da URL em 2 partes, onde ``` ? ``` é o delimitador.
 - Antes ou na ausência dele usar ``` %20 ``` para espaços e não codificar ``` / ```
 - Após usar ``` + ``` para espaços e codificar ``` / ```

[2015-03-25 12:16] aureliojargas commented on #194
Veja issue #201. Provavelmente a resolução dele resolverá este aqui.

[2015-03-25 13:15] aureliojargas opened #203 "Comando test: trocar a ordem dos argumentos"
O comando `test` é mais seguro se trocada a ordem dos argumentos, sempre informando por primeiro o trecho **conhecido** de um teste, conforme explicado em https://github.com/funcoeszz/funcoeszz/wiki/Coding-Style#comando-test.

Um exemplo de correção deste tipo foi feita no commit 78e95f8e42505af0e121a1f368fd29a0a478d8da.

Essa é uma alteração grande, a ser feita com cautela e somente depois do rel

[2015-03-25 14:32] aureliojargas opened #204 "Adicionar suporte ao -- em todas as funções"
É comum no mundo Unix, suportar o `--` para informar que não há mais opções de linha de comando daquele ponto em diante. Por exemplo, para procurar pela string `-i` em um arquivo:

[code]

Assim, o `-i ` não será confundido com uma opção do grep.

A `zzmoneylog` é a única função que atualmente suporta o `--`:

[code]

A alteração é realmente simples, basta inserir uma linha linha dentro do `case`

[2015-03-25 19:56] itamarnet commented on #178
Estava olhando um manpage on-line do unzip para MAC ( https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/unzip.1.html ) e parece que a opção ``` -d "${ZZTMP%/*}" ``` precisa estar após o nome do arquivo a ser descompactado.
Pode confirmar isso? No meu caso o posicionamento dessa opção não influencia.

[2015-03-26 09:39] aureliojargas commented on #178
Opa, desculpe, somente agora pude voltar. Os dois primeiros problemas se foram, valeu! Mas o problema do `mv` continua :( Vou investigar por aqui hoje.

Apareceu um detalhe aqui que não sei se é bug ou comportamento esperado do site:

[code]

O acumulado veio uma data em vez de um valor.

[2015-03-26 10:44] itamarnet commented on #178
Rapaz! Essa da lotomania é mais um mistério!
Não me lembro de ter mexido no trecho que cuida do acumulado da lotomania de concurso mais recente.
Só posso imaginar 2 coisas:
 - Mudança de ontem pra hoje do layout de onde vem a informação.
 - Ou o erro já existia e eu não havia percebido.

No atual momento não descarto nenhuma das possibilidades. Vou verificar.

[2015-03-26 13:39] aureliojargas commented on #194
Cara, tive que fazer mágica pra resolver essa, mas depois de dois dias quebrando a cabeça, cheguei no resultado esperado. Está no commit 495eeff77433a362e568aa3e58a358597cd9a492. Por favor, testa se na tua máquina o testador roda tudo 100%:

[code]

[2015-03-26 13:48] itamarnet commented on #194
Putz! Grande sacada, usar o bom e velho ``` od ```.
Eu acredito que funcione sim.
:+1:

[2015-03-26 23:06] itamarnet commented on #194
Cara em duas ficou perfeito! Show de bola :+1:

Mas a porcaria do Mint que tenho instalado aqui deu erro de novo.
É o mesmo do caso do zzascii, que você comentou em https://github.com/funcoeszz/funcoeszz/issues/179#issuecomment-82649915

Fazer a mesma jogada, de passar antes pelo octal, é viável?

[2015-03-27 00:21] aureliojargas commented on #194
Putz, é então no `printf` lá no final, na hora de "desconverter" os caracteres protegidos. Esse vai ser complicado de fazer octal, pois não há cálculo, somente substituição de texto...

Eu já tou achando complicada demais essa função do jeito que está. Quem sabe essa podemos não suportar o Mint por enquanto, até que apareça uma solução mais simples?

[2015-03-27 01:08] itamarnet commented on #194
Complicado isso!
Eu citei o Mint, mas ocorre o mesmo no Ubuntu, e justamente essas duas distros são as mais usadas.
Ao menos nos meios que frequento, é uma constante e acho complicado deixar passar.

Algo que me ocorreu como alternativa:
O zzascii apenas exibe todos os caracteres com vários códigos correspondentes, e esse comportamento poderia ser mantido como padrão, mas agregar a opção de fornec

[2015-03-27 03:57] itamarnet commented on #200
Corrigido commit 39d94226774390c2d61f3e612f980b2a4aec2e5b

[2015-03-27 03:57] #200 closed

[2015-03-27 04:03] itamarnet commented on #194
Não sei se pode ajudar, mas implementei a idéia do ``` zzascii ``` retornar o caractere ao fornecer o código decimal, hexadecimal ou octal.
Se não servir fica como mais um recurso.
Atualizar o testador  farei na sequência.
Veja no commit 8c44bb34cc39987c12c2da3c6850ed7560d81005

[2015-03-28 08:55] itamarnet commented on #194
Na verdade @aureliojargas acho que me expressei mal.
O que falha são os testes apenas, e estava tentando faze-los funcionar 100%.
Mas fora dos testes, no terminal roda perfeito.

Não é o melhor dos mundos, mas talvez seja melhor mesmo deixar com os testes falhando na família Ubuntu e seus derivados por enquanto.

E não quero ser pessimista, mas não sei se teremos alguma solução simples para cobrir

[2015-03-29 10:44] itamarnet commented on #202
Uma sugestão em código que pode dar uma das soluções para esse caso:
[code]

Note que nesse caso a primeira ocorrência de ``` ? ``` não é codificada e nem as ``` / ``` antes, e os espaços se mantém como ``` %20 ```, mas as demais ocorrências tanto ``` ? ``` e ``` / ``` são codificados e os espaços são convertidos para ``` + ```.

Como sempre uso o awk para solucionar a questão e acredito que funci

[2015-03-31 08:52] itamarnet opened #205 "zztwitter: Parou de funcionar."
A função parou de funcionar.
Não mais há o envio da mensagem.

Talvez seja o caso de aposentar essa função, pois ela foge do senso comum das FuncoesZZ, pois necessita interagir com o usuário, pedindo o nome de usuário e senha.

Isso é algo que poderia ser contornado, mas a segurança nesse tipo de construção é frágil.
Recomendo que a deixemos de usar devido a essas características.

[2015-04-05 10:46] aureliojargas commented on #205
:+1:  Concordo. Vou aposentá-la.

[2015-04-05 10:58] #205 closed

[2015-04-05 11:08] aureliojargas commented on #202
Testei aqui e o `%20` funciona normalmente no lugar do `+`. Então, para que nossa função fique mais simples, acho melhor ignorar esta exceção e sempre gerar `%20`. Vai funcionar do mesmo jeito.

[2015-04-05 11:10] aureliojargas commented on #200
:+1:

[2015-04-05 11:18] aureliojargas commented on #194
Ah, eu não tinha entendido que o problema era somente nos testes. Então sem crise, se ela funciona na execução normal, tudo bem.

Quanto à funcionalidade adicional na `zzascii`, agora (pré-release) não é o momento para incluir isso, ainda mais sem testes, ainda mais que envolve UTF-8. Vamos nos poupar do estresse, ok? :) Vou guardar este commit num branch e reverter no master.

[2015-04-05 11:24] aureliojargas commented on #194
Como o problema original da `zzurlencode` com UTF-8 foi resolvido, fecharei este issue.

[2015-04-05 11:24] #194 closed

[2015-04-05 11:28] aureliojargas commented on #178
O acumulado na lotomania ainda tem alguma coisa errada:

[code]

Acumulou em R$39? :)

[2015-04-05 11:57] aureliojargas opened #206 "zzloteria: remover dependência do links"
Esta é a única função que depende de um navegador diferente do padrão `lynx`.

[code]

Eliminar esta dependência exclusiva. Mesmo que com o `lynx` não seja possível, utilizar comandos mais comuns como `wget` ou `curl` já seria melhor.

No issue #159 há uma investigação de alternativas, mas que infelizmente não trouxe resultados :(

[2015-04-05 11:59] aureliojargas commented on #159
A `zzloteria2` tornou-se a `zzloteria` oficial (veja issue #36). Com isso, agora temos uma `zzloteria` funcional e este issue pode ser fechado.

A pegadinha é que ela requer o navegador `links` para funcionar. Não é o ideal, mas é melhor do que nada. Abri o issue #206 para tentarmos resolver isso no futuro.

[2015-04-05 11:59] #159 closed

[2015-04-05 12:01] aureliojargas commented on #36
Parabéns mais uma vez pelo seu excelente trabalho @itamarnet, a sua `zzloteria` agora é a oficial. :tada:

Agora, 2 anos depois, podemos finalmente fechar esse issue :)

[2015-04-05 12:01] #36 closed

[2015-04-05 12:04] itamarnet commented on #202
Beleza! Um problema a menos então.
Mas e os demais caracteres?
O comportamento de ``` / ```, ``` : ``` e ``` ? ``` após e antes da primeira ocorrência do ``` ? ``` ?
Ou nem consideraremos essa diferença de comportamento, sendo válido para url por completo?

[2015-04-05 12:12] itamarnet commented on #178
É a segunda vez faço correção no valor do acumulado para a lotomania.
A caixa está de brincadeira :/
Acho que dessa vez contornei o problema agora e futuramente.
Vide commit 70c074212fff7522b31bcb83c3af8d8e88afe9d1

[2015-04-05 12:15] itamarnet commented on #36
Meu não meu amigo, nosso trabalho!
Demorou mas chegou...
Retroceder Nunca, Render-se Jamais :+1:

[2015-04-05 13:54] aureliojargas commented on #202
Vejamos o que as outras ferramentas fazem:

[code]

[code]

[code]

[code]

[code]

Tá difícil de achar um padrão :/

O que dá pra perceber é que nenhuma se comporta diferente antes ou depois da `?`.

Sugiro que deixemos como está: converte tudo e pronto. Este é o mesmo comportamento do PHP. Vai funcionar do mesmo jeito quando colocar numa URL.

[2015-04-05 13:57] aureliojargas commented on #36
:facepunch:

[2015-04-05 14:02] aureliojargas commented on #178
Aeeeee, agora sim:

[code]

Por sinal, boa solução usando `$NF`!

O problema do `mv` não sei se vou conseguir investigar hoje. Mas está na minha lista.

[2015-04-05 14:36] itamarnet commented on #178
Por falar em ``` mv ```, eu não consegui reproduzir o problema aqui mesmo usando o FreeBSD.
Portanto não tenho sugestão para dar sobre esse problema em especial.
Vou procurar ver se em uma variante tipo PC-BSD, GhostBSD ou DragonFlyBSD aparece.
Vamos ver!

[2015-04-06 11:44] aureliojargas commented on #202
Na `zzurldecode`, temos o mesmo dilema:

[code]

[code]

[code]

[code]

Aqui pelo menos é só o PHP que faz diferente, todos os demais decodificam somente os hexadecimais. Eu concordo que este deve ser o comportamento padrão, e alinha com a `zzurlencode` de não usar `+` como espaço.

[2015-04-06 12:18] aureliojargas opened #207 "Shell dash não suporta \x no printf"
O printf do dash não tem suporte ao `\x` para mostrar um caractere em hexadecimal. Trecho da man page:

[code]

Ou seja, ele só aceita octal mesmo... :(

Isso causa bugs em funções que usam o `\x` no printf, como `zzurlencode` e `zzurldecode`. Elas funcionam normalmente no console, mas dão erro ao rodar o testador, em determinadas versões do Linux.

Quando você executa a função no prompt, está usa

[2015-04-06 12:18] aureliojargas commented on #201
@itamarnet a `zzurldecode` também usa `printf` com hexadecimais `\xHH`, então terá o mesmo problema de não passar no testador no Ubuntu. Abri o issue #207 para lidar com isso.

[2015-04-06 12:19] #201 closed

[2015-04-06 12:21] aureliojargas commented on #194
Abri o issue #207 para lidarmos com o problema do printf no Mint/Ubuntu de maneira genérica.

[2015-04-06 12:26] aureliojargas commented on #202
Bem, com estas investigações, descobrimos que não há padrão :(

Na falta dele, é melhor fazermos a solução mais simples: sem firulas, sem espertezas, sem exceções.

Ou seja, codifica e decodifica tudo. Este é o comportamento atual da `zzurlencode` e da `zzurldecode`, então fecharei este issue.

[2015-04-06 12:26] #202 closed

[2015-04-06 12:28] itamarnet commented on #202
Também concordo!
Acho importante ter esse alinhamento entre a ``` zzurlencode ``` e a ``` zzurldecode ```, ao menos mantemos uma coerência interna.
E a falta de uma padrão é um fato, e nesse caso não há muito o que fazer. :(

[2015-04-06 12:30] itamarnet commented on #201
Nem vou usar o testador, vou apenas confirmar direto na linha de comando, e nesse caso tenho certeza que funciona.
Interessante que tenho o bom e velho Slackware e nele nunca deu problema.

[2015-04-06 14:25] aureliojargas commented on #201
Qualquer sistema que tiver `/bin/sh` apontando pro bash vai funcionar normal. O problema foi o Ubuntu e amigos terem escolhido apontar pro dash :/

[2015-04-20 01:18] itamarnet commented on #164
Gostaria de saber em que pé está a iniciativa da zzjson, o @pvital já trabalha em algo? Ou mais alguém está trabalhando nisso?
Vendo em http://json.org/, vi que não será tão fácil fazer mantendo a compatibilidade que tentamos manter aqui.

Gostei em especial das implementações:
 - https://github.com/dominictarr/JSON.sh/blob/master/JSON.sh
 - https://github.com/step-/JSON.awk/blob/master/JSON.awk

[2015-04-21 05:41] pvital commented on #164
Bah! Infelizmente outras prioridades apareceram no meio do caminho e meu desenvolvimento ficou parado pela metade, já faz algum tempo :-(

@aureliojargas @itamarnet, se desejarem podem passar para outra pessoa ou assumir o caso. Estarei atolado até meados de Maio.

[2015-05-15 14:40] aureliojargas opened #209 "zzlibertadores: quebrou no BSD (comando date não portável)"
[code]

O trecho que quebrou é o que checa a data do arquivo de cache. Foi usada uma opção não portável do comando `date`. Em geral, é bom evitar usar o `date`, ele é bem problemático. O commit que o introduziu é o c15102fe69d29d75bb8855b83797c2db01e2aa4e.

[code]

[2015-05-15 23:03] itamarnet commented on #209
Troquei o uso do ``` date ``` pelo ``` zzdatafmt ```, para evitar problemas de compatibilidade

E ao invés de tentar avaliar a data da modificação do arquivo cache, salvo a data efetivamente na primeira linha, sendo consultada posteriormente, sem interferir no restante do conteúdo que procede so site.

Não é a solução mais elegante, mas pareceu a mais eficiente.

Ver comit: 9a40b35a9759e46f2913c53

[2015-05-15 23:03] #209 closed

[2015-05-16 02:29] aureliojargas commented on #209
Gostei da solução, essa é bem portável. :+1:

[2015-05-16 14:15] aureliojargas commented on #191
Identifiquei a fonte do problema: `zzxml` e seus arquivos temporários.

Peguei um arquivo XML qualquer de exemplo:

[code]

Desliguei também o `rm` no final da `zzxml` para que os arquivos temporários não sejam apagados. Executei na mão o trecho de código que a `zzfeed` usa para parsear o XML:

[code]

Quando a execução vai bem, são criados dois arquivos temporários, quando dá pau, é criado apenas

[2015-05-16 16:23] itamarnet commented on #191
Aurelio,

O que pude entender com o retorno do seu cache do ``` zzxml ```, é que o bloco  " END " está sendo escrito dentro de um bloco que destina-se as linhas ou registros.
Os blocos " BEGIN " e " END " são especiais e destinam-se a pré e pós processamento dos registros respectivamente.
Podem existir vários blocos " BEGIN " ou " END ", que eles serão unidos internamente em um bloco.
Todavia a oc

[2015-05-16 20:46] aureliojargas opened #210 "Usar zztool mktemp para arquivos temporários"
Algumas funções que hoje usam `zztool cache` devem ser atualizadas para usar `zztool mktemp`, caso o seu uso seja realmente de um arquivo temporário (que deve ser apagado) e não de um arquivo de cache (que deve permanecer na pasta após o uso).

Para encontrar os candidatos:

[code]

O uso é similar:

[code]

[2015-05-16 20:46] aureliojargas commented on #191
@itamarnet a sua atualização infelizmente não resolveu o problema.

Mexi por aqui e consegui resolver, era realmente na rotina de criação do temporário. Na verdade a `zzxml` estava "forçando a barra", usando uma ferramenta de **cache** para criar um arquivo **temporário** :)

Então criei uma ferramenta específica para arquivos temporários, a `zztool mktemp`. Ela usa o comando `mktemp` e garante o

[2015-05-16 20:47] #191 closed

[2015-05-16 20:58] aureliojargas commented on #210
@itamarnet coloquei este issue na meta do release, pois acho que é importante resolver isso para o release oficial, evitando problemas bizarros como o da zzxml no #191.

Por enquanto vou trabalhar no bug da zzloteria #178, fique à vontade se quiser atacar este.

[2015-05-16 22:47] itamarnet commented on #210
@aureliojargas
Fiz uma varredura nas funções e alterei várias ocorrências do ``` zztool cache ``` por ``` zztool mktemp ``` naquelas que considerei onde os arquivos tenham tempo de vida limitado pelo processo.

Os que possuem testadores continuam funcionando, e os demais não notei nenhum problema nos testes avulsos que realizei.
Se puder teste na sua máquina, e se tudo der certo pode fechar esse i

[2015-05-16 22:58] aureliojargas commented on #178
Sabe qual era o problema do `mv`? Eu não tinha o `wget` instalado... Instalei e tudo funcionou normal :/ Como a saída de erro estava indo pra `/dev/null`, não pude ver o problema antes.

O `wget` não é instalado por padrão no Mac (nem o `links`). Tem que instalar via métodos alternativos, como o [homebrew](http://brew.sh/). A zzloteria usa ambos, então ela é um caso especial que só funciona por pa

[2015-05-16 23:06] aureliojargas commented on #178
Ah, tentei baixar o `.zip` da Caixa com outros comandos além do `wget`, como o `lynx` e o `curl`, mas não funcionou. Esse site é uma djanha mesmo...

Ei, olha só, com o `links -source` funcionou pra baixar o `.zip`! Então não precisamos adicionar outra dependência à `zzloteria`, basta só o `links` mesmo. Pra acessar os HTML e baixar o ZIP.

Pode deixar que essa alteração eu faço, já que é mais sim

[2015-05-16 23:12] itamarnet commented on #178
Ainda bem que avisou, eu já tinha feito algumas alterações em função do que havia dito, mas vou aguardar.

Bom saber que o ``` links ``` também pode ser usado assim. Show!
Mas confesso que me surpreendeu saber que o ``` wget ``` não vem por padrão no Mac.
Vivendo e aprendendo.
Modo "stand by".

[2015-05-16 23:39] aureliojargas commented on #178
Beleza, já fiz o commit na `zzloteria` e não vou mais mexer nela. Unlocked :)

[2015-05-16 23:55] aureliojargas commented on #178
Ah, olha só:

[code]

Essa parte final de apagar `*.GIF` na pasta temporária das ZZ é meio perigosa, pois pode apagar possíveis arquivos de outras funções.

Não tem como especificar os arquivos que foram criados somente? Ou quem sabe guardar todos estes arquivos temporários dentro de uma pasta `${ZZTMP}.lotofacil` e depois só apagar a pasta?

[2015-05-17 00:04] aureliojargas commented on #210
Show de bola! Rodei os testes por aqui e foi tudo 100% :+1:

[2015-05-17 00:05] aureliojargas commented on #210
Achei mais a `zzdos2unix` e a `zzlembrete`. Agora acho que está tudo ok.

[2015-05-17 00:05] #210 closed

[2015-05-17 00:35] itamarnet commented on #178
Pois é @aureliojargas

Estava verificando a ``` zzloteria ``` em concursos antigos da lotofácil, lotomania, megasena e quina e notei que se existir o arquivo ``` .htm ``` antes ele não era mais sobre-escrito.
Então preventivamente procedo com a remoção do arquivo, e já aproveitei para atualizar a remoção dos arquivos ``` .GIF ``` correspondentes.

Ver em 52dd6c002fe6e891093956a65757604f5018dea5

[2015-05-17 00:36] itamarnet commented on #210
Ops. Falha minha. Valeu :+1:

[2015-05-17 10:46] aureliojargas commented on #70
@oznek a ideia do eval é boa porque não precisa mais mexer no arquivo rc, vai sempre funcionar mesmo ao atualizar as zz.

Porém, a cada novo login ou terminal aberto, o funcoeszz será executado (e por requisito, o próprio bash também) para compor a lista completa de funções proxy. Temo que isso vá causar delay para o usuário.

Outra coisa, hoje o `zzzz --zshrc` cria aliases no `~/.zzzshrc` (aliás,

[2015-05-17 11:11] aureliojargas commented on #196
Ah, agora que vi o #125 entendi o porquê do uso dos arquivos temporários na `zzxml`. Caramba, você teve que praticamente criar um mini-parser XML em awk!

Parabéns pelos códigos novos na `zzxml`, deixaram ela bem poderosa, agora tem inclusive `--indent`. Neste caso, a quebra de compatibilidade com o formato de saída é justificada, vou fechar este issue.

Vou aproveitar e dar uma incrementada nos t

[2015-05-17 11:11] #196 closed

[2015-05-17 19:39] itamarnet commented on #178
@aureliojargas Tudo não passou de um alias esquecido que modificava o comportamento do ``` mv ```.
Devidamente testado, e funcionando 100%.
Vou fechar esse issue, se encontrar algum problema ( acredito que não tenha mais ) reabrimos.

Ver commit: f2541ffae410293c561a574e3bbf32167b8636c3

[2015-05-17 19:39] #178 closed

[2015-05-17 19:47] itamarnet opened #211 "zzxml: Erro com a opção --tag, em comandos aninhados."
O teste 21 do testador para zzxml:
[code]

deveria retornar a saída:
[code]

Mas o retorno obtido é:
[code]

[2015-05-18 10:05] aureliojargas commented on #178
Showwwwwwwww! Nem acredito que depois de tantos anos de novela, resolvemos todos os problemas da zzloteria :)

[2015-05-18 14:41] aureliojargas opened #212 "zzxml: testes de precedência"
@itamarnet vi estes comentários no cabeçalho da `zzxml`:

[code]

Tentei fazer testes para comprovar isso, mas não consegui. Talvez eu não tenha entendido exatamente o que estas frases significam. Me ajuda? :)

[2015-05-18 14:43] aureliojargas commented on #211
Percebi que a cada comando aninhado, ele adiciona um espaço adicional no início.

[code]

[2015-05-21 10:36] itamarnet commented on #211
@aureliojargas
Acho que o problema na verdade é com a opção ``` --tidy ```, que se tornou um pré-requisito para ``` --tag ```.

Refazendo a chamada original para:
[code]

Obteremos também:
[code]

Observe que o espaço adicional é tanto no início quanto no final do conteúdo da tag:
[code]

Observando o trecho que trata da opção ``` --tidy ``` também não consegui observar nada que justifique esse co

[2015-05-21 14:11] aureliojargas commented on #211
Boa! Conseguiu ir mais fundo no problema.

Dei uma olhada rápida aqui e não cheguei a nenhuma conclusão. Depois vejo isso com mais calma.

O que pude notar, é que o problema já existe na versão anterior também, então não tem a ver com as mudanças recentes:

[code]

[2015-05-21 19:27] itamarnet commented on #211
@aureliojargas
Desconfio fortemente que o problema esteja nessa linha:
https://github.com/funcoeszz/funcoeszz/blob/master/zz/zzxml.sh#L210

O que acha?

[2015-05-22 00:18] aureliojargas commented on #211
Na mosca!

[code]

Bem, a ideia de delimitar com espaço ao juntar é para casos como:

[code]

Pra que não fique `<ahref="foo.html>`.

Vai ser difícil corrigir isso sem complicar demais o código. E já que esse é pra ser um parser bem simples, acho melhor deixarmos assim mesmo. Concorda?

[2015-05-22 12:21] itamarnet commented on #211
Talvez após a passagem do tidy, possa ter um comando assim logo na sequência:
[code]
Não sei se isso serve para todos os casos, mas é um paliativo.
Se isso não der certo, é melhor deixar como esta, no máximo usamos a zztrim se for o caso.

[2015-05-23 13:40] itamarnet commented on #211
Também pensei em trocar os trecho:
[code]
e
[code]

por:
[code]
e
[code]
Mas espaço pré-existentes no arquivo poderiam ser afetados também.

[2015-05-23 14:21] aureliojargas commented on #211
É bom não mexer no conteúdo das tags, pois os espaços internos podem ser significativos. Teria que remover somente aqueles que nós mesmos inserimos com a `zzjuntalinhas`.

Mas olha só, isso é um bug pré-existente, desde a versão anterior, então neste momento acho melhor deixar como está. Vou remover este issue da milestone do release e deixamos ele pra depois, não é urgente.

[2015-05-23 14:22] aureliojargas commented on #70
Só sobrou este bug aberto para fechar o release 2015. @itamarnet o que você acha?

[2015-05-23 17:34] itamarnet commented on #70
Já que não houve manifestação de usuários do zsh, acho bom não deixarmos que esse bug impeça o lançamento do novo release.
Vou instalar o zsh nas minhas máquinas e tentar fazer algo, mas vamos limitar essa tentativa até amanhã, domingo dia 25.
Depois disso, é lançar o release.

[2015-05-23 18:53] itamarnet commented on #212
Testes para precedência do ``` --notag ``` e ``` --untag ```.

A idéia é justamente não haver conflito das opções, então se ``` --tag ``` for usado junto ``` --untag ``` ou ``` --notag ``` referenciando a mesma "tag", há a precedência das últimas, não ocorrendo a seleção.

O mesmo raciocínio se aplica no uso de ``` --untag ``` se for usado junto com ``` --notag ```, onde ``` --notag ``` tem a pref

[2015-05-23 18:53] #212 closed

[2015-05-23 19:08] itamarnet commented on #211
:+1:

[2015-05-23 23:10] aureliojargas commented on #70
:+1:

[2015-05-24 15:24] itamarnet commented on #70
@aureliojargas
Fiz alguns testes usando o ``` zsh ```, e como sou iniciante nele não sei se é a melhor forma, mas pareceu ser a forma melhor de tratar o assunto, então seguem as sugestões:

Antes de criar a chamada ao arquivo de aliases e exportar o core, poderia haver esse trecho caso seja necessário regerar:
[code]

E modificar a parte que cria o "arquivo_aliases" para isso:
[code]

Na instalaçã

[2015-05-25 16:26] oznek commented on #70
@aureliojargas

Agora eu não lembro o porquê de usar funções proxy na minha solução. :) Acho que tinha alguma coisa a ver com expansão de ZZPATH, mas com alias também funciona, usando-se aspas simples. Ah, esqueci de colocar um $@ para os parâmetros nas funções proxy. :)

Em relação ao tempo de carregamento, eu particularmente não me importo muito (mas eu sou só um caso). Assim como eu, muitas pes

[2015-05-29 00:55] aureliojargas commented on #212
:+1:

[2015-05-29 01:32] aureliojargas opened #214 "zzquimica: linhas estranhas na saída"
O testador apontou que há duas linhas novas, “intrusas”, na saída da zzquimica:

[code]

[2015-05-29 02:08] aureliojargas commented on #70
@itamarnet por ora, acho melhor deixarmos tudo como está, para evitar incluir código imaturo na véspera do release.

Pós-release vemos isso com calma.

[2015-05-29 10:29] itamarnet commented on #70
Beleza :+1:

[2015-05-29 11:28] itamarnet commented on #214
Acho que o commit 3b56be7e00880dff4c6b6e0800b351bcdda3634c resolve esse problema.
Podem confirmar se ficou certo? No momento estou impossibilitado para testes.

[2015-05-29 12:02] aureliojargas commented on #214
Não resolveu, a saída continua igual aqui.

Mas deixemos isso para depois do release, nem esquente.

[2015-05-31 17:54] itamarnet commented on #214
A solução que mandei funcionou aqui.
Antes de chamar a zzquimica limpa o cache e verifica se funciona, acho que é por isso que o problema ainda persiste.

[2015-06-01 08:41] itamarnet commented on #199
Esse issue foi resolvido no commit a1531d631c07dd5a172ae8bf04f6e72ce212460e

[2015-06-01 08:41] #199 closed

[2015-06-01 13:17] aureliojargas commented on #199
Ué, mas esse commit é de 24/fev! Então eu abri este issue um mês depois que o problema já estava corrigido? Caramba...

[2015-06-01 13:19] aureliojargas commented on #214
Tem razão @itamarnet, era o cache. Eu odeio caches. E proxies. :)

[2015-06-01 13:19] #214 closed

[2015-06-01 14:04] itamarnet commented on #199
Que estranho! Eu não lembro disso assim nessa ordem.

O issue foi aberto antes, eu tenho certeza disso. Tanto que você citava o zzbrasileirao e a zzlibertadores apenas foi no embalo do contexto.

Confesso que fiquei confuso no caso das datas.

[2015-06-01 14:06] aureliojargas commented on #199
Pegadinha do GitHub? :)

[2015-06-04 18:14] itamarnet commented on #42
Alguém está com esse problema ainda das notícias gzipadas?
É possível saber mais detalhes das condições quando isso ocorre? horário, sistema, shell, locale, etc.?
Também não consigo reproduzir o problema.

[2015-06-14 20:00] gmgall opened #217 "zzglobo: o site consultado não traz a programação correta"
No momento em que escrevo essa mensagem, a ``zzglobo`` informa que está passando futebol.

[code]

Mas o site da Globo informa que está passando filme:

![screenshot - 14-06-2015 - 16 57 53](https://cloud.githubusercontent.com/assets/973834/8150200/99a6ed5e-12b6-11e5-943f-e00908ac32a5.png)

[2015-06-15 08:26] itamarnet commented on #217
Esse é um problema recorrente de muitos sites que exibem programação da televisão.
Há problemas do mesmo gênero no site usado pela ``` zztv ```, todavia dos que eu consultei é o que dá menos problemas nesse sentido.
Não sei se esse issue pode ser efetivamente arrumado, exceto se consultar, assim como você fez, o site da própria Rede Globo.

[2015-06-22 14:04] aureliojargas commented on #217
Será que a confusão não é por causa que o futebol ficou "no meio" do Domingão do Faustão? No site da Globo isso fica claro, enquanto no que a zzglobo consulta, o Domingão só aparece uma única vez. Talvez nesses casos especiais a programação sai diferente nos outros sites...

[2015-07-15 08:40] pekman1 opened #218 "FunçõesZZ não funciona"
Olá.

Instalei os scripts das FunçõesZZ conforme o guia de instalação do Git Hub. No entanto só retorna
```comando não encontrado.```

*Uso Manjaro Linux*
*Shell: Bash*

[2015-07-18 13:04] itamarnet commented on #218
Já verificou se a variável de ambiente ``` $ZZPATH ``` foi devidamente definida?

E fez a devida adequação da linha de exemplo do guia: ``` export ZZDIR="/Users/aurelio/funcoeszz/zz" ```
para:  ``` export ZZDIR="home/SEU_USUARIO/funcoeszz/zz" ``` ?

Verificou se essas linhas constam no final do ``` .bashrc ``` ?

[2015-07-18 14:25] pekman1 commented on #218
Sim. Fiz conforme o figurino

[2015-07-18 14:47] pekman1 commented on #218
Ok, agora funcionou.

Não sei se é um erro no how to de instalação

'export ZZDIR="/Users/aurelio/funcoeszz/zz"'

No lugar do user não sería $HOME?

Muito obrigado por responder. Irei divulgar as FunçõesZZ no nosso blog e fórum sobre o Manjaro.

[2015-07-18 14:56] itamarnet commented on #218
Não creio que seja um erro, mas apenas uma informação incompleta.
O @aureliojargas usa MAC e provavelmente é essa a estrutura padrão neles, e no Linux comumente, mas não obrigatório, fica na pasta "/home"
Mas a idéia é boa, apenas é bom verificar se a variável "$HOME" atende a todas as plataformas, no caso Linux, MAC e BSD.
Valeu pelo retorno, e depois nos envie o link do blog e fórum.

[2015-07-18 14:56] #218 closed

[2015-07-18 16:46] aureliojargas commented on #218
Tem que fazer conforme o guia manda:

[code]

Que ele vai expandir o path corretamente.

[2015-08-26 23:33] alexandre-mbm opened #219 "zztv: não está funcionando"
Parece que houve mudança em URL.

[2015-08-27 08:30] itamarnet commented on #219
Não consegui detectar qualquer problema com a função ou com a URL que é usada.
Nos testes que executei ela está funcionando perfeitamente.
Talvez tenha sido um problema transitório, uma indisponibilidade do link por um período.
Há a possibilidade de você testar de novo, e confirmar se a indisponibilidade permanece?
E se não estiver funcionando, poderia demonstrar com mais detalhes o erro que receb

[2015-08-27 10:43] alexandre-mbm commented on #219
[code]

A palavra agora aparece colorida, de ciano.

[2015-08-27 11:19] itamarnet commented on #219
Os caches costumam ser salvos em pasta temporárias, que normalmente descartam esses arquivos de tempos em tempos. Mas há casos que essa rotina pode está desabilitada, dependendo da distro ou do OS.

Para limpar o cache da zztv apenas pode digitar: ``` zztool cache rm tv ```,
mas se quiser limpar todos os caches ligados as Funcões ZZ: ``` zztool cache rm '*' ```.

Veja se isso ajuda em algo.

[2015-08-27 11:51] alexandre-mbm commented on #219
Nada mudou. Minha instalação está segundo instruções no README.md. Continuo achando que eu já lhe [apontei](#issuecomment-135377012) com acerto aonde está o bug.

[2015-08-27 12:17] itamarnet commented on #219
Lamento, mas realmente não sei o que acontece.

A URL "http://meuguia.tv/programacao" sozinha realmente não funciona, mas ela é apenas uma parte das URLs conforme as opções são escolhidas, tendo agregada sufixos adicionais para cada caso.

Há 3 coisas que poderiam ser feitas para maiores subsídios:
 - Qual o shell que está sendo usado e o Sistema Operacional/Distro?
 - Verificar a existência do ar

[2015-08-27 12:31] alexandre-mbm commented on #219
[code]

Vou instalar o `lynx`, pra ver se corrige!

[2015-08-27 12:33] alexandre-mbm commented on #219
Ótimo, corrigiu! :100:

[2015-08-27 12:33] #219 closed

[2015-08-27 12:46] itamarnet commented on #219
:+1:

[2015-08-27 12:52] aureliojargas commented on #219
Show esse troubleshooting! :+1:

É bom sempre lembrar do `--teste` quando aparecem estes problemas estranhos (eu sempre esqueço!)

[2015-10-26 18:51] itamarnet commented on #211
@aureliojargas Não sou versado no sed como você, mas olhando esse problema em especial acho que a solução pode não estar aqui na ``` zzxml ```, mas sim na  ``` zzjuntalinhas ```.

Veja se isso confere.
[code]

A inclusão comentada resolveria o problema da ``` zzxml `` sem prejudicar o funcionamento da ``` zzjuntalinhas ```? O que acha?

[2015-11-22 19:02] itamarnet opened #223 "Reescrever o testador da zzloteria."
Foi necessário uma reescrita do código da ``` zzloteria ```, devido novamente a alterações do layout do site.
Devido as diferenças do conteúdo mais recente das loterias do conteúdo histórico, as variações nas formas de apresentações dos resultados em cada situação varia.
Será necessário uma gama maior de testes, para cobrir essas diferenças.

[2015-11-23 12:48] a2fmedeiros opened #224 "Inverso da função zzunescape"
Olá,
Antes de mais nada, parabéns pela iniciativa de criar esse grupo de funções.
Comecei a usá-las rcentemente e senti falta de substituir em um texto os caracteres acentuados pelos seus equivalentes em HTML, por exemplo trocar o cedilha por &ccedil;, ou seja, o inverso da função zzunescape.
Desculpe se já existe e eu não encontrei, é que são muitas funções.
Mais uma vez parabéns e obrigado.
[]s

[2015-11-26 09:44] itamarnet commented on #224
Caro Allan
Realmente não existe uma função inversa da ``` zzunescape ```, mas há duas que se aproximam disso, ou ao menos tem uma proposta nessa direção: ``` zzasci ``` e a ``` zzstr2hexa ```.
Elas podem fornecer uma maneira de obter esse resultado, ou poderia apenas inverter as sintaxes usadas na própria ``` zzunescape ```.
Há algumas pegadinhas se for usar essa última sugestão:
 - O uso do carac

[2015-11-28 14:57] itamarnet opened #225 "zztweets quebrada!"
zztweets não retorna os tweets mais recentes dos usuários.
Provavelmente houve uma quebra de layout, que inviabiliza o retorno adequado dos tweets.

[2015-12-04 11:44] itamarnet commented on #225
Restabelecido o funcionamento, alterando o filtro usado no sed e awk, e passando a usar zzsqueeza como requisito.
Vide commit 6594dcd71dcc313015efcf334ce47b1e8b0805c8

[2015-12-04 11:44] #225 closed

[2015-12-04 18:20] itamarnet opened #226 "zzpiada: Não responde."
A função zzpiada não responde.
Aparentemente o domínio não existe mais ou está temporariamente inativo.
Caso não retorne em alguns dias, acredito que a melhor solução seja desativa-la de vez.

[2015-12-04 20:42] itamarnet commented on #217
Voltando a tônica do assunto, acho que esse issue só se resolve de 2 maneiras possíveis:
 - Trocar o site consultado na função, pela site da própria Rede Globo, que pode ter problemas de mudanças futuras de layout ou uso de Ajax.
 - Não considerar isso um erro, visto que a função cumpre ao que foi proposto, e erros pontuais de quem administra o site não devem ser considerados.

O que acham?

[2015-12-05 12:10] itamarnet commented on #226
Site voltou a funcionar.
Nada a ser feito.

[2015-12-05 14:27] itamarnet commented on #224
Olá Alan
Olha algo interessante que pode oferecer o que você sugere sem muito trabalho
Vou pegar minha última frase do comentário anterior como exemplo:
[code]
E então, isso serve?

Obs.: O uso de ``` -assume_charset=utf-8 ``` é para suprir alguns problemas de interpretação em algumas versões do ``` lynx ``` com caracteres especiais. O seu uso não influencia naqueles que não apresentam esse proble

[2015-12-05 23:24] a2fmedeiros commented on #224
Olá,
Eu me confundi na ultima frase o certo era trocar o cedilha (ç) pode
&ccedil; etc.
Agradeço pela ajuda, mas o resultado do que vc mandou foi  o seguinte:

allan@allan:~$ echo "No seu texto quando diz cedilha por ç imagino que
tenha dito cedilha por &ccedil;, cedilha por &#0231; ou cedilha por &#xE7;"
| $ZZWWWDUMP  -assume_charset=utf-8 -stdin | zztrim

No seu texto quando diz cedilha por ç im

[2015-12-06 10:50] itamarnet commented on #224
Cara você tem razão, e eu fui no embalo.
Se é pra ser o inverso da ``` zzunescape ```, não tem cabimento o que eu disse. A sugestão que eu dei, faz a mesma coisa. Foi mal :(

[2015-12-06 16:53] a2fmedeiros commented on #224
;-))
Ei Aurélio, quando quiser conhecer a Paraíba está convidado!
Grande abraço.

--
*Allan Medeiros*
Analista de Informática
__________________________________________
Companhia de Processamento de Dados da Paraíba
medeiros@codata.pb.gov.br

Em 6 de dezembro de 2015 07:50, itamarnet <notifications@github.com>
escreveu:

[2015-12-07 02:49] itamarnet commented on #224
Resolvi fazer uma função oposta a ``` zzunescape ```
Acho que atende a solicitação.
Veja no commit 7505d0052e0f0030b031019aa4083a786d2bea29

[2015-12-07 02:49] #224 closed

[2015-12-11 10:23] itamarnet commented on #39
O conceito anterior estabelecia a nomenclatura relativa baseada no dias.
O ajuste feito na exibição, considera a participação dos valores das horas ou minutos adicionais no resultados negativos.
E para manter coerência o uso da referência relativa (-r) com apenas um argumento usa como base para cálculo 00:00h do dia corrente, tanto para valores positivos como negativos.
Assim as alterações feitas

[2015-12-11 10:23] #39 closed

[2015-12-11 10:34] itamarnet commented on #42
Esse problema não foi reportado novamente e nem foi possível reproduzir depois de muitos testes.
Apenas posso supor que tenha sido um problema temporal ou localizado.
Não havendo mais detalhes que deem subsídios para repetir o evento, vou considerá-lo inexistente.

[2015-12-11 10:34] #42 closed

[2015-12-28 09:55] itamarnet commented on #211
Alterando delimitador usado pela ``` zzjuntalinhas ``` que causa o problema do espaço adicional.
Ver commits e7d902f3ed9396598130a8a3e5805dca4047c33c e fd6e6499f236d0d5d02f950a5ae1e13377bdf88f

[2015-12-28 09:55] #211 closed

[2016-01-02 14:14] itamarnet commented on #206
Tentei buscar alternativas a essa dependência e infelizmente decorrido tanto tempo o problema persiste.
O comentário https://github.com/funcoeszz/funcoeszz/issues/159#issuecomment-72391504  feito por @kemelzaidan foi que deu a melhor alternativa e ainda hoje parece a mais viável.

[2016-01-24 23:42] aleprovencio opened #227 "zzoperadora não funciona?"
Estou testando com o próprio exemplo da documentação (zzoperadora 1934621026) e não recebo retorno algum.

[2016-01-25 00:01] aleprovencio opened #228 "zztimer e zzcrono(metro)"
O que acham de algo como `zztimer 1:30` ?

[2016-01-25 01:06] itamarnet commented on #228
Qual seria a intenção?
O comando sleep não atenderia já apenas convertendo para sleep 90?
Ou é exibir uma contagem regressiva?

Apenas detalhe um pouco mais sobre o objetivo por favor.

[2016-01-25 01:07] itamarnet commented on #227
Realmente não funciona mesmo.
Mudança do site, mas vou verificar qual a natureza exata e assim que possível corrigimos.
Valeu pelo aviso!

[2016-01-25 02:13] itamarnet commented on #227
Reativada.
Vide commit: e6582845793a8fa22ad3020f1b6490a9a7657e79

[2016-01-25 02:13] #227 closed

[2016-01-25 11:18] aleprovencio commented on #227
Muito obrigado!

[2016-01-25 11:25] aleprovencio commented on #228
exatamente @itamarnet, o grande lance seria a exibição dos contadores atualizando

[2016-01-26 02:01] itamarnet commented on #228
Fiz o commit de uma função que creio que atende o que pediu.
Dá uma conferida em 10c97e73fb48ed6867da530fbafe86448696ae35

[2016-01-26 02:01] #228 closed

[2016-01-26 10:01] aleprovencio commented on #228
atende com perfeição! :D
A zztimer sem dúvidas é a mais legal mas a zzcrono você acha besteira?

[2016-01-26 10:12] itamarnet commented on #228
Desculpe @aleprovencio acho que não entendi então.
Imaginei que havia digitado errado e que queria dizer algo como "zztimer ou zzcrono(metro)", que ao meu entender são coisas idênticas, mudando apenas o nome.

Seja mais detalhista e qual seria a diferença entre ambas? Sinceramente não imaginei duas opções, mas apenas alternativas de nome.

Obs.: E essa zztimer tem mais um efeito estético, não dá p

[2016-01-26 10:25] aleprovencio commented on #228
Desculpe ser tão vago @itamarnet . A zzcrono seria basicamente uma zztimer simplificada, mas com contagem progressiva ao invés de regressiva e sem necessidade de argumento algum. Se quiser deixá-la ainda mais legal o pressionamento de alguma tecla poderia imprimir o tempo das voltas (laps).

[2016-01-26 10:41] itamarnet commented on #228
Entendi @aleprovencio
Isso é algo possível de ser feito, mas esbarra num problema.

Temos "Coding Style" e a idéia violaria um desses princípios, a saber: https://github.com/funcoeszz/funcoeszz/wiki/Coding-Style#interatividade-zero

Existem algumas funções antigas que não se enquadram nesse quesito também, mas são anteriores a essa diretriz, e serão modificadas. Todavia tentamos evitar criar algo

[2016-01-26 11:05] aleprovencio commented on #228
Não havia me atentado à essas diretrizes. Está ótimo, obrigado novamente @itamarnet !

[2016-02-01 23:53] aleprovencio opened #229 "zztv: próximas atrações"
Seria muito útil se tivevesse um argumento para mostrar ao invés da programação que está no ar, a que vai entrar na sequência.
Ex: `zztv filmes prox` mostraria os próximos filmes que vão começar

[2016-02-02 11:04] itamarnet commented on #229
@aleprovencio
A idéia é boa, mas o site consultado não oferece essa possibilidade nas categorias, exceto por canal.

A consulta por canal mostra o que passa no momento e o resto da grade divulgada, e há a possibilidade de ver dias posteriores, mas apenas por canal..

Se houver algum outro site que possa ser consultado e que ofereça essa possibilidade, é algo a ser considerado.

Eu pessoalmente, ap

[2016-02-02 19:00] aleprovencio commented on #229
Entendi @itamarnet, eu tb até tentei fazer umas gambiarras com xargs e grep mas no fim não gostei do resultado, pena mesmo.
Valeu

[2016-02-05 07:21] #217 closed

[2016-02-05 09:30] #229 closed

[2016-02-05 09:35] itamarnet commented on #130
Site de consulta já mudou 2 vezes e não houve um reposicionamento sobre o problema.

[2016-02-05 09:35] #130 closed

[2016-02-06 14:12] itamarnet opened #230 "zztool: Incluir 'testa_octal' e 'testa_hexadecimal'."
Já existem as ferramentas ``` testa_binario ``` e ``` testa_numero ``` na ``` zztool ```, se for pertinente poderiam ser inclusas a ``` testa_octal ``` e ``` testa_hexadecimal ``` ( ou ``` teste_hexa ``` ).

Há uma amostra de como o código poderia ser feito na ``` zzconverte ``` no commit 70db70f5c7e5785d0703d10b7be10aa5c172418d.

[2016-02-07 12:12] itamarnet opened #231 "zznarrativa não mais responde."
Ao solicitar qualquer palavra ou frase ao ``` zznarrativa ``` não há nenhum retorno.

Acessando o google diretamente simulando a url montada pela zz, há a solicitação de confirmação com um formulário usando "captcha".

Alguém mais está com o mesmo problema?

Se confirmar essa situação, o caminho natural é achar outra fonte ou desativar essa função.

[2016-02-10 16:06] itamarnet commented on #207
É uma questão antiga, mas refletindo sobre o assunto recentemente faço as seguintes perguntas:
Esse é um problema mesmo das Funções ZZ?
 - Pelo que entendo as Funções não sofrem do problema em si, mas ao utilizar o ``` clitest ``` em seu testador.

Não é o caso de fechar esse issue e abrir um novo issue dentro do ``` clitest ```?
 - Afinal esse problema pode se repetir em outros programas que o ut

[2016-02-15 23:16] itamarnet commented on #231
DESATIVADA: Limitações impostas pelo Google e sem uma opção viável para substituição.
Commit 5df6291e12a0e9eaec9d827d8d12aa7d244ffc47

[2016-02-15 23:16] #231 closed

[2016-02-22 19:36] itamarnet opened #233 "Modificar "zztool num_linhas", e promover "iconv" a comando essencial."
Trocar a função ``` num_linhas ```
de:
[code]

para:
[code]

 - Faz mais sentido usar o ``` sed ```, que é um comando essencial ao core, do que o ``` wc ``` que sequer é listado com opcional.

- Promover o ``` iconv ``` como comando essencial, visto a sua utilidade dentro do core e demais funções.

[2016-02-23 09:04] aureliojargas commented on #233
Eu acho que tinha alguma motivo de portabilidade pra ser assim. Algo como diferentes seds trazerem resultados em formatos diferentes.

Mas pode ser viagem minha, pois com o `wc` tem o mesmo problema...

[2016-02-23 09:07] aureliojargas commented on #230
Acho massa! :+1:

[2016-02-23 09:12] aureliojargas commented on #207
Não é bem problema do clitest em si, mas da escolha do ambiente Debian que difere dos demais. Mas realmente, por enquanto ainda somos bash-only então não faz sentido nos preocuparmos com isso.

Pra resolver é fácil, é só chamar o clitest como `bash clitest`, aí o bash será usado e os testes passarão normalmente.

[2016-02-23 17:04] itamarnet commented on #207
Com essa nova abordagem é melhor descartar o branch ``` zzascii-opcoes-d-x-o ```.
Afinal aquela solução era pontual para atender a ``` zzurlencode ``` nos testes que falhavam e que fez emergir o problema com o ``` Dash ```

[2016-02-23 17:16] itamarnet commented on #230
Aqui também deixo a sugestão do @rafaelsilvag, que foi feita em https://github.com/funcoeszz/funcoeszz/pull/232, onde poderíamos ter também o ``` testa_mac ```.

Esperava que ele mesmo fizesse a sugestão em um novo issue, ou comentando aqui.

De toda forma a ideia parece interessante em um novo release.

[2016-02-23 19:46] itamarnet commented on #233
Não desconfio qual fosse o motivo original, mas vi que havia o uso do ``` sed ``` nas funções e não o uso dessa ferramenta.

Todavia o que mais me chamou a atenção é o resultado dessa comparação que exemplifico:
[code]
[code]
 Pelo retorno dos resultados, acho que é mais uma justificativa pela troca.

E só para não contrariar com o ``` awk ``` também teria um resultado mais adequado:
[code]
É o ca

[2016-02-23 20:17] rafaelsilvag commented on #230
Se for pertinente, incluir a função testa_mac. O exemplo do código alterar, com sugestões do @itamarnet, estão no commit (https://github.com/rafaelsilvag/funcoeszz/commit/f1bb9f20073d17b8b89f1099dda8dc6e6a2e955b) feita em #232. Esta função, irá validar se o argumento possui um formato de mac válido.

[2016-03-07 02:37] itamarnet opened #235 "zztool: Incluir a 'num_caracteres' ou 'num_chars'"
Sugestão leva em conta alguns aspectos do comando ``` wc ```:
 - Nem todas as versões contam com a opção ``` -m ``` que conta caracteres, o que pode ser um problema de portabilidade.
 - Há um retorno diferente da quantidade de caracteres ou bytes quando se usa o ``` printf ``` ou ``` echo ```, pois o ``` wc ``` contabiliza o ``` new line ( \n ) ```.
 - O ``` wc ``` também contabiliza o ``` carriag

[2016-03-07 15:25] aureliojargas commented on #235
Boa ideia. Talvez zzcount pra ficar mais genérico.

O awk dá pra trocar por `tr -d '\n'`.

[2016-03-08 13:40] djordn opened #236 "Erro de instalacao MacOS"
Bom dia.
Estou com a seguinte mensagem de erro apos instalar o funcoes:

`/Users/djordn/Work/Experiments/funcoeszz:11099: parse error near `)'`

O resultado da tentativa de uso do zzcpf por exemplo:

[code]
Como devo proceder pra usar estas funcoes no Mac ?

[2016-03-08 13:43] djordn commented on #236
Navegando nos issues eu entendi o problema.
Para os que possam ter o mesmo problema, usem o `bash` como interpretador de comandos.

[2016-03-08 13:43] #236 closed

[2016-03-10 03:43] itamarnet commented on #235
A citação ao ``` awk ``` é uma opção apenas, que poderia ser alternativa ao trecho ``` tr -d '\r\n' ```, mas que não considerei por não ser um dos comandos essenciais.

A sugestão para constar no core é baseada na mesma lógica do ``` zztool num_linhas ```, mas se for para ser uma função externa talvez seja melhor usar ``` zzwc ```. Ai além dessa ideia exposta, também englobaria ``` zztool num_linh

[2016-03-14 12:49] itamarnet opened #237 "Criar "zztesta" em substituição a "zztool testa_*""
Acredito que seria interessante a criação da uma nova função especialmente apenas para testes, que estivesse desvinculada do core.
Num primeiro momento substituiria as seguintes opções da ``` zztool ```:
[code]

E incluiria também essas duas que estão dentro da ``` zzmat ```:
[code]

Além de atender mais rapidamente as seguintes sugestões ainda não implementadas:
[code]
Referência aos issues #230

[2016-03-14 12:54] itamarnet commented on #235
Criada a função ```zzwc ``` que atende essa demanda com a opção ``` zzwc -m ```.
Vide commit 9d0d24a6ba00a9abd52f16d0838372196d02e4f1

[2016-03-14 12:54] #235 closed

[2016-03-20 18:19] itamarnet opened #238 "Testadores: zzrastreamento, zzora, zzjuntalinhas e zzcapitalize."
``` zzrastreamento ``` - impossível testar sem um código válido.

``` zzora ``` - site inacessível. Problema temporário?

``` zzjuntalinhas ``` - Esse trecho dá erro com fim na primeira linha:
[code]

``` zzcapitalize ``` - ``` XªX½ ```: por algum motivo o ``` ª ``` impede o ``` X ``` seguinte ficar em caixa alta resultando em ``` Xªx½ ```.

[2016-03-20 19:15] itamarnet commented on #223
Testados reescrito conforme commit 28de19c69805ac440072b84e445c12f30db04783

[2016-03-20 19:15] #223 closed

[2016-03-20 23:39] itamarnet commented on #230
Ao invés de criar novas ferramentas na ``` zztool ```, houve a criação de uma nova função: ``` zztestar ``` que cobre essa sugestão.
Ver commit 61ddff02b3dcbb94b87c4078d78baee68bca34a7

[2016-03-20 23:39] #230 closed

[2016-03-20 23:41] itamarnet commented on #233
Sugestão parcialmente resolvida no commit 61ddff02b3dcbb94b87c4078d78baee68bca34a7 com a criação da ``` zztestar ```

[2016-03-20 23:42] itamarnet commented on #237
Função criada com o nome ``` zztestar ``', mas ainda não substituindo as ``` zztool testa_* ``` usadas.
Ver commit 61ddff02b3dcbb94b87c4078d78baee68bca34a7

[2016-03-20 23:48] itamarnet commented on #84
@aureliojargas Será que a listagem enviada pela Letícia Santos ainda é válida?

[2016-03-21 09:16] aureliojargas commented on #237
@itamarnet as `testa_*` estão no core por serem essenciais para a maioria das funções. É garantido que estas ferramentas sempre vão existir. Se migrar pra uma função normal, não há mais essa garantia.

[2016-03-21 09:20] aureliojargas commented on #233
Olha só, não sabia que o wc ignorava a última linha sem `\n`, estranho...

Acho que é o caso de trocar e ver se quebra os testes.

[2016-03-21 12:15] itamarnet commented on #237
@aureliojargas Num primeiro momento considerei a possibilidade da troca, mas reconsiderei tanto que fechei o issue.
A ``` zztestar ``` age como uma intermediária até que modificações possam sem inclusas no core, ou como uma forma alternativa de teste, visto alguns testes tem comportamento apenas similar as ferramentas originais da ``` zztool ```.
Acredito que mante-la não fará mal, o que acha?

[2016-03-21 12:21] itamarnet commented on #233
Nem eu sabia até pouco tempo, mas pelo que eu pude entender o wc faz a contagem de linhas pela quantidade de ocorrências do ``` New Line (\n) ```.

Nos testes que fiz, assim como exemplifiquei, tanto o sed como o awk trazem um resultado mais adequado na contagem, ou usar a alternativa ```zzwc ```.

[2016-03-23 08:46] aureliojargas commented on #237
Isso, deixa lá que ela complementa, ficou muito boa!

Pra evitar duplicação de código, alguns testes da `zztestar` podiam chamar a `zztool testa_*` equivalente.

Também agora dá pra repensar quais devem continuar no core e quais podem ficar só na zztestar, pois poucas funções usam ou não é de uso tão geral que mereça estar no core.

[2016-03-23 08:53] aureliojargas commented on #207
Concordo!

[2016-03-23 10:34] aureliojargas commented on #177
[Usei o Travis no clitest](https://github.com/aureliojargas/clitest/blob/master/.travis.yml) e é excelente mesmo! Pode deixar que eu vou colocar aqui na ZZ também.

[2016-03-23 10:41] itamarnet commented on #237
O ``` testa_numero ``` é um caso indiscutível que deve estar no core, ele é muito usado e uma alteração nele não acho que seja vantajosa em nenhum aspecto.

O ``` testa_ano ``` e ``` testa_data ``` são outros 2 caso que acredito que também devam permanecer no core, mas não é tão crítico e uma mudança é plausível, mas não recomendo.

Os demais acho que podemos considerar a mudança e deixar apenas n

[2016-03-23 15:32] aureliojargas commented on #207
Agora que o testador está sempre usando o bash #234, podemos fechar essa issue. Se no futuro quisermos que as ZZ também suportem o dash, já está aqui a referência de um problema que precisaremos resolver.

[2016-03-23 15:32] #207 closed

[2016-03-23 15:34] aureliojargas commented on #238
Aqui no Mac a capitalize rodou normal:

[code]

[2016-03-23 15:35] aureliojargas commented on #238
O mesmo pra `zzjuntalinhas`:

[code]

[2016-03-23 15:35] aureliojargas commented on #238
Você rodou com o bash ou com o jeito antigo `/bin/sh`?

[2016-03-23 17:57] itamarnet commented on #238
Pois é @aureliojargas eu tive esses problemas com o testador e o que tentei foi:
 - mudar a linha para ``` /bin/bash ``` no Shebang,
 - mudar a variável ``` tester='bash clitest' ``` ,
 - invocar os comandos que deram erro fora do testador.

Em todas situações o erro permaneceu.
Usei um note com Linux Mint 17.3 e outro Desktop com o Manjaro e ambos atualizados.

Sinceramente não sei nem o que suge

[2016-03-23 19:39] gmgall commented on #84
O site deles tem um [PDF com o cardápio](http://www.spoleto.com.br/sites/all/themes/spoleto/pdf/novo_cardapio_espoleto.pdf).

[2016-03-30 23:37] itamarnet commented on #238
Então @aureliojargas, com relação a ``` zzjuntalinhas ``` o problema persiste.
O problema aparentemente está em ser o início e fim na mesma linha, por exemplo:
[code]
Como vc sabe não sou expert em ``` sed ```, mas numa tentativa de resolver fiz isso, apenas comentei as ações:
[code]

E os resultados foram satisfatórios:
[code]
[code]

Não quis fazer commit dessa alteração, pois não sei se isso qu

[2016-03-30 23:46] itamarnet commented on #238
O ``` zzcapitalize ``` pode desconsiderar, os testes estão "OK".

O problema realmente ocorria quando estava no jeito antigo ``` /bin/sh ```.

[2016-04-03 11:57] itamarnet commented on #233
Solicitações resolvidas nos commits cf7b694878330bd257b9f10242c29a6608326933 e 7e29a5f599b1aa5721e8e66225e0016619893e50

[2016-04-03 14:07] itamarnet commented on #154
Já que o tópico aparentemente foi "esquecido" ou "abandonado", inclui a funcionalidade na ``` zzloteria ```.
Vide commit 86378646ff53a5a392831245f1b85e5da5593d2f

[2016-04-03 14:07] #154 closed

[2016-04-03 14:36] itamarnet commented on #127
Feito!
Vide commit b0d447ce413f0ab8669ba878bfd02c3898e239be

[2016-04-03 14:36] #127 closed

[2016-04-03 14:45] itamarnet commented on #206
Com a nova abordagem que o commit b0d447ce413f0ab8669ba878bfd02c3898e239be mostra, esse issue não faz mais sentido.
Fechando!

[2016-04-03 14:45] #206 closed

[2016-04-03 15:18] itamarnet commented on #142
Os múltiplos sites que apresentavam divergências estão ou sem atualização, fecharam ou estão na iminência de interromper as atividades.
Os sites usados como referência continuam ativos.
Esse issue então não mais procede, pois os dados comparativos não correspondem a uma realidade estável do mercado virtual.

[2016-04-03 15:18] #142 closed

[2016-04-03 15:20] itamarnet commented on #122
Acredito que o core esteja realmente multi-plataforma
Apenas tenho dúvidas no uso do ``` type ```, mas aparentemente isso não é um problema.
Podemos considerar plenamente portável?

[2016-04-03 21:58] aureliojargas commented on #122
Espera só mais um pouco, eu colocar o Travis pra funcionar, aí teremos testes automatizados em Linux e Mac. Vou passar o shellcheck no core também, pra garantir.

[2016-04-03 21:59] aureliojargas opened #242 "Passar shellcheck no core"
E resolver os problemas que ele apontar.

[2016-04-03 22:00] aureliojargas commented on #142
:+1:

[2016-04-03 22:00] aureliojargas commented on #206
:+1:

[2016-04-03 22:05] aureliojargas commented on #127
:+1:

[2016-04-03 22:08] aureliojargas commented on #233
:+1:

[2016-04-03 22:33] aureliojargas opened #243 "zzalfabeto: quebrou no BSD, expand com var vazia"
[code]

O problema é que `$tam` está chegando vazia em

[code]

[2016-04-03 22:53] aureliojargas opened #244 "zzcut: problema no awk do BSD"
[code]

[2016-04-03 23:03] aureliojargas opened #245 "Portabilidade: sed deve fechar comando antes do }"
Várias funções estão quebradas no BSD porque o sed não fechou o último comando com ponto-e-vírgula, dentro dos blocos `{ … }`.

Vou arrumar.

[2016-04-03 23:03] #245 closed

[2016-04-03 23:04] aureliojargas commented on #245
cc @itamarnet

[2016-04-03 23:09] aureliojargas commented on #127
Só faltou atualizar os testes, fiz no 79c237356ba1769c4cdf16939533f0a77e537f51

[2016-04-03 23:11] itamarnet commented on #244
@aureliojargas
Na linha 166 da zzcut.sh troque:
``` split("", faixa); split($i, faixa, "~") ```

por:
``` split("", faixa); split($1, faixa, "~") ```

Acho que o erro é aqui, mas no awk que tenho ele contorna esse problema.

[2016-04-03 23:14] itamarnet commented on #245
@aureliojargas Desculpe isso me passou batido.

[2016-04-03 23:19] aureliojargas opened #246 "zzloteira: testes falhando no BSD: duplasena e federal"
[code]

[2016-04-03 23:23] aureliojargas opened #247 "zzcolunar: erro de alinhamento no BSD"
[code]

[2016-04-03 23:25] itamarnet commented on #243
@aureliojargas
Não consigo ver onde pode estar o erro nesse caso.
Pode enviar uma saída usando o recurso ``` set -x ```, talvez assim eu consiga entender o que há de errado.

[2016-04-03 23:41] aureliojargas commented on #233
Achei o problema de usar sed: quando não tem linhas.

[code]

[2016-04-03 23:52] itamarnet commented on #233
Temos um problema duplo então:
 - Arquivo vazio
 - Ou não terminando em ``` \n ```

Tenho duas sugestões:
 - Direcionar para uma variável e se estiver vazia, assume-se 0
[code]

 - Ou usar awk: ( Não recomendo )
[code]

[2016-04-03 23:59] aureliojargas commented on #242
Feito em ab58c852dc0beb589d432586e5f55dd1e3418a43

[2016-04-04 00:12] aureliojargas commented on #242
Pra uma passada inicial, tá bom. Os outros erros são ignoráveis, ou requerem mais trabalho para arrumar.

[2016-04-04 00:12] #242 closed

[2016-04-04 00:20] aureliojargas commented on #233
Boa ideia, usei a variável então :+1:

[2016-04-04 00:20] #233 closed

[2016-04-04 00:26] aureliojargas commented on #245
Sem crise :)

A hora que o Travis estiver funcionando pra Linux e Mac esse tipo de erro vai aparecer na hora.

[2016-04-04 00:29] aureliojargas commented on #243
[code]

[2016-04-04 00:30] aureliojargas commented on #243
Parece que em nenhum momento a `$tam` foi setada.

[2016-04-04 00:47] aureliojargas opened #248 "zzbraille congela no Travis"
Aqui funciona normal, mas ao executar no Travis, a `zzbraille` congela no primeiro teste e não retorna mais.

Investigar melhor isso.

[2016-04-04 00:57] itamarnet commented on #243
Duas sugestões:
Na linha que tem:``` expand -t "$tam" | zztrim ```.
Trocar por ``` expand -t "${tam:-1}" | zztrim ```

Ou enclausurar o trecho do ``` expand ```:
[code]
Pelo que vi realmente a variável $tam não é setado mesmo, é que no GNU/Linux o expand aceita o valor de -t uma string vazia mas não zero.
Não quero atrapalhar os testes no Travis, então deixo que verifique por ai.

[2016-04-04 01:15] itamarnet commented on #248
Nas linha 138 e 139 em ```zzbraille ```:
[code]

Tente substituir por:
[code]
Acho que são esses caracteres exóticos que estão travando.

[2016-04-04 01:16] aureliojargas commented on #243
Não aceita -1 também, nem zero :(

Tem que ser um número de verdade. Qual o valor padrão no Linux?

[2016-04-04 01:20] itamarnet commented on #243
Normalmente seria 8, mas qualquer valor mínimo que não de erro é aceitável.
Depois adequamos os testes a nova realidade, sem erro do ``` expand ```

[2016-04-04 01:22] aureliojargas commented on #177
Beleza, Travis adicionado no commit fd26111f5d88129781fa03fc01f5b0261b0bfb14.

Atualmente, o resultado não é muito animador, temos 104 erros no testador :cry:  Agora é tentar ir atrás e arrumá-los.

Depois que conseguirmos zerar isso, dá pra bloquear os futuros commits que quebrem os testes.

[2016-04-04 01:24] aureliojargas commented on #177
Vou deixar esta issue aberta até que consigamos implementar o Travis totalmente, com testes passando 100% no Linux e Mac.

[2016-04-04 01:27] itamarnet commented on #177
Uma coisa que considero fonte de erros seja a diferença como ``` lynx ``` e ``` links ``` exibem seu resultados.
Um bom ponto de partida é verificar essas diferenças, que provavelmente também existem em relação ao ``` w3m ``` também.

[2016-04-04 01:29] aureliojargas commented on #243
Beleza, com estas duas correções agora os testes passaram :+1:

[2016-04-04 01:29] #243 closed

[2016-04-04 01:30] aureliojargas commented on #177
É, isso será uma dor de cabeça :(

[2016-04-04 01:33] aureliojargas commented on #84
Será que vale a pena fazer essa função? Tenho minhas dúvidas hoje.

[2016-04-04 01:34] itamarnet commented on #84
Essa é uma diversão sua. Seja o que decidir está apoiado :)

[2016-04-04 01:54] itamarnet commented on #177
Um paliativo que pode ser feito a priori seria na linha 80 das ``` funcoeszz ``` trocar:
``` for ZZBROWSER in lynx links w3m ```
por:
``` for ZZBROWSER in links lynx w3m ```

[2016-04-04 02:07] itamarnet commented on #244
@aureliojargas
Veja se a solução do commit 75ce06bcd1ac00c68dc200009156bfc0486897d3 resolveu o problema.

[2016-04-05 15:08] aureliojargas commented on #84
Então tá fetchado :)

[2016-04-05 15:08] #84 closed

[2016-04-05 15:11] aureliojargas commented on #177
Bem, no momento, estou querendo ver a test-suite rodar 100% na minha máquina (Mac), usando o lynx mesmo, que é o browser para o qual os testes foram escritos.

Olha como está o status atual:

[code]

Vou abrir issues para os problemas que encontrei.

Na tua máquina os testes estão 100%? Era bom deixar redondo aí também, antes de começarmos a adaptar as coisas para o `links`.

[2016-04-05 15:13] aureliojargas opened #249 "zzwc: testes quebrados no BSD"
[code]

[2016-04-05 15:22] aureliojargas commented on #244
O erro do awk sumiu, mas a saída continua errada:

[code]

[2016-04-05 15:22] itamarnet commented on #177
Na minha máquina só há problemas efetivamente com a ``` zzjuntalinhas ``` e a ``` zzarrumanome ```.
Com a ``` zzpiada ``` também mas é instabilidade do site, por isso no momento a ignoro.

[2016-04-05 15:22] aureliojargas commented on #238
Achei um código de teste pra `zzrastreamento` e atualizei o testador.

[2016-04-05 15:30] aureliojargas commented on #238
@itamarnet você acertou! Removi aqui aquele trecho e a função continuou funcionando igual. Vai entender! :smile:

Então todos os problemas dessa issue foram resolvidos, vou fechar.

Só peço que no futuro abra uma issue por função, para ficar mais fácil resolver/gerenciar os problemas individualmente, ok?

[2016-04-05 15:30] #238 closed

[2016-04-05 15:32] aureliojargas commented on #177
Acabei de subir a alteração da `zzjuntalinhas`, confere aí se resolveu. As demais que quebrarem abra uma issue, por favor.

[2016-04-05 15:33] aureliojargas opened #250 "zztempo: teste quebrado"
[code]

@itamarnet pra você não aparece essa linha nova na saída da `zztempo`?

[2016-04-05 15:40] aureliojargas opened #251 "zzpais: saída desalinhada no BSD"
[code]

Pelo visto, o awk do BSD não é confiável para usar o `printf` com `%s` ao setar o tamanho do campo. Se tiver acentos, ele se perde.

Esse deve ser o mesmo problema que afeta a `zzcolunar` (vide #247), que por sua vez afeta todas as funções que dependem dela.

[2016-04-05 15:42] aureliojargas opened #252 "zzlibertadores: teste falhando no BSD"
[code]

[2016-04-05 15:45] aureliojargas opened #253 "zzhoracerta: teste falhando no BSD"
[code]

[2016-04-05 15:46] aureliojargas opened #254 "zzconverte: testes falhando no BSD"
[code]

[2016-04-05 16:10] itamarnet commented on #250
No último teste que fiz não havia essa linha  na ``` zztempo ``` , mas nas últimas modificações que formam feitas no testador eram justamente por mudanças nos itens listados.

Talvez seja melhor refazer o testador sendo mais restritivo.

[2016-04-05 16:23] itamarnet commented on #251
Esse é um caso a ser tratado talvez pela ``` zzpad ``` como já havia sido considerado antes, porém a performance cai muito com seu uso, ou talvez adotar internamente a solução que a ``` zzwc ``` usou.

É algo a se estudar com mais cuidado.

[2016-04-05 16:27] itamarnet commented on #252
Esse é um caso que não fiz o commit, pois a mudança no site não reserva mais o espaço com as futuras vagas.
Estava tratando a parte e deixei do enviar essa alteração para não criar mais um problema.
Vou rever o que fiz, e ver se ainda é aplicável.

[2016-04-05 21:57] aureliojargas commented on #251
O mesmo problema acontece no Ubuntu:

[code]

[2016-04-05 22:00] aureliojargas opened #255 "zzlocale: testes falhando no Ubuntu"
[code]

[2016-04-05 22:00] aureliojargas opened #256 "zztestar: testes falhando no Ubuntu"
[code]

[2016-04-05 22:01] aureliojargas opened #257 "zzsqueeze: testes falhando no Ubuntu"
[code]

[2016-04-05 22:01] aureliojargas opened #258 "zzramones: teste falhando no Ubuntu"
[code]

[2016-04-05 22:01] aureliojargas opened #259 "zzjquery: testes falhando no Ubuntu"
[code]

[2016-04-05 22:03] aureliojargas opened #260 "zzcolunar: teste falhando: awk: illegal reference to variable campos"
[code]

[2016-04-05 22:05] aureliojargas opened #261 "zzalinhar: teste falhando no Ubuntu: awk: illegal reference to variable campos"
[code]

[2016-04-05 22:07] aureliojargas opened #262 "zzalfabeto: erro no Ubuntu: awk: illegal reference to local array arr_camp"
Esse erro aparece sempre ao chamar a função. Todos os testes falharam.

[code]

[2016-04-05 22:09] aureliojargas opened #263 "Zerar erros nos testes no Ubuntu"
Hoje, 70 testes estão falhando no Ubuntu. Vamos zerá-los?

[code]

[2016-04-05 22:16] aureliojargas commented on #250
Pois é, essa saída dela é muito variável. Ignorei essa linha no teste, por ora.

[2016-04-05 22:16] #250 closed

[2016-04-05 22:18] aureliojargas commented on #231
:+1:

[2016-04-06 05:30] itamarnet commented on #263
@aureliojargas  - Primeiro round:
Para maior compatibilidade estava usando como comparação o ``` awk ``` embutido no ``` busybox ```, pois imaginava ser o mais limitado.

Todavia o ``` mawk ``` foi uma inesperada e infeliz surpresa, ao não suportar na ``` regex ```, seja usando o operador ``` ~ ``` ou na função ``` match ```, o uso de chaves como um quantificador.

Realizei a substituição e ao men

[2016-04-06 05:55] itamarnet commented on #263
@aureliojargas - Segundo round:
Outro uso bem comum no ``` awk ``` é usar a função ``` length ``` para dimensionar strings ou a quantidade de elementos dentro de um ``` array ```.

Infelizmento de novo, no ``` mawk ``` a segunda opção não existe.

Felizmente a função ``` split ```, ao segmentar uma string em um ``` array ```, retorna a quantidade de elementos gerados.

Vide commit 29b176df57a326e8

[2016-04-06 06:14] itamarnet commented on #263
@aureliojargas - Terceiro round:
Algo bem trivial é usar classes ``` POSIX ``` em ``` regex ```.

Aparentemente o ``` mawk ``` não pensa assim.
Definitivamente depois dessa odeio o ``` mawk ```, é o meu ``` dash ``` equivalente.

Vide commit d811d4c3e76cfb15ebcd412aceb1c902252d21eb

[2016-04-06 09:20] aureliojargas commented on #263
Legal que está encontrando os problemas, amigo! Lembra também de atualizar
a wiki Portabilidade com estas informações, pra não cairmos mais nestas
pegadinhas. :+1:

[2016-04-06 09:28] aureliojargas commented on #263
Pelo que vi, o `length` no awk é extensão GNU, não está no POSIX.

Pra garantir portabilidade, não podemos usar nada que não seja POSIX. Eu
sou leigo em awk, então fica pra ti essa tarefa hehehe

Portabilidade is hard, let's go shopping :)
Em 06/04/2016 03:14, "itamarnet" <notifications@github.com> escreveu:

[2016-04-06 09:39] aureliojargas opened #264 "Rodar Funções ZZ via Docker"
- [x] Escolher uma imagem base (busybox, alpine, Debian, Ubuntu)
- [x] Criar o Dockerfile
- [ ] Testes rodando 100% nesta imagem
- [ ] :tada:

[2016-04-06 10:53] itamarnet commented on #263
Na verdade o ``` length ``` só não funciona quando é usado em arrays, usando-o mesmo com as opções ``` --posix ``` ou ``` -W posix ``` para 'strings' funciona beleza.

Além dessa particularidade do ``` length ```, também precisa se evitar usar ``` asort ```, ``` asorti ```, ``` switch ```, ``` gensub ```, ``` patsplit ```, ``` strtonum ``` e ``` isarray ``` e funções com bits e de tempo.

E cuidad

[2016-04-06 12:44] itamarnet commented on #258
Esse não parece ser um caso de ``` awk ```, mas alterei a ``` zztool dump ``` para ``` zztool download ```, e ao menos no Travis funcionou.

Vide commit fd4684ca57474c56e5b5f1ac9088954e5d579366

[2016-04-06 12:50] itamarnet commented on #249
Não consigo reproduzir esse erro, mas suponho que seja algo ligado ao Carriage Return '\r' ou New Line '\n'.
Lembro de ter lido algo a respeito dessas diferenças entre Linux, Windows e Mac's.
 - Linux '\n'
 - Mac '\r'
 - Windows '\r\n'

Não sei se isso é válido desde que os Macs adotaram o kernel baseado em BSD's, mas é nisso que me orientei.
Veja se soluciona para você.

Commit bf8d9c0d2a077057db

[2016-04-06 12:54] itamarnet commented on #260
Na verdade o erra estava na ``` zzalinhar ```, que também fazia uso do ``` length ``` em arrays dentro do ``` awk ```.
Commit b6449251ddc6cb6a0ae81e65da13e52f0ea86efe

[2016-04-06 12:56] itamarnet commented on #257
Caso já comentado em https://github.com/funcoeszz/funcoeszz/issues/263#issuecomment-206135073

Commit d811d4c3e76cfb15ebcd412aceb1c902252d21eb

[2016-04-06 12:58] itamarnet commented on #262
Comentado em https://github.com/funcoeszz/funcoeszz/issues/263#issuecomment-206129966

Commit 29b176df57a326e80bd6819cfbbe1e5e1ebca796

[2016-04-06 12:59] itamarnet commented on #256
Comentado já em https://github.com/funcoeszz/funcoeszz/issues/263#issuecomment-206125679

Commit 32af28ecace6260688cde8706e1a95fc2ad2bf59

[2016-04-06 13:12] itamarnet commented on #264
Se for para escolher uma opção o alpine parece o mais promissor como imagem base.

[2016-04-06 13:14] itamarnet commented on #255
Outro item que apenas mudei para ``` zztool download ```
No Travis funcionou.

Commit aff25348f35cfbc5c1936b519b92b58e27b05256

[2016-04-06 13:23] itamarnet commented on #261
Removendo o uso do ``` lenght ``` em arrays no ``` awk ```.
Assuno já abordado em https://github.com/funcoeszz/funcoeszz/issues/263#issuecomment-206129966
Commit b6449251ddc6cb6a0ae81e65da13e52f0ea86efe

[2016-04-06 13:52] itamarnet commented on #244
De novo não consegui reproduzir o erro comigo.

Assim que puder mude a linha 170 de:
``` printf "s/./" tsp "/" faixa[1] "; :a; s/\\(" tsp ".\\{" faixa[2]-1 "\\}\\)[^" tsp "]/\\1" tsp "/g; ta;" ```
para:
``` printf "s/./" tsp "/" faixa[1] "; :a; s/\\(" tsp ".\\{" faixa[2]-1 "\\}\\)[^" tsp "]/\\1" tsp "/; ta;" ```

Desconfio que esse 'g' adicional faça a diferença.

Fico no aguardo.

[2016-04-06 14:40] itamarnet commented on #254
Estava usando um artifício para gerar uma saída formatada, sem precisar de uma função externa.
Visto que houve incompatibilidade, usei a ``` zznumero ``` pára ajeitar

Vide commit bbd01888e4c5c6d5b2e07f67efbce5b5bc98d35b

[2016-04-06 22:10] aureliojargas commented on #262
Arrumado :+1:

[2016-04-06 22:10] #262 closed

[2016-04-06 22:10] aureliojargas commented on #256
Arrumado :+1:

[2016-04-06 22:10] #256 closed

[2016-04-06 22:10] aureliojargas commented on #261
Arrumado :+1:

[2016-04-06 22:10] #261 closed

[2016-04-06 22:11] aureliojargas commented on #257
Arrumado :+1:

[2016-04-06 22:11] #257 closed

[2016-04-06 22:14] aureliojargas commented on #258
Aqui no Ubuntu o erro continua :(

[2016-04-06 22:14] aureliojargas commented on #255
Aqui o erro continua :(

[2016-04-06 22:15] aureliojargas commented on #254
Arrumado :+1:

[2016-04-06 22:15] #254 closed

[2016-04-06 22:16] aureliojargas commented on #251
@itamarnet a performance cai MUITO? Porque acho que pode ser aceitável. Depois podemos focar em deixar a zzpad rápida.

[2016-04-06 22:17] aureliojargas commented on #249
Arrumado :

[2016-04-06 22:18] aureliojargas commented on #249
Quanto à quebra de linha, isso de usar só `\r` era coisa do Mac clássico, antes de virar Unix. Hoje é `\n`, normal.

[2016-04-06 22:19] aureliojargas commented on #260
Arrumado :+1:

[2016-04-06 22:19] #260 closed

[2016-04-06 22:19] aureliojargas commented on #263
Shoooow, com essas primeiras correções já baixou pra 25! :clap: :clap:

[code]

A hora que resolver a questão do alinhamento com acentos vai fechar a maioria.

[2016-04-06 23:17] itamarnet commented on #258
Não sei como funciona exatamente em cada distro com relação ao diretório ``` /tmp ```:
- em alguns casos os arquivos lá são apagados a cada reinicialização
- em outros há um período pré definido no ``` cron ```
- e em outros, são mantidos indefinidamente, como é o caso do slack.
Antes que eu tente algo mais para ``` zzramones ``` e ``` zzlocale ``` pode verificar se o cache foi atualizado?

[2016-04-07 02:28] itamarnet commented on #259
Mesmo caso das chaves em regex no ``` awk ``` já citado em https://github.com/funcoeszz/funcoeszz/issues/263#issuecomment-206125679

Commit 56da7f3d641bbd2ffed78c1fb8e0beb7d5c10deb

[2016-04-07 08:40] itamarnet commented on #247
Essa falha ainda permanece.
Pelo que noto o problema deveria ter sido solucionado juntamente na solução do issue #249 , que afetaria a ``` zzalinhar ``` e a ``` zzcolunar ```.
Pode verificar esse também?

[2016-04-07 08:42] itamarnet commented on #255
O mesmo comentário de https://github.com/funcoeszz/funcoeszz/issues/258#issuecomment-206616506

[2016-04-07 15:30] aureliojargas commented on #247
Infelizmente não resolveu, problema continua igual.

[2016-04-07 15:31] aureliojargas commented on #249
Droga, eu conferi no Ubuntu (e lá funcionou), mas no BSD o problema continua.

Pelo menos resolveu um dos problemas, agora sobram dois:

[code]

[2016-04-07 15:33] aureliojargas commented on #264
Concordo!

[2016-04-07 15:36] aureliojargas commented on #244
Tirei o `g` e deu a mesma saída :/

[2016-04-07 16:08] itamarnet commented on #249
Estou sem muitas idéias sobre esse detalhe em especial e acho que vou ter que instalar um BSD numa VM para testar isso.

Antes desse recurso pode tentar mais uma opção?

Na linha 111 do ``` zzwc ``` trocar:
``` sed 's/[^[:cntrl:]]/./g' | wc -c ```

por:
``` sed 's/[^[:cntrl:]]/./g' | awk 'BEGIN {FS=""} { print NF }' ```

Não é ``` POSIX ```, mas aqui funcionou com ``` awk ```, ``` mawk ``` e ``` b

[2016-04-07 16:18] aureliojargas commented on #251
Show, com a mudança do 1b8f2a84cadb96f275a5ae40aad4fedb352fe132 resolveu o problema no Ubuntu! :+1:

[2016-04-07 16:18] #251 closed

[2016-04-07 16:21] aureliojargas commented on #258
Apagando o cache da função na mão, o teste foi.

De repente era uma boa apagar todos os caches antes de rodar a test suite.

[2016-04-07 16:24] aureliojargas opened #265 "Limpar cache antes de rodar a test suite"
Às vezes algum teste falha por causa de uma versão antiga (e problemática) do resultado da filtragem ainda estar lá presente na pasta `tmp` do usuário, como cache.

Apagar o cache resolve o problema (vide #255 e #258).

Pra evitar isso, o bom era mesmo que o `testador/run` já apagasse todos os caches antes de rodar os testes.

[2016-04-07 16:24] aureliojargas commented on #255
Apagando o cache na mão, funcionou :/

[2016-04-07 16:24] #255 closed

[2016-04-07 16:24] #258 closed

[2016-04-07 16:25] aureliojargas commented on #259
Resolvido, valeu! :+1:

[2016-04-07 16:25] #259 closed

[2016-04-07 16:27] aureliojargas commented on #263
@itamarnet não esquece de atualizar a wiki https://github.com/funcoeszz/funcoeszz/wiki/Portabilidade com estas pegadinhas do awk.

[2016-04-07 16:42] itamarnet commented on #265
Existe a chamada na ``` zztool cache rm '*' ``` no core que pode ser invocada para limpar tudo.
Ou ``` zztool cache rm funcaozz ``` para uma limpeza específica.

[2016-04-07 16:45] itamarnet commented on #263
Sim, estou anotando tudo.
Assim que tiver um compilado, atualizo o wiki.

[2016-04-08 08:03] itamarnet commented on #226
Site muito instável, talvez seja melhor desativá-la em definitivo :(

[2016-04-08 09:41] aureliojargas commented on #226
Se tá dando trabalho, desativa mesmo!

[2016-04-08 12:04] itamarnet commented on #246
@aureliojargas
Esse é um item que está difícil de reproduzir, então te peço mais um favor.
Se possível me envie o resultado da saída desses comandos.
[code]
Nos ambientes onde ocorrem os testes não ocorrem essas falhas.
Ou vou ter que esperar até conseguir colocar um BSD funcionando em um VM, e minha perspectiva mais próxima é apenas no fim de semana, se não houver imprevistos.

[2016-04-08 15:11] #265 closed

[2016-04-08 15:12] aureliojargas commented on #265
Feito!

[2016-04-08 15:18] aureliojargas commented on #246
* [duplasena.txt](https://github.com/funcoeszz/funcoeszz/files/210383/duplasena.txt)
* [federal.txt](https://github.com/funcoeszz/funcoeszz/files/210382/federal.txt)

[2016-04-08 15:42] #248 closed

[2016-04-08 15:43] aureliojargas commented on #248
Sei lá qual que era o problema antes, agora funcionou sem precisar mexer nada na função. :smile:

[2016-04-08 15:46] aureliojargas commented on #249
Bingo! Com esta alteração resolveu. :+1:

[2016-04-08 15:59] itamarnet commented on #246
Obrigado @aureliojargas .

Mas acredite se quiser, não repetiu o erro.

Usei os arquivo que me mandou, repeti passo a passo o que a função faz e o que o testador faz e
retorna o que está previsto no testador.

Obs.: Levei em consideração as "novidades descobertas" recentemente que davam erros ou divergências na saída.

Tem alguma sugestão ou teoria sobre o assunto? Confesso que ainda estou perdido

[2016-04-08 20:03] itamarnet commented on #249
Feito!
Commit 3d7cdeb1f3d3cfe908c44e1c549589617b711378

[2016-04-08 20:03] #249 closed

[2016-04-08 20:05] itamarnet commented on #247
E agora resolveu com a solução do issue #249 ?

[2016-04-08 21:57] aureliojargas opened #267 "zzdistro: testes falhando no Ubuntu"
[code]

[2016-04-08 21:59] aureliojargas opened #268 "zzdicesperanto: falhando no Ubuntu"
[code]

[2016-04-08 22:02] aureliojargas opened #269 "zzcidade: testes falhando no Ubuntu (ordenação)"
[code]

[2016-04-08 22:06] aureliojargas commented on #269
Essas diferenças de ordenação entre os sistemas são chatas :(

Talvez setar o `LC_ALL=C` neste teste pra garantir ordenação uniforme?

[2016-04-08 22:22] itamarnet commented on #267
Eu já disse que odeio mawk ?

[2016-04-08 22:37] itamarnet commented on #268
O ``` zzdicesperanto ``` consulta um site que é bem mais amplo nas opções de tradução do que as opções em português, inglês, alemão e esperanto.

Seria o caso de ter essa gama adicional de idiomas disponíveis?

Talvez usar uma opção ``` --listar ``` que mostre a lista de idiomas possíveis?

Apenas uma divagação.

Talvez seja mais efetivo incluir apenas espanhol, italiano e francês.

O que acha?

[2016-04-08 22:40] aureliojargas commented on #267
:smile:

[2016-04-09 01:22] itamarnet commented on #267
Mesmo "ladainha" de uso de chaves numa regex no mawk.
Corrigido no commit 75f407cbfef16586de64ed0a8fc4825a92367eb5

[2016-04-09 01:23] itamarnet commented on #269
Sugestão aceita e inclusa na função
Commit 9b8fad59d5c4667728c3f1e726a77b9b997efeb1

[2016-04-09 01:41] itamarnet commented on #268
Testador atualizado
Commit 36762961a029713411b171b09238640e228d13f3

[2016-04-11 12:30] itamarnet opened #270 "Minimizar diferenças entre navegadores e suas versões."
Nas Funções ZZ há possibilidade de uso, quando disponível no SO, de 3 navegadores por enquanto:
 - lynx ( padrão )
 - links ( necessário em algumas funções e no uso do Travis )
 - w3m ( mais recente, mais limitado, mas promissor )

Todavia a forma como exibem as páginas (dump) tem diferenças sensíveis entre eles, e até em diferentes versões do mesmo navegador, por exemplo:
 - Interpretação de títu

[2016-04-11 15:21] aureliojargas commented on #270
Para ajudar a minimizar este problema, podemos fazer uma revisão se todas as funções que hoje usam o `dump` realmente precisam dele, se de repente não poderia usar o `download` em seu lugar.

Seria bom que o uso do `dump` fosse uma exceção, quando não há outra maneira de fazer a mesma coisa, pois com esta realidade de múltiplos browsers vai ficar muito trabalhoso contornar estas diferenças e mante

[2016-04-11 16:37] itamarnet commented on #270
Não fiz um levantamento completo, mas numa visão geral, o uso de ``` download ``` não parece trazer uma solução definitiva também, visto que baixamos uma página que eventualmente seria analisada com recurso do ``` dump ``` ou o código fonte puro com ajuda do ``` zzunescape ```, ``` zzjuntalinhas ```, ``` zztrim ```, ``` zzutf8 ``` ou ``` zzxml ``` ( ou até mais ).

O ideal mesmo seria existir uma

[2016-04-12 10:17] aureliojargas commented on #269
Deu certo! :+1:

[2016-04-12 10:17] #269 closed

[2016-04-12 22:00] aureliojargas commented on #267
Resolveu! :+1:

[2016-04-12 22:00] #267 closed

[2016-04-12 22:02] aureliojargas commented on #268
Que estranho, agora deu erro em outras palavras. Parece que tá vindo meio aleatório.

[code]

[2016-04-12 22:04] aureliojargas commented on #247
[code]

Passou! :+1:

[2016-04-12 22:04] #247 closed

[2016-04-12 22:06] aureliojargas commented on #253
O ajuste feito no e2ee568aa3e2833ab9dd3580ab45899b56d8cd91 arrumou aqui.

[code]

:+1:

[2016-04-12 22:06] #253 closed

[2016-04-12 22:32] itamarnet commented on #268
E está mesmo.
Mas acho que topamos com um momento de transição do site. Alguns itens que estão lá agora, não estavam da última vez que o consultei.
Talvez seja melhor deixar essa função momentaneamente de lado, e aguardar a estabilização do site de origem da informação.

[2016-04-14 01:05] itamarnet commented on #270
No momento o problema mais gritante entre navegadores é com o ``` links ```:
 - na forma como interpreta a tag ``` <hr /> ``` na versão 2.6 que é a usada pelo Travis (na versão 2.8 o problema está resolvido)
 - e o limite máximo da largura na opção``` -width ```, que aceita até 512.

No primeiro caso o ``` links ``` (2.6) coloca 3 linhas consecutivas em branco para representar a tag ``` <hr /> ```

[2016-04-14 11:42] itamarnet commented on #270
Outro fato constatado é a questão de tags mal formatadas, seja a tag em si ou seus atributos.

Na adaptação da ``` zzrastreamento ``` foi necessário apelar para o uso do código fonte da página ( ``` zztool source ``` ), visto que usar o ``` dump ``` há um comportamento totalmente diferente entre os navegadores ``` lynx ```, ``` links ``` e ``` w3m ```.
O motivo é essa construção: ``` <table  borde

[2016-04-14 21:40] itamarnet commented on #270
Seria muito estranho ao invés do ``` google.com ``` usar o ``` duckduckgo.com ``` no ``` zzgoogle ```?

Por incrível que pareça, tratar o google pelo ``` links ``` está sendo um tormento. :(

[2016-04-16 20:26] aureliojargas commented on #270
Quanto ao bug do links 2.6 que foi resolvido na 2.8, acho melhor então não fazer nada e simplesmente esperar um tempo até que a versão nova seja a default. Que fique quebrado durante este tempo. Senão vamos tornar nosso software mais complexo por causa de bugs alheios.

Juntando isso com o problema do `-width` que você citou, mais as bordas das tabelas, mais... Isso não vai ter fim nunca. Será um

[2016-04-17 00:38] itamarnet commented on #270
É uma condição complicada mesmo camarada!

A opção de download apesar de trabalhosa é viável, mas podemos nos deparar com a questão de sites feitos com IDE's que poluem o código, tratamento de tags mal formatadas, scripts embutidos e outras possibilidades inesperadas, coisas que esses navegadores tratariam de forma melhor. ( a ``` zzrastreamento ``` mostrou! )

Optar por apenas um navegador é uma

[2016-04-22 19:55] itamarnet commented on #263
@aureliojargas Aqui comigo zerou as pendências no Ubuntu.
Quando puder confere e veja se há alguma pendência ainda contigo.

Pelo meu lado esse é um issue que pode ser fechado.

[2016-04-22 22:08] aureliojargas opened #271 "zzblist falhando no Ubuntu e Mac"
[code]

Part of #263

[2016-04-22 22:13] aureliojargas commented on #263
[code]

Show, foi só esse da zzblist mesmo que falhou. :+1:

[2016-04-23 20:39] itamarnet commented on #226
Desativada em definitivo
Commit 69e9439b1c6d496ad2361096236b7d47bfa5fff7

[2016-04-23 20:39] #226 closed

[2016-04-24 19:05] itamarnet commented on #182
Acho com o commit 30a90b7cf033c262d56dc4a9a1c4ae65d8d93be4 aplicado a ``` zztv ``` fechamos a questão do alinhamento.
Há algum ainda que ache que esteja pendente? Ou podemos considerar feito?

[2016-04-28 09:26] aureliojargas commented on #177
Testes passando "quase" 100% no Linux: https://travis-ci.org/funcoeszz/funcoeszz

Coloquei o badge (a imagem tipo botão) lá no README do projeto, pra ter uma maneira rápida de saber o status atual. Clicar no botão vai pra página de log do último build, pra ver o que quebrou.

[2016-04-28 10:33] itamarnet commented on #177
Opa, isso facilita em muito.
No Linux os erros que aparecem são devido a mudanças nos sites consultados, na velha história de ajustar-se a mudanças de layout ou conteúdo. Esse é um "problema" recorrente e permanente, mas que nada impede a continuidade do processo.
A exceção é ``` zzhora ``` que, pela segunda vez que me lembro, apresentou erro apenas por causa do momento do resultado feito pela fun

[2016-04-28 15:10] aureliojargas commented on #263
Já abri uma issue pra tratar da zzblist especificamente, então podemos fechar esta aqui.

[2016-04-28 15:10] #263 closed

[2016-04-28 15:12] aureliojargas opened #272 "zzmariadb: sed: 1: "/^\( *\* \)\{,1\}[A-Z]\ ...": RE error: invalid repetition count(s)"
Não pode deixar intervalo aberto de entrada `{,7}` no sed, só de saída `{7,}`

[2016-04-28 15:17] aureliojargas commented on #177
Nesse caso da `zzhora` é só ir no Travis e disparar o teste de novo, aí vai passar. Mas bom saber, nunca peguei esse caso :)

[2016-04-28 15:21] aureliojargas commented on #271
No Mac também falha, e apareceu outros.

[code]

[2016-04-28 15:25] aureliojargas commented on #182
Resolvido sim, os testes que estão quebrados agora aqui pra mim não têm a ver com alinhamento.

[2016-04-28 15:25] #182 closed

[2016-04-28 16:15] aureliojargas commented on #177
@itamarnet Estou configurando o Travis pra rodar no Mac também. Lá o nome do executável do elinks é `elinks` mesmo, enquanto nas ZZ está como `links`. Rola mudar pra `elinks` e vai continuar funcionando em todos os lugares?

[2016-04-28 17:13] itamarnet commented on #177
Nas distros que consultei, sempre havia a criação de um link simbólico para ``` links ```, então imaginava ser um comportamento padrão tanto no uso do ``` elinks ``` como do ``` links2 ```.
Melhor então é colocar como uma opção também no core, e torcer que as opções sejam as mesmas do ``` links ```.

[2016-04-28 17:15] itamarnet commented on #271
Que sinistro!
Como explicar isso?

[2016-04-28 21:59] itamarnet commented on #271
Não tinha reparado, mas são outros 2 endereços adicionais com o mesmo domínio.
Vou corrigir o problema de portabilidade no sed do BSD e deve suprimir esses erros.